<template>
  <div class="search">
    <button class="btnSearch" v-on:click="showSearch()">
      <i class="fas fa-search"></i>
      探す
    </button>
    <div v-show="searchShow" class="searchSelect">
      <button v-on:click="closeSearch()" class="searchSelect__close">×</button>
      <div class="searchSelect__pick">
        <!-- <router-link v-bind:to="{ name : 'category'}">和食</router-link>
        <router-link v-bind:to="{ name : 'category'}">喫煙所</router-link>
        <router-link v-bind:to="{ name : 'category'}">イベント</router-link>-->
      </div>
      <div class="searchSelect__search">
        <input type="text" placeholder="検索ワードを入力ください。" />
        <i class="fas fa-search"></i>
        <button>検索</button>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../store";

export default {
  components: {},
  computed: {},
  data: function() {
    return {
      searchShow: false
    };
  },
  methods: {
    showSearch: function() {
      this.searchShow = true;
    },
    closeSearch: function() {
      this.searchShow = false;
    }
  },
  watch: {},
  computed: {},
  created() {}
};
</script>

<style scoped lang="scss">
.btnSearch {
  color: inherit;
  border: none;
  background: none;
}
.searchSelect {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  button {
    padding: 20px;
    color: #ffffff;
    // width: 40%;
  }
  a {
    display: block;
    color: #333333;
    background: #ffffff;
  }
  .searchSelect__close {
    font-size: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    color: #333333;
  }
  .searchSelect__pick {
    text-align: center;
    a {
      display: inline-block;
      margin: 0 10px 10px 0;
      padding: 8px 12px;
      text-align: center;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 5px;
      background: #333333;
    }
  }
}
.searchSelect__search {
  position: relative;
  margin: 10px 0 30px;
  input[type="text"] {
    width: 100%;
    height: 2em;
    padding: 3px 60px 3px 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 2em;
    padding: 0;
    color: #333333;
  }
  i {
    position: absolute;
    top: 7px;
    left: 10px;
  }
}
</style>
