<template>
  <div id="tenpureplus" :class="$route.name">
    <gNav class="top" />
    <transition :css="false" @before-enter="beforeEnter" @leave="leave">
      <!-- key指定でコンポーネントの再利用をやめる(カテゴリページが同一コンポーネント)  :key="$route.fullPath"-->
      <div :key="$route.fullPath">
        <router-view />
      </div>
    </transition>
    <gFoot />
    <btnPageTop />
  </div>
</template>

<script>
import "normalize.css";
import Vue from "vue";
import store from "@/store";
import gNav from "@/viewComponent/organisms/gNav.vue";
import gFoot from "@/viewComponent/organisms/gFoot.vue";
import btnPageTop from "@/viewComponent/molecules/btnPageTop.vue";
export default {
  components: {
    gNav,
    gFoot,
    btnPageTop
  },
  data() {
    return {};
  },
  computed: {
    templatesGetNum: () => store.state.templatesGetNum // イベントを一度に取得する件数
  },
  watch: {},
  mounted() {},
  created() {
    // グローバルメソッド追加
    Vue.mixin({
      methods: {
        loadfin() {
          // ローディング非表示
          let load = document.getElementById("loading");
          load.classList.add("is__fin");
          setTimeout(() => {
            load.style.display = "none";
          }, 2000);
        },
        // 消費税率 10%
        gTax() {
          return 10;
        },
        // 金額カンマ追加
        gMoneyjp(price) {
          return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        },
        // 消費税計算
        gMoneyTax(price, flg) {
          let value = 0;
          if (flg == "add") {
            value = Math.floor((price * (100 + this.gTax())) / 100);
          }
          if (flg == "remove") {
            value = Math.floor((price * this.gTax()) / 100);
          }
          return value;
        }
      }
    });
    /**
     * IE scroll固定背景スムーズにする
     */
    if (navigator.userAgent.match(/MSIE 10/i) || navigator.userAgent.match(/Trident\/7\./) || navigator.userAgent.match(/Edge\/12\./)) {
      document.body.addEventListener("mousewheel", function() {
        event.preventDefault();
        let wd = event.wheelDelta;
        let csp = window.pageYOffset;
        window.scrollTo(0, csp - wd);
      });
    }
    /**
     * iosの場合bodyにclass追加
     */
    if (navigator.userAgent.match(/iP(hone|(o|a)d)/)) {
      document.body.classList.add("ios");
    }
  },
  methods: {
    beforeEnter: function(el) {
      //elは遷移後画面
      // console.log(el);
      el.style.opacity = 0;
      el.classList.add("is__preshow");
      this.prePage = el;
    },
    leave(el, done) {
      //elは遷移後画面
      el.style.opacity = 0;
      setTimeout(() => {
        //this.prePageは遷移後画面
        this.prePage.style.opacity = 1;
      }, 10);
      setTimeout(() => {}, 700);
      setTimeout(() => {
        window.scrollTo(0, 0);
        done();
        this.prePage.classList.remove("is__preshow");
        this.prePage.style.transform = "none";
      }, 700);
    }
  }
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
img,
iframe {
  max-width: 100%;
}
ul,
li {
  padding: 0;
  list-style: none;
}
body {
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.04em;
  font-feature-settings: "palt" 1;
  @media screen and (max-width: 1800px) {
    font-size: 14px;
    font-size: calc(12px + 0.5vw);
  }
  // @media screen and (max-width: 1300px) {
  //   font-size: 14px;
  //   font-size: calc(12px + 0.5vw);
  // }
  // @media screen and (max-width: 1150px) {
  //   font-size: 14px;
  //   font-size: calc(12px + 0.5vw);
  // }
  @media screen and (max-width: 800px) {
    font-size: 3vw;
  }
  @media screen and (max-width: 500px) {
    font-size: 4vw;
  }
  @media screen and (max-width: 320px) {
    font-size: 4.5vw;
  }
}
body.ios {
  letter-spacing: 0;
}
#tenpureplus {
  font-family: "Kosugi Maru", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  overflow: hidden;
}
#tenpureplus > div {
  transition: opacity 0.7s ease;
}
.is__preshow {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  // .ios & {
  //   transform: translateZ(1px);
  // }
}

a {
  color: #3b3938;
}
input,
textarea {
  // font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}
.g__cap {
  font-size: 80%;
}
.g__inner {
  // max-width: 1200px;
  margin: 0 auto;
  padding: auto 15px;
  @media screen and (min-width: 800px) {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.g__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.g__flex__50 {
  width: 100%;
  @media screen and (min-width: 800px) {
    width: 50%;
    padding: 10px;
  }
}
.g__flex__50:nth-child(1) {
  padding-left: 0;
}
.g__flex__50:nth-child(2n) {
  padding-right: 0;
}
.g__flex__25 {
  width: 25%;
  padding: 10px;
}
.g__flex__50:nth-child(1) {
  padding-left: 0;
}
.g__flex__50:nth-child(4) {
  padding-right: 0;
}
.g__caption {
  font-size: 75%;
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
  @media screen and (min-width: 1300px) {
    font-size: 67%;
  }
}
.g__smp__hide {
  display: none;
}
.g__pc__hide {
  display: initial;
}
@media screen and (min-width: 800px) {
  .g__pc__hide {
    display: none;
  }
  .g__smp__hide {
    display: initial;
  }
}
_:-ms-fullscreen,
:root .selector {
  .g__pc__hide {
    display: inherit;
  }
}
@media screen and (min-width: 800px) {
  _:-ms-fullscreen,
  :root .g__smp__hide {
    display: inherit;
  }
}
// background
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -510px;
  }
}
@keyframes bound {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
</style>
