<template>
  <!-- アピール -->
  <section class="appeal g__flex__50" ref="appeal" v-observe-visibility="visibilityChanged">
    <div class="appeal__inner">
      <div class="appeal__inner__sub">
        <svg id="svg_appeal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 200">
          <g id="appeal">
            <path
              ref="title4"
              class="cls-1"
              d="M543.39,129.86c-3,12.38-21.82,7.88-18.78-4.61L533.72,88c2.92-12.37,21.83-7.76,18.79,4.62Zm60,2.48a27.68,27.68,0,0,1-20,8.32c-11.92,0-19.23-8-19.23-18.67V66.08c0-12.83,19.91-12.83,19.91,0v52.53a2.52,2.52,0,0,0,1.35,2.14,2.63,2.63,0,0,0,2.58,0,19.53,19.53,0,0,0,1.8-1.46l8.55-9.23c9-9.67,22.84,4.61,13.73,13.61Z"
            />
            <path ref="title3" class="cls-1" d="M438.26,106c-11,0-11-18,0-18h59.51c11.14,0,11.14,18,0,18Z" />
            <path
              ref="title2"
              class="cls-1"
              d="M378.42,82.84c1.13-1.46,4.62-5.51,4.62-5.51,4.27-5.29,12-5.85,16,.78a54.38,54.38,0,0,1,4.16,10.58c1.58,5.4-2.59,11.81-8.66,11.81H351v17.55a3.63,3.63,0,0,0,3.6,3.6h35.78c11.36,0,11.36,17.21,0,17.21H357.27c-6.74,0-14.4-1.8-19.46-7.2-6.41-6.75-6.52-14.74-6.52-21.82V69.68c0-12.71,19.57-12.94,19.57,0V82.84Zm30.83-.45a3.75,3.75,0,0,1-1.92.34,4,4,0,0,1-3.71-2.48,4.33,4.33,0,0,1,2.14-5.74,4.27,4.27,0,0,0,2.7-4.05,4.66,4.66,0,0,0-8.89-2.13,4.28,4.28,0,1,1-7.76-3.6,13.26,13.26,0,1,1,17.44,17.66Z"
            />
            <path
              ref="title1"
              class="cls-1"
              d="M292.07,60.12c15.18,0,24.75,20.24,5.17,40.94-6,6.53-16,2.14-16-7.08V79.46H237.4c-12.83,0-12.83-19.34,0-19.34Zm-18.56,50.17a40.93,40.93,0,0,1-12.83,29.13c-9.45,8.66-22.61-5.51-13.16-14.17a21,21,0,0,0,5.29-8.21V96.34c0-13.28,20.7-14.4,20.7,1.35Z"
            />
            <g ref="icon">
              <path
                id="icon1"
                class="cls-2"
                d="M191.54,98.17l-5.6-38.32a12.74,12.74,0,0,0-15.6-9l-36,14.31c-6.8,1.82-11.77,14-5.33,17.72l14.73,8.5L118,132.25A4.87,4.87,0,0,0,119.5,139l12.33,7.77a4.86,4.86,0,0,0,6.7-1.52l26.28-41.68,15.89,9.18C185.3,115.36,193.36,105,191.54,98.17Z"
              />
              <g id="icon2">
                <path
                  class="cls-1"
                  d="M207,69.5a.51.51,0,0,1-.46-.5c0-.47-.14-11.61-10.59-13.51a.5.5,0,0,1-.41-.5.49.49,0,0,1,.42-.48c.52-.08,12.62-2.11,13.58-14.55a.5.5,0,0,1,.5-.46h0a.5.5,0,0,1,.46.54c-.36,5.06.14,13.81,7.61,15.47a.5.5,0,0,1,0,1c-.36.08-8.7,2.07-10.62,12.6a.49.49,0,0,1-.49.41Z"
                />
                <path
                  class="cls-1"
                  d="M210,40h0m0,0c-.19,2.63-.81,14,8,16,0,0-9,2-11,13,0,0,0-12-11-14,0,0,13-2,14-15m0-1a1,1,0,0,0-.3,0h0a.91.91,0,0,0-.37.21,1,1,0,0,0-.26.37h0a1,1,0,0,0-.07.3c-.93,12-12.65,14-13.15,14.08a1,1,0,0,0-.85,1,1,1,0,0,0,.82,1c10,1.83,10.18,12.57,10.18,13a1,1,0,0,0,.91,1H207a1,1,0,0,0,1-.82c1.85-10.18,9.9-12.13,10.24-12.2a1,1,0,0,0,.78-1,1,1,0,0,0-.78-1c-7.07-1.57-7.57-10-7.23-14.88a.61.61,0,0,0,0-.14,1,1,0,0,0-1-1Zm0,2h0Z"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <h3 class="appeal__title">
        <span data-ruby="・・・・・"><b ref="appeal__title__blind1"></b><strong ref="appeal__title__1">多言語動画</strong></span
        >で<br class="g__pc__hide" /><span data-ruby="・・・"><b ref="appeal__title__blind2"></b><strong ref="appeal__title__2">国内外</strong></span
        >にアピールしよう！
      </h3>
      <p class="appeal__division">
        <img ref="appeal__division" src="~@/images/appeal_division.png" alt="漫画説明" />
      </p>
      <linkButton
        :params="{
          color: '#16B3EE',
          text: '翻訳参考例を見る',
          router: {
            name: 'translation'
          }
        }"
      />
    </div>
  </section>
</template>

<script>
import { gsap, TimelineLite, Elastic, Back } from "gsap";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
export default {
  components: {
    linkButton
  },
  data() {
    return {
      timeline: null
    };
  },
  computed: {},
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // animation start
        this.timeline.play(0);
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  watch: {},
  created() {},
  mounted() {
    let timeAdjust = 0.7;
    this.timeline = new TimelineLite();
    this.timeline
      // アイキャッチタイトル部分
      .set(this.$refs.icon, { y: 160, x: -50 })
      .set(this.$refs.title1, { y: 160, x: -50 })
      .set(this.$refs.title2, { y: 160, x: -50 })
      .set(this.$refs.title3, { y: 160, x: -50 })
      .set(this.$refs.title4, { y: 160, x: -50 })
      .set(this.$refs.appeal__title__1, { yPercent: 10 })
      .set(this.$refs.appeal__title__2, { yPercent: 10 })
      .set(this.$refs.appeal__title__blind1, { width: "100%", x: 0 })
      .set(this.$refs.appeal__title__blind2, { width: "100%", x: 0 })
      .set(this.$refs.appeal__division, { scale: 0, rotateY: 240 })
      .to(
        this.$refs.icon,
        1.5,
        {
          y: 0,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust
      )
      .to(
        this.$refs.title1,
        1.5,
        {
          y: 0,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.1
      )
      .to(
        this.$refs.title2,
        1.5,
        {
          y: 0,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.2
      )
      .to(
        this.$refs.title3,
        1.5,
        {
          y: 0,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.3
      )
      .to(
        this.$refs.title4,
        1.5,
        {
          y: 0,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.4
      )
      // title
      .to(
        this.$refs.appeal__title__blind1,
        0.5,
        {
          width: 0
        },
        timeAdjust + 0.6
      )
      .to(
        this.$refs.appeal__title__1,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.7
      )
      .to(
        this.$refs.appeal__title__blind2,
        0.5,
        {
          width: 0
        },
        timeAdjust + 0.9
      )
      .to(
        this.$refs.appeal__title__2,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1
      )
      // manga
      .to(
        this.$refs.appeal__division,
        1,
        {
          scale: 1,
          rotateY: 0,
          ease: Back.easeOut.config(2)
        },
        timeAdjust + 1.3
      );
    this.timeline.pause(0.1);
  }
};
</script>

<style scoped lang="scss">
.appeal {
  position: relative;
  z-index: 1;
  padding: 6px 0 0 0;
  @media screen and (min-width: 800px) {
    padding: 6px 3px 0 0;
  }
}
.appeal__inner {
  position: relative;
  height: 100%;
  padding: 20px 20px 80px;
  animation: move 10s linear infinite both;
  border-radius: 8px;
  background-color: #ffec00;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
  @media screen and (min-width: 800px) {
    padding: 3vw 3vw 3vw 5vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 7vw 3vw 5vw 12vw;
  }
}
.is__observe .appeal__inner::before {
  animation: move 10s linear infinite;
}
.ios .appeal__inner::before {
  background-attachment: inherit;
}
.appeal__inner__sub {
  position: relative;
  svg {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: 800px) {
      margin-top: -2vw;
    }
  }
  .cls-1,
  .cls-2 {
    fill: #3b3938;
  }
}
.appeal__title {
  font-size: 90%;
  line-height: 1.8;
  position: relative;
  transition: all 0.5s;
  text-align: center;
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
  span {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
  }
  strong {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  b {
    position: absolute;
    z-index: 2;
    top: 6.5%;
    right: 0;
    display: block;
    width: 100%;
    height: 85%;
    background: #333333;
  }
  span::after {
    position: absolute;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    content: "";
    border-radius: 8px;
    background: #ffffff;
  }
  span::before {
    position: absolute;
    top: -1.1em;
    left: 5px;
    content: attr(data-ruby);
  }
}
.appeal__division {
  line-height: 0;
  margin: 0 -10px 20px;
  // padding: 10px 10px 10px 5px;
  // border: 4px solid #3b3938;
  // background: #ffffff;
  @media screen and (min-width: 800px) {
    margin: 0 auto 30px;
    padding: 0 3vw;
    // padding: 1.2vw 1.2vw 1.2vw 1vw;
    // border: 5px solid #3b3938;
  }
}
.appeal__anchor {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}
</style>
