<template>
  <section class="create g__flex__50" ref="create" v-observe-visibility="visibilityChanged">
    <div class="create__inner">
      <div class="create__inner__sub">
        <svg id="svg_create" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 200">
          <g id="create">
            <g ref="icon">
              <path
                class="cls-1"
                d="M115.48,130.35c0,4.6,15.3,19.13,15.3,19.13V124.61H119.3A5.78,5.78,0,0,0,115.48,130.35Zm5.89-7.77h20.84a4,4,0,0,0,4-4V54.76a4,4,0,0,0-4-4H121.37a4,4,0,0,0-4,4v63.83A4,4,0,0,0,121.37,122.58Zm22.8,2H132.7v24.87S148,135,148,130.35A5.79,5.79,0,0,0,144.17,124.61Z"
              />
            </g>
            <path
              ref="title1"
              class="cls-2"
              d="M232.16,62.82c8,0,15.68,7.28,15.79,15.56l.11,11.2c0,10.76-2.12,19.49-9,28.34-6.72,8.51-17.24,16.58-25.87,23.3-10.08,7.72-22.29-7.73-12.21-15.57,2.69-2,14.79-10.08,21.84-17.59a6.51,6.51,0,0,0,1.68-4.25v-22a1.77,1.77,0,0,0-1.79-1.8c-4.48-.11-6.94-.22-13.44,0-3.69.12-4.37,2.24-5.71,4.6a129.8,129.8,0,0,1-14.22,18.81c-8.29,9.52-22.85-3.13-14.45-12.77,1.79-2.12,4.7-4.25,8.62-9.18s7.84-11,9-12.1a23.55,23.55,0,0,1,16.35-6.6Z"
            />
            <path
              ref="title2"
              class="cls-2"
              d="M300.7,99.55c0,12.77-19.37,12.77-19.37,0V69.42c0-12.76,19.37-12.65,19.37,0ZM343.6,101c0,8.85-.22,16.13-4.14,24a55.85,55.85,0,0,1-12.88,16.12c-9.41,8.07-21.73-4.36-13.22-12.88a58.83,58.83,0,0,0,8.06-9.29,9.66,9.66,0,0,0,1.57-5.27v-46c0-13.21,20.61-13.1,20.61,0Z"
            />
            <path
              ref="title3"
              class="cls-2"
              d="M384.26,140c-10.53,0-10.53-16.46,0-16.46H405.2V84.1h-16c-10.64,0-10.64-16.58,0-16.58H439c10.64,0,10.64,16.58,0,16.58H424.91v39.42h21.95c10.64,0,10.64,16.46,0,16.46Z"
            />
            <path
              ref="title4"
              class="cls-2"
              d="M526.94,65.84c0-7.28,7.62-11.09,14.23-8.06a58.72,58.72,0,0,1,9.29,5.37c5.94,4.15,6.16,12.88-.22,16.35l-19.6,10.76v43.12c0,13.44-20.27,13.44-20.27,0V101.46l-23.19,12.76c-11,6-19.93-10.52-9.07-16.46l48.83-27Z"
            />
            <path
              ref="title5"
              class="cls-2"
              d="M633,91.38c1.68-2.13,3.36-4.37,3.36-4.37,3.69-4.71,11.09-4.26,14.56,1,1.45,2.35,3,5.6,4.25,8.06,2.36,5.94-1.45,12.32-7.72,12.32h-38v27.1c0,13.33-20.39,13.33-20.39,0V66.06c0-13.44,20.39-13.44,20.39,0V91.38Z"
            />
          </g>
        </svg>
      </div>
      <h3 class="create__title">
        <span data-ruby="・・・・・"><b ref="create__title__blind1"></b><strong ref="create__title__1">多言語動画</strong></span
        >が<br class="g__pc__hide" /><span data-ruby="・・・・・"
          ><b ref="create__title__blind2"></b><strong ref="create__title__2">簡単に作成</strong></span
        >できる！
      </h3>
      <p class="create__division">
        <img ref="create__division" src="~@/images/create_division.png" alt="漫画説明" />
      </p>
      <linkButton
        :params="{
          color: '#FFEC00',
          text: '用途を選ぶ',
          router: {
            name: 'uses'
          }
        }"
      />
    </div>
  </section>
</template>

<script>
import { gsap, TimelineLite, Elastic, Back } from "gsap";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
export default {
  components: {
    linkButton
  },
  data() {
    return { timeline: null };
  },
  computed: {},
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      entry.target.classList.add("is__observe");
      if (isVisible) {
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // animation start
        this.timeline.play(0);
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  watch: {},
  created() {},
  mounted() {
    let timeAdjust = 0.7;
    this.timeline = new TimelineLite();
    this.timeline
      // アイキャッチタイトル部分
      .set(this.$refs.icon, { xPercent: 1800, yPercent: 1000 })
      .set(this.$refs.title1, { opacity: 0, x: 50 })
      .set(this.$refs.title2, { opacity: 0, x: 50 })
      .set(this.$refs.title3, { opacity: 0, x: 50 })
      .set(this.$refs.title4, { opacity: 0, x: 50 })
      .set(this.$refs.title5, { opacity: 0, x: 50 })
      .set(this.$refs.create__title__1, { yPercent: 10 })
      .set(this.$refs.create__title__2, { yPercent: 10 })
      .set(this.$refs.create__title__blind1, { width: "100%", x: 0 })
      .set(this.$refs.create__title__blind2, { width: "100%", x: 0 })
      .set(this.$refs.create__division, { scale: 0, rotateY: 240 })
      .to(
        this.$refs.icon,
        0.7,
        {
          yPercent: 0,
          ease: Back.easeOut.config(2)
        },
        timeAdjust
      )
      .to(
        this.$refs.icon,
        1.5,
        {
          xPercent: 0,
          ease: Back.easeOut.config(2)
        },
        timeAdjust + 0.7
      )
      .to(
        this.$refs.title1,
        1.5,
        {
          opacity: 1,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1.2
      )
      .to(
        this.$refs.title2,
        1.5,
        {
          opacity: 1,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1.1
      )
      .to(
        this.$refs.title3,
        1.5,
        {
          opacity: 1,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1
      )
      .to(
        this.$refs.title4,
        1.5,
        {
          opacity: 1,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.9
      )
      .to(
        this.$refs.title5,
        1.5,
        {
          opacity: 1,
          x: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.8
      )
      // title
      .to(
        this.$refs.create__title__blind1,
        0.5,
        {
          width: 0
        },
        timeAdjust + 1.3
      )
      .to(
        this.$refs.create__title__1,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1.4
      )
      .to(
        this.$refs.create__title__blind2,
        0.5,
        {
          width: 0
        },
        timeAdjust + 1.5
      )
      .to(
        this.$refs.create__title__2,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1.6
      )
      // manga
      .to(
        this.$refs.create__division,
        1,
        {
          scale: 1,
          rotateY: 0,
          ease: Back.easeOut.config(2)
        },
        timeAdjust + 1.9
      );
    this.timeline.pause(0.1);
  }
};
</script>

<style scoped lang="scss">
.create {
  position: relative;
  z-index: 1;
  padding: 6px 0 0 0;
  @media screen and (min-width: 800px) {
    padding: 6px 0 0 3px;
  }
}
.create__inner {
  position: relative;
  height: 100%;
  padding: 20px 20px 80px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #16b3ee;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.4;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
  @media screen and (min-width: 800px) {
    padding: 3vw 5vw 3vw 3vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 7vw 12vw 5vw 3vw;
  }
}
.is__observe .create__inner::before {
  animation: move 10s linear infinite;
}
.ios .create__inner::before {
  background-attachment: inherit;
}
.create__inner__sub {
  position: relative;
  svg {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: 800px) {
      margin-top: -2vw;
    }
  }
  .cls-1,
  .cls-2 {
    fill: #ffffff;
  }
}
.create__title {
  font-size: 90%;
  line-height: 1.8;
  position: relative;
  transition: all 0.5s;
  text-align: center;
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
  span {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
  }
  strong {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #ffffff;
  }
  b {
    position: absolute;
    z-index: 2;
    top: 6.5%;
    right: 0;
    display: block;
    width: 100%;
    height: 85%;
    background: #ffffff;
  }
  span::after {
    position: absolute;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    content: "";
    border-radius: 8px;
    background: #1194c5;
  }
  span::before {
    position: absolute;
    top: -1.1em;
    left: 5px;
    content: attr(data-ruby);
  }
}
.create__division {
  line-height: 0;
  margin: 0 -10px 20px;
  // padding: 10px 10px 10px 5px;
  // border: 4px solid #ffffff;
  // background: #1194c5;
  @media screen and (min-width: 800px) {
    margin: 0 auto 30px;
    padding: 0 3vw;
    // padding: 1.2vw 1.4vw 1.2vw 0.8vw;
    // border: 5px solid #ffffff;
  }
}
.create__anchor {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}
</style>
