<template>
  <div class="formtemplate">
    <div class="formtemplate__inputarea">
      <ValidationObserver v-slot="{ invalid }" ref="form">
        <form @submit.prevent="onSubmit">
          <div class ref="myname">
            <ValidationProvider rules="required" v-slot="{ errors }" :class="'inquiry__block'" name="お名前">
              <label for="myname">お名前 *</label>
              <input
                required
                id="myname"
                v-model="myname"
                type="text"
                @focus="focus($refs.myname)"
                @blur="blur($refs.myname, $refs.myname.querySelector('input'))"
              />
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class ref="furigana">
            <ValidationProvider rules="required" v-slot="{ errors }" :class="'inquiry__block'" name="フリガナ">
              <label for="furigana">フリガナ *</label>
              <input
                required
                id="furigana"
                v-model="furigana"
                type="text"
                @focus="focus($refs.furigana)"
                @blur="blur($refs.furigana, $refs.furigana.querySelector('input'))"
              />
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class ref="tel">
            <ValidationProvider rules="required" v-slot="{ errors }" :class="'inquiry__block'" name="電話番号">
              <label for="tel">電話番号 *</label>
              <input
                required
                id="tel"
                v-model="tel"
                type="text"
                @focus="focus($refs.tel)"
                @blur="blur($refs.tel, $refs.tel.querySelector('input'))"
              />
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class ref="email">
            <ValidationProvider rules="required|email" v-slot="{ errors }" :class="'inquiry__block'" name="メールアドレス">
              <label for="email">メールアドレス *</label>
              <input
                required
                id="email"
                v-model="email"
                type="text"
                @focus="focus($refs.email)"
                @blur="blur($refs.email, $refs.email.querySelector('input'))"
              />
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>

          <div class ref="management">
            <ValidationProvider
              :rules="{ required: { allowFalse: false } }"
              v-slot="{ errors }"
              :class="'inquiry__block management'"
              name="個人／法人"
            >
              <p style="text-align:left;">個人／法人 *</p>
              <input id="management" v-model="management" value="個人" type="radio" />
              <label for="management">個人</label>
              <input id="management2" v-model="management" value="法人" type="radio" />
              <label for="management2">法人</label>
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <!-- <div class ref="prefectures">
            <ValidationProvider
              rules="required"
              v-slot="{ errors }"
              :class="'inquiry__block'"
              name="都道府県"
            >
              <p style="text-align:left;">都道府県 *</p>
              <select
                v-model="prefectures"
                required
                id="prefectures"
                @focus="focus($refs.prefectures)"
                @blur="
                  blur(
                    $refs.prefectures,
                    $refs.prefectures.querySelector('select')
                  )
                "
              >
                <option value>選択してください</option>
                <option v-for="val in pref" :value="val" :key="val">
                  {{ val }}
                </option>
              </select>
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>-->
          <div class ref="company">
            <ValidationProvider rules="required" v-slot="{ errors }" :class="'inquiry__block'" name="会社名">
              <label for="company">会社名 *</label>
              <input
                required
                id="company"
                v-model="company"
                type="text"
                @focus="focus($refs.company)"
                @blur="blur($refs.company, $refs.company.querySelector('input'))"
              />
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>

          <div class ref="message">
            <ValidationProvider v-slot="{ errors }" :class="'inquiry__block box'" name="ご相談内容">
              <label for="message">ご相談内容をご入力ください</label>
              <textarea
                rows="5"
                id="message"
                v-model="message"
                @focus="focus($refs.message)"
                @blur="blur($refs.message, $refs.message.querySelector('textarea'))"
              ></textarea>
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class ref="privacy">
            <ValidationProvider
              :rules="{ required: { allowFalse: false } }"
              v-slot="{ errors }"
              :class="'inquiry__block privacy'"
              name="個人情報保護に同意"
            >
              <div style="border:1px solid #ccc;text-align:left;padding:10px;height:80px;overflow-y:scroll;margin-bottom:20px;">
                ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る
                ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る
                ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る
                ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る
                ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る ここに個人情報保護方針の内容が入る
                ここに個人情報保護方針の内容が入る
              </div>
              <input id="privacy" v-model="privacy" type="checkbox" value="個人情報保護に同意する" />
              <label for="privacy">個人情報保護に同意する *</label>
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div>
            <button class="inquiry__submit" :disabled="invalid" ref="carSubmit">
              <template v-if="invalid">
                送信
                <span>※未入力項目があります</span>
              </template>
              <template v-else>送信</template>
            </button>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { ValidationObserver, ValidationProvider, extend, localize } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";

extend("required", required);
extend("email", email);
localize("ja", ja);

export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data: function() {
    return {
      myname: "",
      furigana: "",
      tel: "",
      email: "",
      // prefectures: "",
      management: "",
      company: "",
      message: "",
      privacy: ""
    };
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate().then(success => {
        if (!success) {
          alert("未入力項目があります");
          return;
        }
        this.send();
        alert("送信されました。");
        // Wait until the models are updated in the UI
        this.$nextTick(() => {
          this.$refs.form.reset();
        });
      });
    },
    focus: dom => {
      dom.classList.add("js-focus");
    },
    blur: (dom, inputdom) => {
      if (!inputdom.value) {
        dom.classList.remove("js-focus");
      }
    },
    // メール送信
    send() {
      this.$refs.carSubmit.disabled = true;
      const formData = new URLSearchParams();
      formData.append("myname", this.$refs.myname.querySelector("input").value);
      formData.append("furigana", this.$refs.furigana.querySelector("input").value);
      formData.append("tel", this.$refs.tel.querySelector("input").value);
      formData.append("email", this.$refs.email.querySelector("input").value);
      // formData.append(
      //   "prefectures",
      //   this.$refs.prefectures.querySelector("select").value
      // );
      formData.append("management", this.$refs.management.querySelector("input").value);
      formData.append("company", this.$refs.company.querySelector("input").value);
      formData.append("message", this.$refs.message.querySelector("textarea").value);
      formData.append("privacy", this.$refs.privacy.querySelector("input").value);
      console.log(formData);
      // メール送信
      let check = location.host.match(/\.local$|localhost/);
      const API_URI = check
        ? "https://mvms.movie.local/wp-json/contact-form-7/v1/contact-forms/5/feedback/"
        : "https://mvms.jt-akihabarajp.work/wp-json/contact-form-7/v1/contact-forms/5/feedback/";
      return axios
        .post(API_URI, formData)
        .then(response => {
          console.log(response);
          // submitボタンクリック可
          this.$refs.carSubmit.disabled = false;
        })
        .catch(err => console.log(err));
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.inquiry__tit {
  text-align: center;
}
input[type="text"] {
  width: 100%;
  padding: 5px 10px 5px 0;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 2em 10px 5px;
  border: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
}
.formtemplate__inputarea {
  max-width: 650px;
  margin: 0 -10px;
  margin: 0 auto;
  padding: 30px 10px 10px;
  border: 2px solid #cccccc;
}
.inquiry__block {
  font-size: 90%;
  position: relative;
  display: block;
  padding: 10px 0 40px;
  label {
    position: absolute;
    top: 0.8em;
    left: 0;
    transition: all 0.3s;
  }
  span {
    font-size: 75%;
    position: absolute;
    bottom: 2.2em;
    left: 0;
    color: red;
  }
  &::before {
    position: absolute;
    top: 2.5em;
    width: 0%;
    content: "";
    border-top: 2px solid #4d9ebb;
  }
}
.inquiry__block.box {
  label {
    top: 1.5em;
    left: 15px;
  }
  &::before {
    content: none;
  }
}
.inquiry__block.management,
.inquiry__block.privacy {
  text-align: center;
  label {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
  }
  &::before {
    content: none;
  }
}

.inquiry__submit {
  display: block;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
  span {
    font-size: 12px;
    display: block;
  }
}

/**
フォーカス時の処理
 */
.js-focus {
  label {
    // left: 0;
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .inquiry__block::before {
    width: 100%;
  }
  .inquiry__block.box {
    textarea {
      border: 2px solid #4d9ebb;
    }
  }
}
</style>
