<template>
  <div class="formtemp">
    <form ref="inquiry">
      <!-- <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="23" />
        <input type="hidden" name="_wpcf7_version" value="5.1.5" />
        <input type="hidden" name="_wpcf7_locale" value="ja" />
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f23-p2-o1" />
        <input type="hidden" name="_wpcf7_container_post" value="2" />
      </div>-->
      <label>
        姓 名 ※
        <br />
        <span class>
          <input type="text" name="name" ref="name" value="testName" />
        </span>
      </label>
      <label>
        セイ メイ ※
        <br />
        <span class>
          <input type="text" name="katakana" ref="katakana" value="katakana" />
        </span>
      </label>
      <label>
        Email ※
        <br />
        <span class>
          <input type="email" name="email" ref="email" value="test@test.com" />
        </span>
      </label>

      <label>
        ムービータイプ ※
        <br />
        <span class>
          <input type="text" name="type" ref="type" value="movie1" />
        </span>
      </label>
      <br />支払い ※
      <br />
      <span class>
        <label> <input type="radio" name="pay" ref="pay" value="1" @change="payChnage" />クレジットで支払う </label>
        <label> <input type="radio" name="pay" ref="nopay" value="2" @change="payChnage" />ご相談 ※支払い方法もご相談 </label>
      </span>
      <label v-show="payflg">
        <span>
          <span>クレジットカード</span>
        </span>
        <div ref="cardElements" class="cardElements">
          <!-- Stripe Element がここに入ります。 -->
        </div>
        <div ref="cardErrors"></div>
      </label>

      <label>
        備考
        <br />
        <span class>
          <textarea name="message" ref="message">message</textarea>
        </span>
      </label>

      <br />
      <br />
      <input type="submit" :value="submitText" ref="carSubmit" class="carSubmit" />
      <br />
      <br />
    </form>
  </div>
</template>

<script>
import axios from "axios";

let stripe,
  card,
  orderData = {
    items: [{ id: "photo-subscription" }],
    currency: "jpy"
  };

export default {
  computed: {},
  data: function() {
    return {
      payflg: false,
      submitText: "送信"
    };
  },
  methods: {
    // クレジット入力セットアップ
    setupElements(data) {
      stripe = Stripe(data.publishableKey);
      var elements = stripe.elements();
      card = elements.create("card", {
        // iconStyle: "solid",
        style: {
          base: {
            iconColor: "#8898AA",
            lineHeight: "36px",
            fontWeight: 300,
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSize: "19px",

            "::placeholder": {
              color: "#8898AA"
            }
          },
          invalid: {
            iconColor: "#e85746",
            color: "#e85746"
          }
        }
      });
      card.mount(this.$refs.cardElements);
      return {
        stripe: stripe,
        card: card,
        clientSecret: data.clientSecret
      };
    },
    // 支払い（クレジットカード入力項目表示） or 相談のみチェンジ
    payChnage() {
      if (this.$refs.pay.checked) {
        this.payflg = true;
      } else {
        this.payflg = false;
      }
    },
    // 支払い開始
    pay() {
      stripe
        .createPaymentMethod({
          type: "card",
          card: card
        })
        .then(result => {
          console.log(result);
          if (result.error) {
            this.showError(result.error.message);
          } else {
            orderData.paymentMethodId = result.paymentMethod.id;
            orderData.description = "動画タイプ：" + this.$refs.type.value + ", Email：" + this.$refs.email.value;

            axios
              .post("/api/pay.php", JSON.stringify(orderData))
              .then(response => {
                console.log(response);
                let paymentData = response.data;
                if (paymentData) {
                  if (paymentData.requiresAction) {
                    console.log("paymentData.requiresAction");
                    console.log(paymentData.requiresAction);
                    // 認証を要求する
                    this.handleAction(paymentData.clientSecret);
                  } else if (paymentData.error) {
                    console.log("paymentData.error");
                    this.showError(paymentData.error);
                  } else {
                    this.orderComplete(paymentData.clientSecret);
                  }
                } else {
                  console.log("error");
                }
              })
              .catch(err => {
                console.log("通信エラー");
                console.log(err);
              });
          }
        });
    },
    // stripe認証エラー時に表示
    showError(errorMsgText) {
      // changeLoadingState(false);
      this.$refs.cardErrors.textContent = errorMsgText;
      setTimeout(() => {
        this.$refs.cardErrors.textContent = "";
      }, 4000);
    },
    // 3d secure認証
    handleAction(clientSecret) {
      stripe.handleCardAction(clientSecret).then(data => {
        // console.log(data);
        if (data.error) {
          showError("Your card was not authenticated, please try again");
        } else if (data.paymentIntent.status === "requires_confirmation") {
          console.log(data.paymentIntent.status);
          axios
            .post(
              "/api/pay.php",
              JSON.stringify({
                paymentIntentId: data.paymentIntent.id
              })
            )
            .then(response => {
              //メール送信
              this.send();
              console.log(response);
            })
            .catch(err => {
              console.log(err);
              if (err.error) {
                this.showError(err.error);
              } else {
                this.orderComplete(clientSecret);
              }
            });
        }
      });
    },
    // 支払い完了
    orderComplete(clientSecret) {
      stripe.retrievePaymentIntent(clientSecret).then(result => {
        console.log("orderComplete");
        console.log(result);
        // var paymentIntent = result.paymentIntent;
        // var paymentIntentJson = JSON.stringify(paymentIntent, null, 2);
        // document.querySelector(".sr-payment-form").classList.add("hidden");
        // document.querySelector("pre").textContent = paymentIntentJson;
        // document.querySelector(".sr-result").classList.remove("hidden");
        // setTimeout(function() {
        //   document.querySelector(".sr-result").classList.add("expand");
        // }, 200);
        // changeLoadingState(false);

        //メール送信
        this.send();
      });
    },
    // メール送信
    send() {
      const formData = new URLSearchParams();
      formData.append("name", encodeURI(this.$refs.name.value));
      formData.append("katakana", encodeURI(this.$refs.katakana.value));
      formData.append("email", encodeURI(this.$refs.email.value));
      formData.append("type", encodeURI(this.$refs.type.value));
      formData.append("message", encodeURI(this.$refs.message.value));
      console.log(formData);
      // メール送信
      const API_URI = "https://mvms." + location.host + "/wp-json/contact-form-7/v1/contact-forms/23/feedback/";
      return axios
        .post(API_URI, formData)
        .then(response => {
          console.log(response);
          // submitボタンクリック可
          this.$refs.carSubmit.disabled = false;
        })
        .catch(err => console.log(err));
    },
    check(event) {
      if (event.error) {
        this.$refs.cardErrors.textContent = event.error.message;
      } else {
        this.$refs.cardErrors.textContent = "";
      }
    }
  },
  mounted() {
    // submitボタンクリック付加
    this.$refs.carSubmit.disabled = true;
    // stripeの公開キーを取得
    axios
      .get("/api/key.php")
      .then(result => {
        console.log(result.data);
        return this.setupElements(result.data);
      })
      .then(({ stripe, card, clientSecret }) => {
        console.log(card);
        // submitボタンクリック可
        this.$refs.carSubmit.disabled = false;
      });
    //form submit時のアクション
    this.$refs.inquiry.addEventListener("submit", event => {
      event.preventDefault();
      // submitボタンクリック付加
      this.$refs.carSubmit.disabled = true;
      if (this.$refs.pay.checked) {
        console.log("クレジット決済");
        this.pay();
      } else {
        console.log("お問合せのみ");
        this.send();
      }
    });
  },
  created() {}
};
</script>

<style scoped lang="scss">
form {
  padding: 0 20px;
}
label {
  display: block;
  margin-top: 30px;
}
input,
textarea {
  font-size: 19px;
  line-height: 36px;
  width: 100%;
  height: 36px;
  padding: 5px;
  border: 1px solid #cccccc;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
textarea {
  line-height: 1.2;
  height: 100px;
}
.bottomBtn {
  font-size: 80%;
  position: fixed;
  z-index: 101;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0;
  transition: all 0.5s;
  color: #ffffff;
  button,
  a {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #999999;
    background: #333333;
  }
}
.js-in.bottomBtn {
  bottom: 0;
}
.bottomBtn__attention {
  font-size: 80%;
  display: block;
  padding: 10px;
}
.cardElements {
  padding-left: 10px;
  border: 1px solid #cccccc;
}
</style>
