<template>
  <div class="gFoot">
    <div class="gFoot__caution">
      <div class="g__flex gfoot__caution__inner">
        <div class="gfoot__caution__inner__pay">
          <h4 class="gfoot__caution__inner__pay__title">お支払いについて</h4>
          <div class="g__flex">
            <section class="g__flex__50">
              <h3 class="gfoot__caution__inner__pay__title__sub">銀行振込</h3>
              <p>
                お申込み後、お支払いに関するご案内メールをテンプレプラスからお送りいたします。ご案内メールに記載されている振込先をご確認の上、7日以内にご請求金額をご入金ください。恐れ入りますが、振込手数料はご負担願います。
              </p>
              <p class="g__cap">※銀行口座の名義がご注文者様のお名前と異なる場合は、事前にメールでご連絡ください。</p>
            </section>
            <section class="g__flex__50">
              <h3 class="gfoot__caution__inner__pay__title__sub">クレジットカード</h3>
              <p>恐れ入りますが、クレジットカード決済には対応しておりません。現在準備中ですので今しばらくお待ちください。</p>
            </section>
          </div>
        </div>
        <div class="gfoot__caution__inner__mail">
          <div>
            <h4 class="gfoot__caution__inner__mail__title">メールについて</h4>
            <p>
              お客様から頂いたお申込み・お問合せは自動返信メールが送付されます。その後2営業日以内に担当者より返信させていただいております。また、お申込み・お問合せをいただいたにも関わらずメールが届かない場合は、大変お手数をお掛けいたしますが再度ご連絡ください。
            </p>
            <h4 class="gfoot__caution__inner__mail__title">領収書について</h4>
            <p>
              納品時にPDF領収書をお送りいたします。収入印紙付き領収書が必要な場合は、別途手数料をいただく形となります。お問合せフォームもしくはメールよりお問い合わせください。
            </p>
          </div>
        </div>
        <div class="gfoot__caution__inner__day">
          <h4 class="gfoot__caution__inner__day__title">営業日について</h4>
          <p>下記カレンダーの営業日に沿って営業致します。</p>
          <p class="gfoot__caution__inner__day__cap">営業日：カレンダー<span> </span>参照 営業時間：9:00～18:00（営業日のみ）</p>
          <div class="gfoot__caution__inner__day__img">
            <!-- 今年の1月～12月まで表示 max-dateを11/31にすることで12月まで見れる（2カラム表示のため） -->
            <div ref="footer_calendar_overlay" id="footer_calendar_overlay" class="footer_calendarOverlay" @click="closeOverlay">
              <span class="">×</span>
            </div>
            <vc-calendar
              :columns="2"
              title-position="center"
              ref="footer_calendar"
              id="footer_calendar"
              :min-date="new Date(new Date().getFullYear(), 0, 1)"
              :max-date="new Date(new Date().getFullYear(), 11, 31)"
            >
              <template slot="header-title" slot-scope="props"> {{ props.yearLabel }}年{{ props.monthLabel }} </template>
              <template slot="day-content" slot-scope="props">
                <!-- 同じ年のカレンダーのみ表示 -->
                <template v-if="props.day.date.getFullYear() === new Date().getFullYear()">
                  <template v-if="dateList.some(date => date.ymd === dateToYYYYMMDD(props.day.date))">
                    <div class="calendar__day calendar__nowork">
                      {{ props.day.day }}
                    </div>
                  </template>
                  <template v-else-if="dateToYYYYMMDD(props.day.date) === dateToYYYYMMDD(new Date())">
                    <div class="calendar__day calendar__today">
                      {{ props.day.day }}
                    </div>
                  </template>
                  <template v-else-if="props.day.date.getDay() === 6">
                    <div class="calendar__day calendar__sat calendar__nowork">
                      {{ props.day.day }}
                    </div>
                  </template>
                  <template v-else-if="props.day.date.getDay() === 0">
                    <div class="calendar__day calendar__sun calendar__nowork">
                      {{ props.day.day }}
                    </div>
                  </template>
                  <template v-else>
                    <div class="calendar__day">
                      {{ props.day.day }}
                    </div>
                  </template>
                </template>
                <!-- 翌年の日付はグレーアウト -->
                <template v-else>
                  <div class="calendar__day calendar__out">
                    {{ props.day.day }}
                  </div>
                </template>
              </template>
            </vc-calendar>
          </div>
        </div>
      </div>
    </div>
    <div class="gFoot__pagetop">
      <a id="page-top" v-scroll-to="'body'"
        ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80.1 82.6">
          <path
            d="M39.9,0c-0.1,0-0.2,0-0.3,0c-0.2,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4,0.1c-0.1,0-0.3,0-0.4,0.1S38.1,0.2,38,0.2
	c-0.1,0-0.3,0.1-0.4,0.1c-0.1,0-0.3,0.1-0.4,0.1c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.1-0.2,0.1-0.3,0.2
	S35.9,1,35.8,1.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.2-0.4,0.3
	c-0.1,0.1-0.1,0.1-0.2,0.2L2.5,32.7c-3.2,3.1-3.3,8.2-0.3,11.4l0,0c3.1,3.2,8.1,3.3,11.4,0.3l18.3-17.5v47.8c0,4.4,3.6,8,8,8l0,0
	c4.4,0,8-3.6,8-8v-48l18.6,17.7c3.2,3.1,8.3,3,11.4-0.3l0,0c3.1-3.2,2.9-8.3-0.3-11.4L45.7,2.2C44.2,0.7,42.1,0,40.1,0
	c0,0-0.1,0-0.1,0C40,0,40,0,39.9,0C39.9,0,39.9,0,39.9,0L39.9,0z"
          />
        </svg>
        ページトップへ戻る
      </a>
    </div>
    <div class="gFoot__sitemap">
      <div class="gFoot__sitemap__inner">
        <div class="gFoot__sitemap__inner__inquiry">
          <router-link :to="{ name: 'inquiry' }" class="gFoot__sitemap__inner__inquiry__btn">お問合せ</router-link>
          <router-link :to="{ name: 'inquiryOrdering' }" class="gFoot__sitemap__inner__inquiry__btn movie"
            >オリジナル動画<br />制作ご相談</router-link
          >
        </div>
        <div class="gFoot__sitemap__inner__links">
          <router-link class :to="{ name: 'home' }">TOPページ</router-link>
          <router-link class :to="{ name: 'howto' }">サイトの使い方</router-link>
          <router-link class :to="{ name: 'uses' }">用途で選ぶ</router-link>
          <router-link class :to="{ name: 'seasons' }">季節・時期から探す</router-link>
        </div>
        <div class="gFoot__sitemap__inner__links">
          <router-link class :to="{ name: 'inquiry' }">お問合せ</router-link>
          <router-link class :to="{ name: 'inquiryOrdering' }">オリジナル映像ご相談</router-link>
          <router-link class :to="{ name: 'policy' }">個人情報保護方針</router-link>
          <a href="http://www.jt-s.com/company/index.html" target="_blank">会社概要</a>
          <router-link class :to="{ name: 'terms' }">利用規約</router-link>
        </div>
        <p class="gFoot__sitemap__inner__jtstudio">
          <a href="https://jtstudio.jp/" target="_blank" title="JT STUDIO"><img src="~@/images/logo_jtstudio.png" alt="JT STUDIO"/></a>
        </p>
        <small class="copyright">© JT JAPAN Technicals, All Rights Reserved.</small>
      </div>
    </div>
  </div>
</template>

<script>
// import gSearch from "@/viewComponent/gSearch";

export default {
  data() {
    return {
      dateList: [
        { ymd: "20200101" },
        { ymd: "20200102" },
        { ymd: "20200103" },
        { ymd: "20200106" },
        { ymd: "20200113" },
        { ymd: "20200211" },
        { ymd: "20200224" },
        { ymd: "20200320" },
        { ymd: "20200429" },
        { ymd: "20200430" },
        { ymd: "20200501" },
        { ymd: "20200504" },
        { ymd: "20200505" },
        { ymd: "20200506" },
        { ymd: "20200723" },
        { ymd: "20200724" },
        { ymd: "20200810" },
        { ymd: "20200811" },
        { ymd: "20200812" },
        { ymd: "20200813" },
        { ymd: "20200814" },
        { ymd: "20200921" },
        { ymd: "20200922" },
        { ymd: "20201103" },
        { ymd: "20201123" },
        { ymd: "20201228" },
        { ymd: "20201229" },
        { ymd: "20201230" },
        { ymd: "20201231" }
      ]
    };
  },
  methods: {
    dateToYYYYMMDD: function(date) {
      let y = date.getFullYear();
      let m = ("00" + (date.getMonth() + 1)).slice(-2);
      let d = ("00" + date.getDate()).slice(-2);
      let result = y + "" + m + "" + d;
      return result;
    },
    getContentFromKey: function(key) {
      const target = this.dateList.find(date => {
        return date.ymd === key;
      });
      return target ? true : false;
    },
    closeOverlay() {
      // テンプレートページでposition:fixedしたカレンダーを解除
      this.$refs.footer_calendar.$el.classList.remove("is__show");
      this.$refs.footer_calendar_overlay.classList.remove("is__show");
    }
  },
  watch: {},
  computed: {},
  created() {},
  components: {
    // gSearch
  }
};
</script>

<style scoped lang="scss">
.gFoot__caution {
  padding-top: 6px;
}
.gfoot__caution__inner {
  font-size: 80%;
  overflow-x: hidden;
  padding: 20px 20px 40px;
  background: #ffec00;
  @media screen and (min-width: 800px) {
    padding: 3vw 9vw;
  }
}
.gfoot__caution__inner__pay {
  width: 100%;
  margin-bottom: 20px;
  // text-align: center;
}
.gfoot__caution__inner__mail,
.gfoot__caution__inner__day {
  @media screen and (min-width: 800px) {
    width: 50%;
  }
  .gfoot__caution__inner__day__img {
    display: flex;
  }
}
.gfoot__caution__inner__mail {
  padding-right: 1vw;
}
.gfoot__caution__inner__day {
  padding: 0 20px;
  @media screen and (min-width: 800px) {
    padding-left: 1vw;
  }
}
.footer_calendarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  span {
    position: fixed;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    background: #3b3938;
    color: #ffffff;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    font-size: 150%;
    transition: bottom 0.5s;
    cursor: pointer;
  }
}
.footer_calendarOverlay.is__show {
  visibility: visible;
  position: fixed;
  z-index: 1;
  span {
    bottom: 15%;
  }
}
#footer_calendar.is__show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.gfoot__caution__inner__pay__title,
.gfoot__caution__inner__mail__title,
.gfoot__caution__inner__day__title {
  padding-bottom: 5px;
  font-size: 160%;
  border-bottom: 3px solid #3b3938;
  margin: 0 0 10px;
  text-align: center;
}
.gfoot__caution__inner__day__cap {
  font-size: 90%;
  margin-top: -1em;
  span {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #333;
    background: #ededed;
    border-radius: 50%;
    margin: 0 2px;
  }
}
.gfoot__caution__inner__pay__title__sub {
  font-size: 110%;
  margin-top: 0px;
}
.gFoot__pagetop {
  margin: 0;
  a {
    font-weight: bold;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    background: #ededed;
    @media screen and (min-width: 800px) {
      display: none;
    }
    svg {
      margin: 0 auto;
      height: 1.2em;
      vertical-align: text-bottom;
      path {
        fill: #3b3938;
      }
    }
  }
}
.gFoot__sitemap {
  padding: 40px 0;
  text-align: center;
  background: #3b3938;
}

.gFoot__sitemap__inner__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  text-align: left;
  border-top: 3px solid #757575;
  &:nth-child(3) {
    border-top: none;
  }
  @media screen and (min-width: 800px) {
    display: block;
    text-align: center;
    border: none;
  }
  a {
    font-size: 85%;
    display: inline-block;
    width: 50%;
    padding: 15px 10px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 3px solid #757575;
    background: #313131;
    @media screen and (min-width: 800px) {
      display: inline-block;
      width: inherit;
      margin: 0 10px;
      padding: 5px 0;
      border: none !important;
      background: none;
    }
    &:nth-child(odd) {
      border-right: 3px solid #757575;
    }
    &::after {
      display: block;
      content: "";
    }
    &::before {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin-right: 5px;
      content: "";
      background: url("~@/images/icon_plus.svg") no-repeat left center;
      background-size: contain;
    }
  }
}
.gFoot__sitemap__inner__jtstudio {
  width: 22vw;
  margin: 30px auto 0;
  @media screen and (min-width: 800px) {
    width: 7vw;
  }
  @media screen and (min-width: 1300px) {
    width: 6vw;
  }
}
.gFoot__sitemap__inner__inquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.gFoot__sitemap__inner__inquiry__btn {
  font-size: 90%;
  line-height: 1.1;
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  height: 60px;
  margin: 0 8px 30px;
  padding: 12px 20px 12px 50px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background: #ffec00;
  box-shadow: 3px 3px 0px #16b3ee;
  @media screen and (min-width: 800px) {
    font-size: 100%;
    min-width: 220px;
    max-width: 270px;
    padding: 12px 30px 12px 60px;
  }
  &::before {
    position: absolute;
    top: 2px;
    left: 10px;
    display: block;
    width: 46px;
    height: 58px;
    content: "";
    background: url("~@/images/kuma_icon_mail.png") no-repeat center top;
    background-size: cover;
    @media screen and (min-width: 800px) {
      left: 15px;
    }
  }
  &.movie {
    &::before {
      width: 40px;
      background-image: url("~@/images/kuma_icon_clapperboard.png");
    }
  }
}
.copyright {
  display: block;
  margin: 20px 0 0;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
}

// calrender
.vc-bg-white {
  font-size: 9px;
  border: none;
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
}
.calendar__day {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  color: #3b3938;
  border: 1px solid #3b3938;
  border-radius: 50%;
  background: #ededed;
  @media screen and (min-width: 800px) {
    width: 25px;
    height: 25px;
  }
}
.calendar__day.calendar__nowork,
.calendar__day.calendar__out {
  opacity: 0.5;
  color: #3b3938;
  border: none;
  background: none;
}
.calendar__sat.calendar__nowork {
  color: #4f9eff;
}
.calendar__sun.calendar__nowork {
  color: #ff5c5c;
}
.calendar__today {
  position: relative;
  color: #ffffff;
  border: none;
  border-radius: 0;
  background: #3b3938;
  @media screen and (min-width: 800px) {
    padding-top: 10px;
    &::after {
      font-size: 9px;
      position: absolute;
      top: -1px;
      left: 0;
      width: 3em;
      content: "本日";
      text-align: center;
    }
  }
}
</style>
<style lang="scss">
.vc-container {
  font-family: inherit !important;
}
.vc-weekday {
  color: #3b3938 !important;
}
.vc-w-full > div {
  grid-template-columns: repeat(2, minmax(160px, 1fr)) !important;
}
@media screen and (min-width: 800px) {
  .vc-w-full > div {
    grid-template-columns: repeat(2, minmax(280px, 1fr)) !important;
  }
}

.vc-container {
  .vc-grid-container {
    width: 100%;
    display: -ms-grid;
    &.vc-weeks {
      padding: 5px 6px 7px 6px;
    }
    .vc-day-content {
      min-height: 1.8rem;
      width: 1.8rem;
      height: 1.8rem;
      margin: 0.1rem auto;
    }
  }
}
_:-ms-fullscreen,
:root .vc-grid-cell {
  padding: 3px;
}
</style>
