<template>
  <div class="gNav">
    <div class="gNav__inner">
      <p class="gNav__logo">
        <router-link :to="{ name: 'home' }">
          <span>テンプレプラス｜多言語翻訳対応の動画作成サービス</span>
        </router-link>
      </p>
      <nav class="gNav__common" ref="gNav__common">
        <router-link :to="{ name: 'howto' }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.8 98">
            <path class="st3" d="M8.5,92.8c0,2.2,1.9,4.2,4.3,4.2h67.9c2.3,0,4.3-1.8,4.3-4.2V54.6H8.5V92.8z" />
            <path
              class="st3"
              d="M84,49.6L9,49.5c-0.2,0-0.5,0-0.7-0.1C6.1,48.8,5,46.5,5,44.5v-6.2l-2.9-6.9C1.5,30,1.5,28.5,2,27.3V27
		c0-1.3,0.8-2.4,2-2.8l9.1-3.1L75.1,0.4c0.7-0.2,1.6-0.2,2.3,0.1c1.2,0.6,1.9,0.9,6.5,13.7c0.3,0.8,0.2,1.6-0.1,2.3
		c-0.4,0.7-1,1.3-1.8,1.5C69.9,22,54.4,27,42.7,30.9c13.2,0,30.8,0,42.4,0c0.8,0,1.6,0.3,2.1,0.9c0.6,0.6,0.9,1.3,0.9,2.1v10.7
		C88.1,47.4,86.3,49.6,84,49.6z M11,43.5l71.1,0.1v-6.7l-48.3,0l-6.9,0c-3.1,0-5.6,0-5.6-3c0-0.4,0.1-0.8,0.2-1.1
		c0.6-1.4,0.6-1.4,10.8-4.8c5.3-1.8,12.4-4.1,19.5-6.4C62,18.3,72.3,15,77.2,13.4c-0.9-2.5-1.9-4.9-2.6-6.5L15.1,26.7l-7.3,2.5
		c0,0,0,0.1,0,0.1l3.1,7.2c0.2,0.4,0.2,0.8,0.2,1.2V43.5z M77,6.1l-0.2,0.1C76.9,6.1,77,6.1,77,6.1z M8.6,56.8v37.1
		c0,2.2,1.9,4.1,4.3,4.1h67.9c2.3,0,4.3-1.8,4.3-4.1V56.8H8.6z"
            />
          </svg>
          <span class="g__smp__hide">サイトの</span>使い方</router-link
        >
        <router-link :to="{ name: 'translation' }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.8 98">
            <path
              d="M45.4,58.1C20.5,37.6,0,58.7,0,58.7v13.8v8.6v13.8c0,0,8.3-7.4,22.9-7.4s22.5,9.8,22.5,9.8s6.4-9.8,23.1-9.8
		s22.3,7.4,22.3,7.4V81.1v-8.6V58.7C90.8,58.7,70.6,40.7,45.4,58.1z M86.8,87.2c-4-1.9-10-3.7-18.3-3.7c-12,0-19.4,4.7-23.2,8.1
		c-4-3.3-11.6-8.1-22.3-8.1c-8.1,0-14.5,2.1-18.9,4.2v-9.3c3.8-2.1,10.2-4.7,18.9-4.7c14.6,0,22.5,9.8,22.5,9.8s6.4-9.8,23.1-9.8
		c9.1,0,14.9,2.2,18.3,4.2V87.2z M9.7,9C8.8,7.6,7,7.2,5.6,8.1C4.2,9,3.8,10.9,4.7,12.3l18.4,28c0.6,0.9,1.5,1.4,2.5,1.4
		c0.6,0,1.1-0.2,1.6-0.5c1.4-0.9,1.8-2.8,0.9-4.2L9.7,9z M85.2,8.1C83.8,7.2,81.9,7.6,81,9l-18.4,28c-0.9,1.4-0.5,3.2,0.9,4.2
		c0.5,0.3,1.1,0.5,1.6,0.5c1,0,1.9-0.5,2.5-1.4l18.4-28C86.9,10.9,86.5,9,85.2,8.1z M47.1,2.5c-1.7,0-3,1.3-3,3v33.1
		c0,1.7,1.3,3,3,3s3-1.3,3-3V5.5C50.1,3.9,48.8,2.5,47.1,2.5z"
            />
          </svg>
          翻訳参考<span class="g__smp__hide">例</span></router-link
        >
        <router-link :to="{ name: 'uses' }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.8 98">
            <path
              d="M89.7,72.9L74.7,58.4c4.3-4.2,7-9.9,7-16.2c0-6.4-2.7-12.2-7.1-16.3V14.3c0-7.4-5.9-13.5-13.1-13.5H13.7		c-7.2,0-13.1,6-13.1,13.5v70.6c0,7.4,5.9,13.5,13.1,13.5h47.8c7.2,0,13.1-6,13.1-13.5V72.4l8.2,7.5c0.6,0.6,1.4,1,2.2,1		c0.8,0,1.6-0.3,2.2-1l2.4-2.5C90.9,76.2,90.9,74.1,89.7,72.9z M10,19.4c0-0.4,0.3-0.8,0.8-0.8h15c0.4,0,0.8,0.3,0.8,0.8v3.9		c0,0.4-0.3,0.8-0.8,0.8h-15c-0.4,0-0.8-0.3-0.8-0.8V19.4z M10,33.2c0-0.4,0.3-0.8,0.8-0.8h15c0.4,0,0.8,0.3,0.8,0.8v3.9		c0,0.4-0.3,0.8-0.8,0.8h-15c-0.4,0-0.8-0.3-0.8-0.8V33.2z M10,46.1c0-0.4,0.3-0.8,0.8-0.8h15c0.4,0,0.8,0.3,0.8,0.8v3.9		c0,0.4-0.3,0.8-0.8,0.8h-15c-0.4,0-0.8-0.3-0.8-0.8V46.1z M10,59.9c0-0.4,0.3-0.8,0.8-0.8h15c0.4,0,0.8,0.3,0.8,0.8v3.9		c0,0.4-0.3,0.8-0.8,0.8h-15c-0.4,0-0.8-0.3-0.8-0.8V59.9z M62.8,76.8c0,0.4-1.2,0.8-2.8,0.8H12.8c-1.5,0-2.8-0.3-2.8-0.8v-3.9		c0-0.4,1.2-0.8,2.8-0.8H60c1.5,0,2.8,0.3,2.8,0.8V76.8z M73.3,52.9C69.6,58.9,63,63,55.5,63c-6.3,0-11.9-2.8-15.8-7.3		c-3.3-3.8-5.4-8.9-5.4-14.4c0-11.7,9-21.2,20.2-21.7c0.3,0,0.6,0,0.9,0c8.5,0,15.9,5.2,19.2,12.7c1.2,2.7,1.9,5.8,1.9,9		C76.6,45.6,75.4,49.5,73.3,52.9z M37.4,41.2c0,10.6,8.4,19.3,18.7,19.3c0.5,0,1,0,1.5-0.1c-9.5-0.8-17.1-9-17.1-19		c0-10.5,8.3-19.1,18.5-19.1c0.3,0,0.7,0,1,0c-1.3-0.3-2.6-0.4-3.9-0.4C45.8,22,37.4,30.6,37.4,41.2z"
            />
          </svg>
          用途<br class="g__pc__hide" /><span class="g__smp__hide">で選ぶ</span></router-link
        >
        <router-link :to="{ name: 'seasons' }">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.8 98">
            <path
              id="icon_4_"
              class="st0"
              d="M77.5,6.3h-0.3V4.8c0-2.7-2.2-4.8-4.8-4.8c-2.7,0-4.8,2.2-4.8,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8C56.2,0,54,2.2,54,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8c-2.7,0-4.8,2.2-4.8,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8c-2.7,0-4.8,2.2-4.8,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8s-4.8,2.2-4.8,4.8v1.4h0C5.9,6.3,0,12.2,0,19.5v67.4C0,93,5,98,11.1,98h68.5c6.1,0,11.1-5,11.1-11.1V19.5C90.8,12.2,84.8,6.3,77.5,6.3z M73.4,72.3c0,0.7-1.4,1.4-3.1,1.4H21.1c-1.7,0-3.1-0.6-3.1-1.4v-7.1c0-0.7,1.4-1.4,3.1-1.4h49.2c1.7,0,3.1,0.6,3.1,1.4V72.3z M73.4,51.2c0,0.7-1.4,1.4-3.1,1.4H21.1c-1.7,0-3.1-0.6-3.1-1.4v-7.1c0-0.7,1.4-1.4,3.1-1.4h49.2c1.7,0,3.1,0.6,3.1,1.4V51.2z M82.3,25.2H8.5v-5.7c0-2.6,2.1-4.7,4.7-4.7l0,0.6c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8v-0.6h3.9v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6h3.9v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6H54v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6h3.9v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6h0.3c2.6,0,4.7,2.1,4.7,4.7V25.2z"
            />
          </svg>
          季節<br class="g__pc__hide" /><span class="g__smp__hide">で選ぶ</span></router-link
        >
        <!-- <router-link :to="{ name: 'articles' }">記事一覧</router-link> -->
        <router-link :to="{ name: 'inquiry' }" class="gNav__common__inquiry">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.8 98">
            <path
              class="st3"
              d="M78.2,4.4H12.6C5.8,4.4,0.3,9.9,0.3,16.6v65.1C0.3,88.5,5.8,94,12.6,94h65.6c6.8,0,12.3-5.5,12.3-12.3V16.6
		C90.5,9.9,85,4.4,78.2,4.4z M74.5,12.4L45.3,38.7L15.2,12.4H74.5z M82.5,81.7c0,2.4-1.9,4.3-4.3,4.3H12.6c-2.4,0-4.3-1.9-4.3-4.3
		V17l37.1,32.5l37-33.4c0,0.2,0.1,0.4,0.1,0.6V81.7z"
            />
          </svg>
          お問合せ</router-link
        >
      </nav>
    </div>
  </div>
</template>

<script>
// import store from "@/store";
// import gSearch from "@/viewComponent/gSearch";

export default {
  computed: {},
  data: function() {
    return {
      proccess: process.env.VUE_APP_MODE
    };
  },
  watch: {},
  methods: {},
  created() {},
  components: {
    // gSearch
  }
};
</script>

<style scoped lang="scss">
.gNav {
  position: fixed;
  z-index: 20;
  // overflow: hidden;
  width: 100%;
  @media screen and (min-width: 1030px) {
    top: 0;
    left: 0;
    display: block;
    height: 70px;
    padding: 10px 0;
    padding: 0;
    background: #ffffff;
  }
}
.gNav__inner {
  margin: 0 auto;
  padding: auto 15px;
  @media screen and (min-width: 1030px) {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}
.gNav__logo {
  display: block;
  margin: 0;
  padding: 5px 0;
  transform: rotateX(0deg);
  transform-origin: top;
  background: #ffffff;
  // border-radius: 0 0 20px 20px;
  @media screen and (min-width: 800px) {
    background: #ffffff;
  }
  @media screen and (min-width: 1030px) {
    float: left;
    padding: 0;
  }
  a {
    font-weight: bold;
    display: block;
    width: 180px;
    height: 35px;
    margin: -2px auto 2px;
    text-decoration: none;
    background: url("~@/images/logo.svg") no-repeat center center;
    background-size: contain;
    span {
      visibility: hidden;
    }
    @media screen and (min-width: 800px) {
      width: 190px;
      height: 55px;
    }
    @media screen and (min-width: 1030px) {
      width: 235px;
      height: 50px;
      margin-top: 10px;
      background-size: cover;
    }
  }
}
.home {
  .gNav__logo {
    visibility: hidden;
    @media screen and (min-width: 800px) {
      visibility: visible;
    }
  }
}
.gNav__common {
  font-size: 3vw;
  line-height: 1.3;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  @media screen and (min-width: 500px) {
    font-size: 15px;
  }
  @media screen and (min-width: 1030px) {
    background: #ffffff;
    transform: none;
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    background: #3b3938;
    color: #ffffff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    // border-right: 1px solid #797979;
    // &:last-child {
    //   border: none;
    // }
    // &:nth-child(2n) {
    //   background: #505050;
    // }
    &.router-link-active,
    &.router-link-exact-active {
      // color: #16b3ee;
      background: #16b3ee;
    }
    svg {
      height: 20px;
      margin-bottom: 5px;
      path {
        fill: #ffffff;
      }
    }
  }

  @media screen and (min-width: 1030px) {
    font-size: inherit;
    position: inherit;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 70px;
    background: none;
    box-shadow: none;
    font-size: 90%;
    a {
      position: relative;
      display: flex;
      display: inline-block;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 65px;
      padding: 30px 18px 18px 15px;
      transition: all 0.5s;
      text-align: center;
      text-decoration: none;
      color: inherit;
      border: none;
      background: none;
      box-shadow: none;
      img,
      svg {
        display: none;
      }
      &:hover {
        color: #16b3ee;
      }
      &.router-link-active,
      &.router-link-exact-active {
        color: #16b3ee;
        background: none;
      }
      @media screen and (min-width: 1250px) {
        font-size: 100%;
        padding: 20px 18px 18px 20px;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        content: "";
        transform: rotate(15deg);
        border-left: 3px solid #efece9;
      }
      &::before {
        font-size: 130%;
        position: absolute;
        top: 12px;
        left: calc(50% - 0.4em);
        display: inline-block;
        width: 0.8em;
        height: 0.8em;
        margin-right: 5px;
        content: "";
        background: url("~@/images/icon_plus.svg") no-repeat left center;
        background-size: contain;
        @media screen and (min-width: 1250px) {
          font-size: 100%;
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
    .gNav__common__inquiry {
      height: 55px;
      padding: 20px 30px 12px 60px;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      background: #ffec00;
      box-shadow: 3px 3px 0px #16b3ee;
      @media screen and (min-width: 1030px) {
        margin-top: -3px;
        margin-left: 20px;
      }
      @media screen and (min-width: 1250px) {
        padding: 16px 30px 12px 60px;
      }
      &::after {
        top: -3px;
        left: -20px;
        height: 65px;
      }
      &::before {
        position: absolute;
        top: 4px;
        left: 11px;
        display: block;
        width: 44px;
        height: 51px;
        content: "";
        background: url("~@/images/kuma_icon_mail.png") no-repeat center top;
        background-size: cover;
      }
    }
  }
}
</style>
