<template>
  <section class="introOrdering">
    <h4>
      映像撮影やテンプレートを利用しない映像制作については
      <br />こちらからご相談ください。
    </h4>
    <linkButton
      :params="{
        color: '#16B3EE',
        text: 'オリジナル動画制作\nご相談',
        router: {
          name: 'inquiry'
        }
      }"
    />
  </section>
</template>

<script>
import linkButton from "@/viewComponent/molecules/linkButton.vue";
export default {
  components: { linkButton },
  data: function() {
    return {};
  },
  watch: {},
  methods: {},
  created() {}
};
</script>

<style scoped lang="scss">
.introOrdering {
  padding: 30px;
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
  margin: 0 20px;
}
</style>
