<template>
  <div :class="'movieColumn ' + showclass">
    <template v-if="data.acf.movie_en.length | data.acf.movie_ko.length | data.acf.movie_zh.length">
      <template v-if="!conf.navhide">
        <div class="movieColumn__nav">
          <button @click="change('ja', $event)" :class="lang === 'ja' ? 'js-on' : ''">日本語</button>
          <template v-if="data.acf.movie_en.length">
            <button @click="change('en', $event)" :class="lang === 'en' ? 'js-on' : ''">英語</button>
          </template>
          <template v-if="data.acf.movie_ko.length">
            <button @click="change('ko', $event)" :class="lang === 'ko' ? 'js-on' : ''">韓国語</button>
          </template>
          <template v-if="data.acf.movie_zh.length">
            <button @click="change('zh', $event)" :class="lang === 'zh' ? 'js-on' : ''">中国語</button>
          </template>
        </div>
      </template>
    </template>

    <!-- 日本語 -->
    <template v-if="lang === 'ja'">
      <div class="movieColumn__lang">
        <div class="movieColumn__lang__box">
          <button @click="movie" class="movieColumn__button" aria-label="movie button">
            <img :src="data.acf.movie_ja_img.url" alt="日本語" />
          </button>
          <iframe
            :title="data.title.rendered"
            width="100%"
            height="100%"
            src
            :data-src="String(data.acf.movie_ja)"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <template v-if="conf.title">
          <router-link
            :to="{
              name: 'templates',
              params: {
                slug: data.slug
              }
            }"
          >
            <p class="movieColumn__lang__box__title">{{ data.title.rendered }}</p>
            <p class="movieColumn__lang__box__price">
              <span>{{ gMoneyjp(gMoneyTax(data.acf.price, "add")) }}</span
              >円<b>(税込み)</b>
            </p>
            <div class="movieColumn__lang__box__summary">
              <p v-text="removeTag(data.content.rendered)"></p>
            </div>
            <p class="movieColumn__lang__box__link">詳細を見る></p>
          </router-link>
        </template>
      </div>
    </template>

    <!-- 英語 -->
    <template v-else-if="lang === 'en'">
      <div class="movieColumn__lang">
        <div class="movieColumn__lang__box">
          <button @click="movie" class="movieColumn__button">
            <img :src="data.acf.movie_en_img.url" alt="英語" />
          </button>
          <iframe
            :title="data.title.rendered"
            width="100%"
            height="100%"
            src
            :data-src="String(data.acf.movie_en)"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <template v-if="conf.title">
          <router-link
            :to="{
              name: 'templates',
              params: {
                slug: data.slug
              }
            }"
          >
            <p class="movieColumn__lang__box__title">{{ data.title.rendered }}</p>
            <p class="movieColumn__lang__box__price">
              <span>{{ gMoneyjp(gMoneyTax(data.acf.price, "add")) }}</span
              >円<b>(税込み)</b>
            </p>
            <div class="movieColumn__lang__box__summary">
              <p v-text="removeTag(data.content.rendered)"></p>
            </div>
            <p class="movieColumn__lang__box__link">詳細を見る></p>
          </router-link>
        </template>
      </div>
    </template>

    <!-- 中国語 -->
    <template v-else-if="lang === 'zh'">
      <div class="movieColumn__lang">
        <div class="movieColumn__lang__box">
          <button @click="movie" class="movieColumn__button">
            <img :src="data.acf.movie_zh_img.url" alt="中国語" />
          </button>
          <iframe
            :title="data.title.rendered"
            width="100%"
            height="100%"
            src
            :data-src="String(data.acf.movie_zh)"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <template v-if="conf.title">
          <router-link
            :to="{
              name: 'templates',
              params: {
                slug: data.slug
              }
            }"
          >
            <p class="movieColumn__lang__box__title">{{ data.title.rendered }}</p>
            <p class="movieColumn__lang__box__price">
              <span>{{ gMoneyjp(gMoneyTax(data.acf.price, "add")) }}</span
              >円<b>(税込み)</b>
            </p>
            <div class="movieColumn__lang__box__summary">
              <p v-text="removeTag(data.content.rendered)"></p>
            </div>
            <p class="movieColumn__lang__box__link">詳細を見る></p>
          </router-link>
        </template>
      </div>
    </template>

    <!-- 韓国語 -->
    <template v-else-if="lang === 'ko'">
      <div class="movieColumn__lang">
        <div class="movieColumn__lang__box">
          <button @click="movie" class="movieColumn__button">
            <img :src="data.acf.movie_ko_img.url" alt="韓国語" />
          </button>
          <iframe
            :title="data.title.rendered"
            width="100%"
            height="100%"
            src
            :data-src="String(data.acf.movie_ko)"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <template v-if="conf.title">
          <router-link
            :to="{
              name: 'templates',
              params: {
                slug: data.slug
              }
            }"
          >
            <p class="movieColumn__lang__box__title">{{ data.title.rendered }}</p>
            <p class="movieColumn__lang__box__price">
              <span>{{ gMoneyjp(gMoneyTax(data.acf.price, "add")) }}</span
              >円<b>(税込み)</b>
            </p>
            <div class="movieColumn__lang__box__summary">
              <p v-text="removeTag(data.content.rendered)"></p>
            </div>
            <p class="movieColumn__lang__box__link">詳細を見る></p>
          </router-link>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: ["data", "conf", "showclass"],
  data: function() {
    return {
      lang: this.conf.select ? this.conf.select : "ja"
    };
  },
  methods: {
    encode: t => encodeURIComponent(t),
    change(lang, e) {
      let targetDom = e.currentTarget.parentNode.parentNode.querySelector("iframe");
      // console.log(targetDom);
      targetDom.style.zIndex = -1;
      targetDom.setAttribute("src", "");
      this.lang = lang;
    },
    movie(e) {
      let targetDom = e.currentTarget.parentNode.querySelector("iframe");
      targetDom.style.zIndex = 1;
      targetDom.setAttribute("src", targetDom.dataset.src + "&autoplay=1");
    },
    removeTag(html) {
      let txt = html.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g, "");
      if (txt.length > 39) {
        txt = txt.slice(0, 39) + " ...";
      }
      return txt;
    }
  }
};
</script>

<style scoped lang="scss">
.movieColumn__lang {
  height: 100%;
  position: relative;
  a {
    display: block;
    padding-top: 15px;
    text-decoration: none;
  }
}
.movieColumn__lang__box {
  line-height: 0;
  position: relative;
  button {
    line-height: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    &::after {
      font-size: 20px;
      position: absolute;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      content: "▶";
      transition: all 0.3s;
      color: #ffffff;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
    }
    &::before {
      font-size: 3vw;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      content: "";
      transition: all 0.5s;
      opacity: 0;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.5);
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover::after {
      transform: scale(1.2);
    }
  }
  iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.movieColumn__lang__box__title {
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  font-size: 120%;
  @media screen and (max-width: 320px) {
    font-size: 110%;
  }
}
.movieColumn__lang__box__price {
  margin: 0;
  font-size: 110%;
  background: #efefef;
  display: table;
  padding: 0 10px;
  margin: 0;
  position: absolute;
  bottom: 22px;
  right: 31%;
  span {
    font-weight: bold;
    color: #e37d0f;
  }
  b {
    font-size: 80%;
    font-weight: normal;
  }
  @media screen and (min-width: 800px) {
    font-size: 90%;
    right: inherit;
    left: 15px;
  }
}
.movieColumn__lang__box__summary {
  font-size: 90%;
  margin: 0;
  @media screen and (min-width: 1100px) {
    font-size: 75%;
  }
  @media screen and (max-width: 320px) {
    font-size: 75%;
  }
}
.movieColumn__lang__box__link {
  font-size: 70%;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  background: #323232;
  color: #fff;
  display: table;
  margin: 0 0 0 auto;
}
.movieColumn__lang a:hover .movieColumn__lang__box__link {
  animation: bound 1s ease infinite;
}
.movieColumn__button img {
  width: 100%;
}

// 利用する場所によってデザインを変更
.news {
  background: #ffffff;
  box-shadow: 3px 3px 0 #3b3938;
  .movieColumn__lang {
    // margin-bottom: 20px;
    padding: 15px 15px 20px;
    text-align: left;
  }
}
.multi {
  .movieColumn__nav {
    margin: 0 0 -1px 0;
    button {
      font-size: 100%;
      position: relative;
      margin: 0 2px;
      padding: 7px 10px;
      cursor: pointer;
      border: none;
      outline: none;
      background: #edede6;
      &.js-on {
        color: #ffffff;
        background: #474645;
        &::after {
          position: absolute;
          z-index: 1;
          bottom: -9px;
          left: calc(50% - 10px);
          display: block;
          content: "";
          border-width: 10px 10px 0 10px;
          border-style: solid;
          border-color: #474645 transparent transparent transparent;
        }
      }
    }
  }
  .movieColumn__lang__box {
    padding: 10px;
    background: #ffec00;
  }
}
.multi.color {
  .movieColumn__nav button {
    font-size: 90%;
    padding: 6px 15px 4px;
    background: #ffffff;
    &.js-on {
      color: #ffffff;
      background: #474645;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .movieColumn__lang__box {
    padding: 3px;
    background: #474645;
  }
}
.direct.multi {
  .movieColumn__nav button {
    display: none;
    &.js-on {
      font-size: 90%;
      display: inline;
      margin: 0;
      padding: 6px 15px 4px;
    }
  }
  .movieColumn__lang__box {
    padding: 3px;
    background: #474645;
  }
}
</style>
