<template>
  <div id="newsTemplate" class="newsTemplate">
    <div class="newsTemplate__block" v-observe-visibility="visibilityChanged">
      <div class="newsTemplate__block__sub">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 200">
          <g id="news">
            <path
              ref="title5"
              class="cls-1"
              d="M649.92,57.82c8,0,15.68,7.28,15.79,15.56l.11,11.2c0,10.76-2.12,19.49-9,28.34-6.72,8.51-17.24,16.58-25.87,23.3-10.08,7.72-22.29-7.73-12.21-15.57,2.69-2,14.79-10.08,21.84-17.59a6.51,6.51,0,0,0,1.68-4.25v-22a1.77,1.77,0,0,0-1.79-1.8c-4.48-.11-6.94-.22-13.44,0-3.69.12-4.37,2.24-5.71,4.6a129.8,129.8,0,0,1-14.22,18.81c-8.29,9.52-22.85-3.13-14.45-12.77,1.79-2.12,4.7-4.25,8.62-9.18s7.84-11,9-12.1a23.55,23.55,0,0,1,16.35-6.6Z"
            />
            <path
              ref="title4"
              class="cls-1"
              d="M557,81.78c6.61,0,10.64,3.14,12.77,7.28,3.81,6.72.56,14.12-4.26,20.16a76.75,76.75,0,0,1-9.41,9.75c-8.28,8-20.27-4.71-11.87-12.55L549,102.5a3.17,3.17,0,0,0,1-2.12V99.14a1.51,1.51,0,0,0-1.57-1.45H536.13v33.82c0,11.54-17.36,11.54-17.36,0V97.69h-8.18c-10.53,0-10.53-15.91,0-15.91,3.14.12,8.18,0,8.18,0V77.19c0-11.42,17.36-11.42,17.36,0v4.59Z"
            />
            <path
              ref="title3"
              class="cls-1"
              d="M455.6,101.05c-.34,10.86-2.35,14.67-3.92,18.14-2.91,6.39-7.84,11.54-12.66,16.58-8.84,9.29-22.84-4-14-13.33,3.25-3.25,6.61-5.6,9.52-11a5.41,5.41,0,0,0,.79-2.91v-7.5H408.78c-10.64,0-10.52-16,0-16h26.55V74.39H424.24c-10.64,0-10.75-16.13-.11-16.13h32.7l1.79-2.46c3.25-4.48,9.52-4.26,13.11.11a44.55,44.55,0,0,1,3.69,5.94c3.14,5.6-.22,12.54-6.6,12.54H455.6c0,11.09.11,8.51,0,10.64h21.84c10.64,0,10.64,16,0,16Z"
            />
            <path
              ref="title2"
              class="cls-1"
              d="M310.56,79.54c-12.21,0-12.21-18.59,0-18.59h24.19c12.21,0,12.21,18.59,0,18.59ZM367.68,78c8.62-9.19,22.62,3.8,14,13.1-28.22,30.58-34.83,37.18-34.83,37.18-8.07,8.52-19.27,14.23-30,.12-5-6.61-1.23-16.13,7.06-16.13h11.53Z"
            />
            <path
              ref="title1"
              class="cls-1"
              d="M208.3,73.27c-11.31,0-11.31-17.13,0-17.13h21.4c11.42,0,11.42,17.13,0,17.13Zm0,24.31c-11.31,0-11.31-17.14,0-17.14h21.4c11.42,0,11.42,17.14,0,17.14Zm58.58-18c8.51-9.07,22.18,3.7,13.66,12.88-27.55,29.91-34,36.4-34,36.4-8,8.4-18.93,14-29.46.12-4.93-6.5-1.23-15.8,6.94-15.8H235.3Z"
            />
            <path
              ref="icon"
              class="cls-1"
              d="M173.76,84.27c-1.14-4.27,3.66-11,1.5-14.73s-10.44-3-13.52-6.06h0c-3.07-3.08-2.27-11.33-6.06-13.52S145.22,52.6,141,51.46c-4.12-1.11-7.54-8.66-12-8.66s-7.89,7.55-12,8.66-11-3.66-14.73-1.5-3,10.44-6.06,13.52-11.32,2.27-13.52,6.06S85.25,80,84.11,84.27s-8.65,7.54-8.65,12,7.55,7.89,8.65,12-3.66,11-1.5,14.73,10.44,3,13.52,6.06h0c3.07,3.08,2.27,11.32,6.06,13.51s10.46-2.63,14.73-1.49,7.54,8.65,12,8.65,7.9-7.55,12-8.65c4.27-1.14,11,3.65,14.73,1.49s3-10.43,6.06-13.51,11.32-2.27,13.52-6.06-2.64-10.47-1.5-14.73,8.65-7.55,8.65-12S174.86,88.39,173.76,84.27ZM115,104.68a2.87,2.87,0,0,1-.7,2.06,2.51,2.51,0,0,1-1.92.75,2.58,2.58,0,0,1-1.73-.59,5.88,5.88,0,0,1-1.36-1.71l-6.64-11.8h-.12v11.84a2.27,2.27,0,0,1-.59,1.67,2.33,2.33,0,0,1-3.1,0,2.27,2.27,0,0,1-.59-1.67v-17a2.89,2.89,0,0,1,.7-2.06,2.54,2.54,0,0,1,1.92-.75,2.63,2.63,0,0,1,1.74.6,6.12,6.12,0,0,1,1.35,1.7l6.64,11.84h.12V87.68a2.23,2.23,0,0,1,.6-1.67,2,2,0,0,1,1.54-.6,2.07,2.07,0,0,1,1.55.6,2.27,2.27,0,0,1,.59,1.67Zm9-10.33h6.16a2.12,2.12,0,0,1,1.56.56,2.13,2.13,0,0,1,0,2.9,2.16,2.16,0,0,1-1.56.56H124a.17.17,0,0,0-.19.19v4.5a.17.17,0,0,0,.19.19h7.69a2.19,2.19,0,0,1,1.58.57,2,2,0,0,1,.59,1.44,2,2,0,0,1-.59,1.47,2.19,2.19,0,0,1-1.58.57H121.14a2,2,0,0,1-1.5-.57,2.12,2.12,0,0,1-.54-1.5V87.68a2.09,2.09,0,0,1,.54-1.5,2,2,0,0,1,1.5-.57h10.53a2.19,2.19,0,0,1,1.58.57,2,2,0,0,1,.59,1.47,1.92,1.92,0,0,1-.59,1.43,2.15,2.15,0,0,1-1.58.58H124a.17.17,0,0,0-.19.19v4.31A.17.17,0,0,0,124,94.35Zm37.16-6.26a3.16,3.16,0,0,1-.09.48L156.58,105a3.79,3.79,0,0,1-1,1.9,2.25,2.25,0,0,1-1.58.56,2.17,2.17,0,0,1-1.58-.56,4.13,4.13,0,0,1-1-1.9l-3.29-11.51h-.06L144.91,105a4,4,0,0,1-1,1.9,2.54,2.54,0,0,1-3.18,0,3.87,3.87,0,0,1-1-1.9l-4.46-16.46a2.26,2.26,0,0,1-.1-.48,3.75,3.75,0,0,1,0-.44,2.19,2.19,0,0,1,.62-1.6,2.24,2.24,0,0,1,1.67-.64,2.12,2.12,0,0,1,1.42.5,3,3,0,0,1,.88,1.67l2.84,12h.06L146,87.42c.38-1.34,1.12-2,2.2-2s1.85.67,2.24,2l3.38,12.16h.06l2.74-12a2.85,2.85,0,0,1,.87-1.67,2.39,2.39,0,0,1,3.09.14,2.26,2.26,0,0,1,.61,1.6A2.47,2.47,0,0,1,161.14,88.09Z"
            />
          </g>
        </svg>
      </div>
      <h3 class="newsTemplate__block__title" ref="news__title__1">テンプレートの新着情報</h3>
      <template v-if="Object.keys(templates).length <= 0">
        <gLoading :param="{ patern: 2 }" />
      </template>
      <div class="g__flex">
        <template v-for="(templates, index) in templates">
          <movieColumn :key="index" class="newsTemplate__block__inner__movie news" :data="templates" :conf="{ title: true, navhide: true }" />
        </template>
      </div>
      <!-- <linkButton
        class="newsTemplate__block__inner__link"
        :params="{
          color:'#16B3EE',
          text:'すべて見る',
          router:{
            name: 'seasons'
          }
        }"
      /> -->
    </div>
  </div>
</template>

<script>
import store from "@/store";
import { gsap, TimelineLite, Back, Elastic } from "gsap";
// import linkButton from "@/viewComponent/molecules/linkButton.vue";
import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
export default {
  components: {
    // linkButton,
    movieColumn,
    gLoading
  },
  data() {
    return { timeline: null };
  },
  computed: {
    templates: () => store.state.templates
  },
  watch: {
    // newsTemplateの初期表示をjaにセット
    // templatesnewsTemplate(val) {
    //   for (let i = 0; i < val.length; i++) {
    //     this.setnewsTemplate(i, "ja");
    //   }
    // }
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 120
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(1.7)
          }
        );
        // animation start
        this.timeline.play(0);
      } else {
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {},
  mounted() {
    let timeAdjust = 0.7;
    this.timeline = new TimelineLite();
    this.timeline
      // アイキャッチタイトル部分
      .set(this.$refs.icon, { xPercent: -70, rotate: 180 })
      .set(this.$refs.title1, { xPercent: -240, rotate: 180 })
      .set(this.$refs.title2, { xPercent: -500, rotate: 180 })
      .set(this.$refs.title3, { xPercent: -650, rotate: 180 })
      .set(this.$refs.title4, { xPercent: -750, rotate: 180 })
      .set(this.$refs.title5, { xPercent: -850, rotate: 180 })
      .set(this.$refs.news__title__1, { yPercent: 10, opacity: 0 })
      .to(
        this.$refs.icon,
        1.5,
        {
          xPercent: 0,
          rotate: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust
      )
      .to(
        this.$refs.title1,
        1.5,
        {
          xPercent: 0,
          rotate: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.1
      )
      .to(
        this.$refs.title2,
        1.5,
        {
          xPercent: 0,
          rotate: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.2
      )
      .to(
        this.$refs.title3,
        1.5,
        {
          xPercent: 0,
          rotate: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.3
      )
      .to(
        this.$refs.title4,
        1.5,
        {
          xPercent: 0,
          rotate: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.4
      )
      .to(
        this.$refs.title5,
        1.5,
        {
          xPercent: 0,
          rotate: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.5
      )
      .to(
        this.$refs.title6,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.6
      )
      // title
      .to(
        this.$refs.news__title__1,
        1.5,
        {
          yPercent: 0,
          opacity: 1,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1
      );
    this.timeline.pause(0.1);
  }
};
</script>

<style scoped lang="scss">
.newsTemplate {
  padding: 6px 0 0 0;
  @media screen and (min-width: 800px) {
    padding: 6px 0 0 3px;
  }
}
.newsTemplate__block {
  height: 100%;
  min-height: 500px;
  padding: 20px 20px 80px;
  transition: height 0.5s;
  text-align: center;
  background: #edede6;
  @media screen and (min-width: 800px) {
    padding: 5vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 5vw 9vw;
  }
}
.newsTemplate__block__inner__movie {
  margin-bottom: 30px;
  @media screen and (min-width: 800px) {
    width: 31%;
    margin: 0 1% 20px;
  }
}
.newsTemplate__block__sub {
  svg {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: 800px) {
      margin-top: -2vw;
    }
  }
  .cls-1 {
    fill: #3b3938;
  }
}
.newsTemplate__block__title {
  line-height: 1.8;
  margin: 0 0 30px;
  text-align: center;
  span {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
  }
  strong {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #ffffff;
  }
  b {
    position: absolute;
    z-index: 2;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    background: #ffffff;
  }
  span::after {
    position: absolute;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    content: "";
    background: #1194c5;
  }
  span::before {
    position: absolute;
    top: -1.1em;
    left: 5px;
    content: attr(data-ruby);
  }
}
</style>
