<template>
  <div class="pageHead">
    <img :src="param.img" />
    <p class="pageHead__text">{{ param.text }}</p>
  </div>
</template>

<script>
export default {
  props: ["param"],
  components: {},
  data: function() {
    return {};
  },
  methods: {},
  created() {}
};
</script>

<style scoped lang="scss">
.pageHead {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  .pageHead__text {
    position: relative;
    text-align: center;
    font-weight: bold;
    &::after {
      display: inline-block;
      margin-left: 5px;
      content: "／";
    }
    &::before {
      display: inline-block;
      margin-right: 5px;
      content: "／";
      transform: rotateZ(90deg);
    }
  }
}
</style>
