<template>
  <div id="pickup" class="pickup">
    <div class="pickup__block" v-observe-visibility="visibilityChanged">
      <template v-if="Object.keys(templatesPickup).length <= 0">
        <gLoading :param="{ patern: 2 }" />
      </template>
      <template v-for="(templates, index) in templatesPickup">
        <section :key="index">
          <h3 class="pickup__block__sub" ref="title__1"><img src="~@/images/newyear.svg" :alt="templates.acf.pickuptitle" /></h3>
          <h3 class="pickup__block__title" ref="title__2">
            {{ templates.acf.pickuptitle }}
          </h3>
          <div class="pickup__block__inner">
            <div class="g__flex">
              <div class="g__flex__50 pickup__block__inner__movie">
                <movieColumn :data="templates" :conf="{ title: false }" showclass="multi" />
              </div>
              <div class="g__flex__50">
                <h4 class="pickup__block__inner__title">
                  {{ templates.title.rendered }}
                  <p class="pickup__block__inner__price">
                    <span>{{ gMoneyjp(gMoneyTax(templates.acf.price, "add")) }}</span
                    >円<b>(税込み)</b>
                  </p>
                </h4>
                <p class="pickup__block__inner__text" v-html="templates.content.rendered"></p>
                <linkButton
                  class="pickup__block__inner__link"
                  :params="{
                    color: '#16B3EE',
                    text: '詳細はこちら',
                    router: {
                      name: 'templates',
                      params: {
                        slug: templates.slug
                      }
                    }
                  }"
                />
              </div>
            </div>
          </div>
        </section>
      </template>
    </div>
  </div>
</template>

<script>
import store from "@/store";
import { gsap, TimelineLite, Back } from "gsap";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
export default {
  components: {
    linkButton,
    movieColumn,
    gLoading
  },
  data() {
    return { timeline: null };
  },
  computed: {
    templates: () => store.state.templates,
    templatesPickup: () => store.getters.templatesPickup
  },
  watch: {
    // pickupの初期表示をjaにセット
    // templatesPickup(val) {
    //   for (let i = 0; i < val.length; i++) {
    //     this.setPickup(i, "ja");
    //   }
    // }
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 120
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(1.7)
          }
        );
        // animation start
        this.timeline.play(0);
      } else {
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    },
    setPickup(index, lang) {
      // console.log(this.pickup);
      this.$set(this.pickup, index, lang);
    }
  },
  mounted() {
    this.timeline = new TimelineLite();
    this.timeline
      .set(this.$refs.title__1, { yPercent: 20 })
      .set(this.$refs.title__2, { yPercent: 100 })
      .to(
        this.$refs.title__1,
        1.5,
        {
          yPercent: 0,
          ease: Back.easeOut.config(2)
        },
        0.3
      )
      .to(
        this.$refs.title__2,
        1.5,
        {
          yPercent: 0,
          ease: Back.easeOut.config(2)
        },
        0.3
      );
    if (Object.keys(this.templatesPickup).length) {
      // console.log("start");
      // console.log(Object.keys(this.templatesPickup).length);
      // for (let i = 0; i < Object.keys(this.templatesPickup).length; i++) {
      //   this.setPickup(i, "ja");
      // }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.pickup {
  padding: 6px 0 0 0;
  @media screen and (min-width: 800px) {
    padding: 6px 0 0 3px;
  }
}
.pickup__block {
  height: 100%;
  min-height: 500px;
  padding: 20px;
  transition: height 0.5s;
  text-align: center;
  background: #edede6;
  @media screen and (min-width: 800px) {
    padding: 5vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 5vw 9vw;
  }
}
.pickup__block__inner {
  margin: 0 -10px;
  padding: 20px 10px;
  border: 4px solid #3b3938;
  background: #ffffff;
  @media screen and (min-width: 800px) {
    padding: 2vw 5vw;
    border: 6px solid #3b3938;
  }
}
.pickup__block__inner__movie {
  @media screen and (min-width: 800px) {
    padding-right: 20px;
  }
}
.pickup__block__inner__title {
  font-size: 110%;
  font-weight: bolder;
  margin: 10px 0;
  text-align: left;
  @media screen and (min-width: 800px) {
    font-size: 140%;
    margin: 0;
  }
  &::before {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    margin-right: 5px;
    content: "";
    vertical-align: text-bottom;
    background: url("~@/images/icon_video.svg") no-repeat;
    background-size: contain;
  }
}
.pickup__block__inner__price {
  margin: 0;
  font-size: 80%;
  background: #efefef;
  display: table;
  padding: 0 10px;
  margin: 10px 0 0;
  font-weight: normal;
  span {
    font-weight: bold;
    color: #e37d0f;
  }
  b {
    font-size: 80%;
    font-weight: normal;
  }
  @media screen and (min-width: 800px) {
  }
}
.pickup__block__inner__text {
  font-size: 80%;
  margin: 20px 0;
  text-align: left;
}
.pickup__block__inner__link {
  @media screen and (min-width: 800px) {
    margin: 0 !important;
  }
}
.pickup__block__sub {
  margin: 0;
  img {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  @media screen and (min-width: 800px) {
    padding: 0 23vw;
  }
}
.pickup__block__title {
  line-height: 1.8;
  margin: 0 0 30px;
  text-align: center;
  span {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
  }
  strong {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #ffffff;
  }
  b {
    position: absolute;
    z-index: 2;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    background: #ffffff;
  }
  span::after {
    position: absolute;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    content: "";
    background: #1194c5;
  }
  span::before {
    position: absolute;
    top: -1.1em;
    left: 5px;
    content: attr(data-ruby);
  }
}
</style>
