<template>
  <div class="readPolicy">
    <h3>当WEBサイトにおける<br class="g__pc__hide" />個人情報の取り扱いについて</h3>
    <p>
      株式会社ジェイ・ティ（以下「当社」といいます）は、当WEBサイトにおいて、お客様からお預かりした個人情報（氏名、出生年、性別、ご住所、電話番号、メールアドレス、クレジットカード情報等）を、以下の利用目的の範囲内で利用させていただきます。
    </p>
    <p>(1)ご購入頂いた商品の送付</p>
    <p>(2)ご購入頂いた商品のアフターサービス</p>
    <p>(3)ご購入頂いた商品のお支払いに関する業務</p>
    <p>(4)お客様からのご請求（資料請求、商品紹介、訪問又は相談等）への対応</p>
    <p>(5)当社の事業活動に関する新商品、イベント・キャンペーンの開催に関するご案内</p>
    <p>(6)各種キャンペーンの抽選及び商品の発送</p>
    <p>(7)各種お問い合わせへの対応</p>
    <p>(8)お客様との契約、法律等に基づく権利の行使及び義務の履行</p>
    <p>(9)お客様の個人情報を取得する際に明示した目的</p>
    <p>(10)上記の目的に付帯する業務</p>
    <p>
      なお、本規定に定められていない事項は、当社の「個人情報保護方針」 （<a href="http://www.jt-s.com/privacy/index.html" target="_blank"
        >http://www.jt-s.com/privacy/index.html）</a
      >に基づき、取り扱いさせて頂きますので併せて、ご参照ください。
    </p>
  </div>
</template>

<script>
export default {
  computed: {},
  data: function() {
    return {};
  },
  methods: {},
  mounted() {},
  created() {}
};
</script>

<style scoped lang="scss">
.readPolicy {
  font-size: 80%;
  position: relative;
  max-width: 750px;
  margin: 20px auto;
  padding: 0 20px;
}
h2 {
  margin-top: 40px;
}
h3 {
  margin-top: 30px;
}
table {
  border-collapse: collapse;
  th,
  td {
    padding: 5px;
    border: 1px solid #cccccc;
  }
  th {
    background: #ededed;
  }
}
</style>
