<template>
  <div class="readTerms">
    株式会社ジェイ・ティ（以下「当社」といいます。）は、映像コンテンツの制作サービスである「テンプレプラス」を提供します。この約款（以下「本約款」といいます。）は、本サービス（第2条第1号に定義されます）の利用に関する条件を定めるものです。お客様においては、本約款をよくお読みください。
    <section>
      <h3>第1条（総則）</h3>
      <p>
        1．本約款は、当社と、本約款に基づき本サービスの利用を申し込んだ者（以下「お客様」といいます。）との間で適用されるもので、本サービスの提供に関連して、当社及びお客様との間の権利義務関係を定めることを目的とします。
      </p>
      <p>
        2．お客様は、本約款に同意しない限り本サービスを利用できません。本サービスに関して当社が当社ウェブサイト又は本サービス上において配布、配信する文書等に規定する内容（以下「個別規定」といいます。）は、お客様との間で本約款の一部を構成するものとし、それらが本約款と抵触する場合には、当該個別規定が優先されるものとします。
      </p>
    </section>
    <section>
      <h3>第2条（定義）</h3>
      <p>
        1．本約款において、次の各号に掲げる用語の意義は、当該各号に定めるところによるものとします。
      </p>
      <p>
        (1)「本サービス」<br />
        「テンプレプラス」の名称で提供されるサービスで、当社所定のテンプレート素材をベースに、お客様によるテンプレート素材の指定や素材の提供等に基づき本映像コンテンツ（次号に定義されます）を制作するサービスをいいます。なお、本サービス上に表示されるテンプレート素材はサンプルとして表示されているものにすぎず、また、本サービスはテンプレート素材等を販売するものではありません。
      </p>
      <p>
        (2)「本映像コンテンツ」<br />
        本サービスにおいて制作し、お客様に提供される映像コンテンツをいいます。
      </p>
      <p>
        (3)「コンテンツ」<br />
        本サービスを通じて閲覧・選択・提供される情報（文章、画像、動画、音声、音楽その他のサウンド、イメージ、ソフトウェア、プログラム、コードその他のデータ及び行動情報等を含みますが、これらに限られません。）をいいます。
      </p>
      <p>
        (4)「知的財産権等」<br />
        著作権（著作権法第27条及び同法第28条の権利を含みます。本約款において以下同様とします）、特許権、実用新案権、商標権、意匠権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます。）及びアイデア、ノウハウ等に係る権利をいいます。
      </p>
    </section>
    <section>
      <h3>第3条（本サービスの利用申込みと承諾）</h3>
      <p>
        1．本サービスの利用を希望するお客様は、本約款に同意したうえで、当社の定める方法に従い、お客様の各種情報、本サービスの申込に必要な情報（以下「申込情報」といいます。）を当社に提供することにより、利用申込みを行います。
      </p>
      <p>2．前項のテンプレート素材等の種類及び指定の方法・条件については、当社が別途定めるところによるものとします。</p>
      <p>
        3．前項の申込みについて、当社は当社の裁量によってこれを承諾し、その時点で本サービス利用契約が成立します。お客様は、前項の申込後、当社の指示に従い、本サービス利用料を先立って支払うものとします。
      </p>
      <p>
        4．当社は、本サービスの提供に必要となる情報、素材データ、テキスト等の提供を求めます。なお、お客様は当該素材データ等を無償で提供するものとします。
      </p>
      <p>
        5．当社からの求めにかかわらず、お客様が関係資料等を提供しない場合、当社は、本サービスに基づく制作等の業務に着手しないものとし、これによってお客様に損害が生じた場合でも、当社は何らの責任を負わないものとします。
      </p>
      <p>
        6．お客様は、自己に関する情報に誤りがあった場合又は変更が生じた場合、自己の責任において、速やかに当社に対しその旨通知するものとし、当該情報の内容に虚偽、誤り又は記載漏れがあったことによりお客様に損害が生じたとしても、当社は一切責任を負いません。
      </p>
    </section>
    <section>
      <h3>第4条（本サービスの内容等）</h3>
      <p>
        1．当社は、お客様のテンプレート素材等の指定及び提供されたデータ等に基づく本映像コンテンツの制作等サービスを、当社が定めるところに従い提供します（権利関係については次条において定めるものとします。）。
      </p>
      <p>
        2．本サービスに基づく本映像コンテンツの制作は、当社が別途定める本サービス利用料の支払いを当社が確認した後で、かつ前条に基づき必要な素材データ等の提供がなされた後に開始されるものとし、当該支払い及び素材データ等の提供が確認されるまで、当社は制作等の業務に着手することはありません。かかる支払い又はデータ等の提供が遅延したことによって、当初提示した納品予定日を遅延することになっても、当社はその責任を負わないものとします。
      </p>
      <p>
        3．お客様は、当社に対し依頼した本映像コンテンツの制作について、中途解約をすることはできません。ただし、当社が特に認めた場合はこの限りではありません。
      </p>
      <p>
        4．第3条第3項に基づき本サービス利用契約が成立し、かつ、本サービス利用料の支払いがあった場合であっても、6ヶ月経過を経過しても
        なお素材データ等の提供がない場合は、本サービス利用契約は自動で解約されるものとします。なお、この解約の場合であっても、支払済みの本サービス利用料は返金しないものとし、お客様はこれにつきあらかじめ承諾するものとします。
      </p>
    </section>
    <section>
      <h3>第5条（納品及び修正）</h3>
      <p>
        1．当社は、本映像コンテンツの最終納品に先立ち、第一次納品を行います。
      </p>
      <p>2．前項の第一次納品及び最終納品の方法については、別途当社が定めるところによります。</p>
      <p>
        3．納期 は原則として当社が別途定めるところによるものとします。なお、本サービス上において表示される納期は納期の目安
        を表示したものであって、個別の事情によって変動しうることを、お客様はあらかじめ承諾するものとします。
      </p>
      <p>
        4．お客様は、第1項の第一次納品を受けた後、当社が別途定める期間内に（以下「確認期間」といいます。）、修正を要するか否かについて、確認をするものとし、修正を求める場合は、修正の理由、修正の箇所及び修正の具体的内容を、書面（電子メール等電磁的方法による場合を含む。）をもって、通知するものとします。
      </p>
      <p>
        5．当社は、前項の通知を受けた後、当社は、別途定めるところに従い無償で修正作業を行うものとします。なお、この無償での修正作業は、1回に限られるものとします。
      </p>
      <p>
        6．前項の修正作業に基づき当社が行う納品を最終納品とします。なお、第3項の確認期間内にお客様から何らの通知が当社に到達しない場合又は修正がない旨の通知があった場合、第一次納品を最終納品とし、お客様に納品みなします。
      </p>
      <p>7．最終納品後の再修正については、別途費用が発生するものとします。</p>
    </section>
    <section>
      <h3>第6条（知的財産権等の帰属及び権利の許諾等）</h3>
      <p>
        1．本サービスに基づき提供する本映像コンテンツ（当該本映像コンテンツを構成する動画、静止画、音声、テキストすべてを含みます。）、テンプレート素材等、及び本サービスに関するコンテンツ一切の知的財産権等は、当社又は当社に権利を許諾した第三者に帰属するものとします。
      </p>
      <p>
        2．当社はお客様に対し、制作した本映像コンテンツの著作権につき、当社又はお客様が明示した利用目的若しくは制限の範囲内で、その利用を許諾します。但し、その利用には、以下の各号の行為は含まれないものとします。<br />
        (1)再利用許諾<br />
        (2)譲渡・販売<br />
        (3)商品化（媒体への保存等商品化の手段を問わないものとします。）<br />
        (4)貸与<br />
        (5)編纂<br />
        (6)本映像コンテンツを構成するデータの一部抽出<br />
        (7)本サービスと同種の態様による、本映像コンテンツの商業的利用<br />
        (8)その他当社が別途定める態様の行為
      </p>
      <p>
        3．前項ただし書の規定にかかわらず、当社及びお客様との間で別途、書面又は等電磁的方法をもって合意した態様の行為については、前項の利用許諾の範囲に含まれるものとします。
      </p>
      <p>
        4．本サービス上、当社の商標、ロゴ及びサービスマーク等（以下、総称して「商標等」といいます。）が表示される場合がありますが、当社は、お客様その他の第三者に対し、商標等を譲渡し、又はその使用を許諾するものではありません。
      </p>
    </section>
    <section>
      <h3>第7条（提携サービス等の利用）</h3>
      <p>
        1．お客様は、当社の提携パートナーが提供する提携サービスを利用できる場合があり、提携サービスの利用にあたっては、本約款の他、提携サービスの利用約款その他の条件に従うものとします。
      </p>
      <p>
        2．当社は、提携サービスの内容等がお客様の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性・完全性を有すること、お客様による提携サービスの利用がお客様に適用のある法令又は業界団体の内部規則等に適合すること、及び一切の不具合等が生じないことについて、何ら保証するものではありません。
      </p>
    </section>
    <section>
      <h3>第8条（本サービス利用料 ）</h3>
      <p>
        1．お客様は、当社が別途定める料金メニューに従い、本サービス利用料（本映像コンテンツの権利許諾料を含みます。）を、本サービスの利用申込み後、支払うものとします。なお、振込手数料はお客様のご負担でお願いします。
      </p>
      <p>
        2．前項の本サービス利用料の支払方法及びその期限については、別途当社が定めるところによるものとします。
      </p>
      <p>
        3．当社は、一度支払いが完了した本サービス利用料を理由の如何を問わず返金しないものとし、お客様はこれにつきあらかじめ承諾するものとします。ただし、当社が別途認めた場合はこの限りではありません
        。なお、その場合であっても返金の際の振込手数料はお客様のご負担とします。
      </p>
      <p>
        4．当社は、料金メニューを当社の裁量に従い、増減・変更することができるものとします。ただし、お客様が本映像コンテンツの制作を依頼した後に当該サービス提供に係る料金額を変更することはありません。
      </p>
    </section>
    <section>
      <h3>第9条（情報の取扱い）</h3>
      <p>
        1．当社は、お客様提供情報を善良な管理者の注意をもって適正に管理するものとします。
      </p>
      <p>
        2．お客様提供情報及び別途当社が収集した情報に基づき生成された統計情報を、本サービスの提供及び運用、本サービス内容の改良及び向上、並びにこれらに付随関連する業務等の目的のために利用し、又はお客様を特定できない形での統計的な情報として公開利用することができるものとし（以下「統計情報の利用等」といいます。）、お客様はあらかじめこれを承諾するものとします。
      </p>
    </section>
    <section>
      <h3>第10条（保証の否認及び免責）</h3>
      <p>
        1．当社は、本サービス及び提供される本映像コンテンツが、お客様の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性・完全性を有すること、お客様に適用のある法令又は業界団体の内部規則等に適合すること、及び不都合が生じないことについて、何ら保証するものではありません。
      </p>
      <p>
        2．当社は、提供される本映像コンテンツが第三者のいかなる知的財産権等をも侵害しないこと及び提供される本映像コンテンツに紛争の原因が一切存在しないことを何ら保証するものではありません。
      </p>
      <p>
        3．お客様における本映像コンテンツの利用に関連して、第三者との間で紛争が生じた場合であっても、当社は一切の責任を負わないものとし、お客様の責任と負担においてこれを解決するものとします。
      </p>
    </section>
    <section>
      <h3>第11条 （禁止行為）</h3>
      <p>
        1．お客様は、本サービスの利用にあたり、自ら又は第三者をして、以下の各号のいずれかに該当する行為をしてはならず、また、以下の各号の行為を直接又は間接に惹起し、又は容易にしてはなりません。<br />(1)本約款に違反する行為又はそのおそれがある行為
        <br />(2)犯罪行為又は公序良俗若しくは法令に違反する行為のために本サービスを用いる行為
        <br />(3)反社会的勢力等（暴力団、暴力団員、右翼団体その他の反社会的勢力及びこれらに準ずる者をいいます。）への利益供与行為
        <br />(4)当社の信用を毀損し、又は当社の事業活動を阻害する態様で本サービスを利用する行為
        <br />(5)当社又は第三者のプライバシー権、名誉権、知的財産権を侵害する行為
        <br />(6)前各号の他、法令、裁判所の判決、決定若しくは命令、又は法令上拘束力のある行政措置に違反する行為及びこれらを助長する行為
        <br />(7)その他、本約款に違反する行為
      </p>
      <p>
        2．前項に違反した場合、お客様は、定められた本サービス利用料の2倍に相当する違約金を支払わなければなりません
        。なお、かかる違約金の支払いは、当社が別途損害賠償請求をすることを妨げないものとします。
      </p>
      <p>
        3．本サービスへの申込後
        で納品が完了しないまでの間、第1項の違反が判明した場合、当社は何らの事前の通知なく本サービスに基づく契約を解除することができるものとします。なお、かかる解除によって生じたいかなる損害についても、当社はその責任を負わないものとします。
      </p>
      <p>
        4．本映像コンテンツをお客様に提供された後に、第1項各号所定の行為等が発見された場合、お客様は、当社の指示に従い、当該本映像コンテンツのデータを削除するなど侵害行為等を是正しなければなりません。当社は、お客様による当該侵害行為等が解消されるまで、お客様の本サービスの利用を停止することができ、当該停止によりお客様に生じた一切損害を負担いたしません。
      </p>
    </section>
    <section>
      <h3>第12条（損害賠償）</h3>
      <p>
        1お客様による本約款の違反行為その他本サービスの利用に起因して、当社に直接又は間接の損害が生じた場合、お客様は、当社に対し、その損害を賠償しなければなりません。
        2当社は、本サービスの利用に関連してお客様が被った損害について賠償する場合であっても定められた本サービス利用料額相当する金額を上限として、賠償するものとします。
      </p>
    </section>
    <section>
      <h3>第13条（秘密保持）</h3>
      <p>
        1．お客様は、当社の事前の書面による承諾がある場合を除き、本サービスに関連して当社が秘密である旨指定して開示した非公知の情報を秘密に取り扱うものとします。
      </p>
      <p>
        2．お客様は、当社から求められた場合はいつでも、当社の指示に従い、遅滞なく、前項の情報及び当該情報を記載又は記録した書面その他の記録媒体物並びにそのすべての複製物等を返却又は廃棄しなければなりません。
      </p>
    </section>
    <section>
      <h3>第14条（本サービスの契約期間）</h3>
      <p>
        1．本利用契約の有効期間は、第4条第4項または第11条第3項に基づき本契約が終了しない限り、本サービスの利用に関する承諾時から最終納品時までとします。
      </p>
      <p>
        2．前項の規定にかかわらず、お客様は、本サービス契約の終了後も、当社及び第三者に対する本サービス契約上の一切の義務及び債務等（損害賠償及び非保証等の条項を含みますが、これらに限りません。）を免れるものではありません。
      </p>
    </section>
    <section>
      <h3>第15条（本サービスの停止、変更および終了）</h3>
      <p>
        1．当社は、次の各号のいずれかに該当する場合、お客様に事前に通知することなく本サービスを停止できるものとします。
        <br />(1)本サービスの保守点検および本サービスの障害により、緊急にシステムのメンテナンスを実施する場合
        <br />(2)一般通信回線・ネットワークの障害、その他想定の範囲外の障害により、本サービスの提供ができなくなった場合
        <br />(3)その他、運用上あるいは技術上、想定外の事由が生じ緊急に本サービスの停止が必要と判断した場合
        <br />(4)天災、地変、動乱、暴動、労働争議等の当社の責めに帰さない事由により、本サービスの提供ができなくなった場合
      </p>
      <p>2．当社は、事前に本サービスサイトに掲載することなく本サービスの仕様を変更することがあります。</p>
      <p>3．当社は、本サービスを終了する場合は、本サービスのサイトへの掲載により本サービスの終了をお知らせするものとします。</p>
      <p>4．当社は、本条の停止、変更および終了により、お客様に生じた損害について、法令上免責が認められない場合を除き、一切責任を負いません。</p>
      <p>5．当社は、本サービス契約が終了する場合は、お客様より提供された各種データ等を破棄するものとします。</p>
    </section>
    <section>
      <h3>第16条（プロモーション利用）</h3>
      <p>
        当社は、お客様の承諾を得た上で、本映像コンテンツの納品後、本サービスの実績として、本サービスのサイトや各種展示会で紹介できるものとします。当社は、掲載前にお客様に掲載内容の確認を依頼します。
      </p>
    </section>
    <section>
      <h3>第17条（権利義務の譲渡禁止）</h3>
      <p>
        1．お客様は、当社の書面による事前の承諾がある場合を除き、本サービス契約に基づく権利若しくは義務、本サービス契約上の地位について、第三者への譲渡、承継、担保設定、その他一切の処分をすることはできません。
      </p>
      <p>
        2．当社が、本サービスに係る事業を第三者に譲渡し、又は当社が消滅会社若しくは分割会社となる合併若しくは会社分割等により本サービスに係る事業を包括承継させたときは、当社は、当該事業譲渡等に伴い、本サービスに関する契約上の地位、権利及び義務並びにお客様に関する情報を当該事業譲渡等の譲受人又は承継人に譲渡することができるものとし、お客様は、あらかじめこれに同意するものとします。
      </p>
    </section>
    <section>
      <h3>第18条（分離可能性）</h3>
      <p>
        1．本約款のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、当該無効又は執行不能と判断された条項又は部分（以下「無効等部分」といいます。）以外の部分は、継続して完全に効力を有するものとします。当社及びお客様は、無効等部分を、適法とし、執行力をもたせるために必要な範囲で修正し、無効等部分の趣旨及び法律的・経済的に同等の効果を確保できるように努めるものとします。
      </p>
      <p>
        2．本約款のいずれかの条項又はその一部が、あるお客様との関係で無効又は執行不能と判断された場合であっても、他のお客様との関係における有効性等には影響を及ぼさないものとします。
      </p>
    </section>
    <section>
      <h3>第19条（準拠法及び合意管轄）</h3>
      <p>
        本約款は日本法に準拠するものとし、本約款に起因し又は関連する一切の紛争については、訴額に応じ、名古屋地方裁判所又は名古屋簡易裁判所を第一審の専属的合意管轄裁判所とします。
      </p>
    </section>
    <p>2020年2月28日 制定</p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.readTerms {
  font-size: 80%;
  position: relative;
  max-width: 750px;
  margin: 20px auto;
  padding: 0 20px;
  section {
    margin-top: 40px;
  }
  h3 {
    font-weight: bold;
  }
  p {
    font-size: 90%;
    line-height: 1.5;
  }
}
</style>
