<template>
  <section class="seasons" v-observe-visibility="visibilityChanged">
    <div class="seasons__inner">
      <div class="seasons__sub">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 200">
          <g id="seasons">
            <path
              ref="title6"
              class="cls-1"
              d="M669.78,111.6l2,15c1.8,13.32-18.35,16.25-20.16,2.81l-2.36-17.8h-24c-11.31,0-11.33-17.12,0-17.13l21.61,0-1.58-11.76-18.81,0c-11.31,0-11.33-17.13,0-17.14H643l-.45-3.81c-1.8-13.32,18.35-16,20.16-2.7l.9,6.49H686c11.31,0,11.32,17.12,0,17.13l-20.16,0,1.58,11.76,20.94,0c11.43,0,11.33,17.13,0,17.14Z"
            />
            <path
              ref="title5"
              class="cls-1"
              d="M524.49,72.18c-11.31,0-11.33-17.13,0-17.14h21.4c11.42,0,11.43,17.12,0,17.13Zm0,24.3c-11.31,0-11.33-17.12,0-17.13l21.4,0c11.42,0,11.43,17.13,0,17.13ZM583.07,78.4c8.5-9.07,22.18,3.68,13.67,12.87-27.53,29.93-34,36.43-34,36.43-7.94,8.41-18.91,14-29.45.13C528.33,121.34,532,112,540.2,112h11.31ZM587,64.85c3.36,6.94-7.16,11.76-10.41,4.94L573,62.51c-3.26-6.94,7.15-12,10.41-5ZM602.1,62.6c3.25,6.94-7.16,12-10.53,5.05l-3.48-7.39c-3.36-6.95,7.16-11.88,10.42-5Z"
            />
            <circle ref="title4" class="cls-1" cx="482" cy="97" r="13" />
            <path
              ref="title3"
              class="cls-1"
              d="M388.87,85.5c0,12-18.81,12-18.82,0V66.92c0-12.09,18.8-12,18.81,0Zm25.31,0c0,12-18.81,12-18.82,0V66.9c0-12.09,18.8-12,18.81,0ZM445,62.94A9.42,9.42,0,0,1,453,77.27c-.23.45-6.83,13.67-32.55,54.8-6.49,10.42-23.19.91-16.7-9.73l24.5-40.68-2.69-3a9.44,9.44,0,0,1,7-15.69Z"
            />
            <path
              ref="title2"
              class="cls-1"
              d="M304.86,73.47c28.22,0,21.95-.13,30.8-.14,13.32,0,21.4,16.79,10.1,30.57-8.73,10.76-17.24,4-17-2.9V89.58l-23.85,0,0,22.29c0,5.26-.89,7.84,7.95,8,2.58.11,5.94,0,11.54,0,11.31,0,11.44,17.13,0,17.14H310.84c-15.79,0-25.76-8.38-25.78-25.29V89.61H274.63c-10.64,0-10.65-16.23,0-16.24h10.53V62c0-12.66,19.7-12.67,19.71,0Z"
            />
            <path
              ref="title1"
              class="cls-1"
              d="M221.78,112l2,15c1.8,13.32-18.35,16.25-20.16,2.81L201.29,112l-24,0c-11.31,0-11.33-17.13,0-17.14l21.61,0-1.58-11.75H178.53c-11.31,0-11.33-17.13,0-17.14H195l-.45-3.81c-1.8-13.32,18.35-16,20.16-2.7l.9,6.49H238C249.3,65.9,249.31,83,238,83l-20.16,0,1.58,11.76,20.94,0c11.43,0,11.33,17.13,0,17.14Z"
            />
            <path
              ref="icon"
              class="cls-1"
              d="M130.43,52.25h-.26V50.84a4.85,4.85,0,0,0-9.69,0v1.41h-3.9V50.84a4.85,4.85,0,0,0-9.69,0v1.41H103V50.84a4.84,4.84,0,0,0-9.68,0v1.41H89.39V50.84a4.84,4.84,0,1,0-9.68,0v1.41H75.8V50.84a4.84,4.84,0,1,0-9.68,0v1.41h0A13.23,13.23,0,0,0,52.88,65.47v67.39A11.16,11.16,0,0,0,64,144H132.5a11.16,11.16,0,0,0,11.14-11.14V65.47A13.23,13.23,0,0,0,130.43,52.25ZM126.26,118c0,.54-1.38,1-3.08,1H74c-1.7,0-3.07-.44-3.07-1V112.9c0-.54,1.37-1,3.07-1h49.23c1.7,0,3.08.44,3.08,1Zm0-22.51c0,.54-1.38,1-3.08,1H74c-1.7,0-3.07-.44-3.07-1V90.38c0-.54,1.37-1,3.07-1h49.23c1.7,0,3.08.44,3.08,1Zm8.9-24.35H61.36V65.47a4.74,4.74,0,0,1,4.74-4.74l0,.63a4.84,4.84,0,1,0,9.68,0v-.63h3.91v.63a4.84,4.84,0,1,0,9.68,0v-.63H93.3v.63a4.84,4.84,0,1,0,9.68,0v-.63h3.91v.63a4.85,4.85,0,1,0,9.69,0v-.63h3.9v.63a4.85,4.85,0,1,0,9.69,0v-.63h.26a4.74,4.74,0,0,1,4.73,4.74Z"
            />
          </g>
        </svg>
      </div>
      <h3 class="seasons__title">
        <span data-ruby="・・・・・"><b ref="seasons__title__blind1"></b><strong ref="seasons__title__1">季節や時期</strong></span
        >で<span data-ruby="・・・・・・"><b ref="seasons__title__blind2"></b><strong ref="seasons__title__2">テンプレート</strong></span
        >を探す
      </h3>
      <ul class="g__flex">
        <template v-if="Object.keys(seasons).length <= 0">
          <gLoading :param="{ patern: 2 }" />
        </template>
        <template v-else>
          <template v-for="(use, index) in seasons">
            <li :key="index" class="seasons__link">
              <router-link :to="{ name: 'seasons', params: { unker: use.slug } }" class="main_select__use"
                ><span>{{ use.name }}</span></router-link
              >
            </li>
          </template>
        </template>
      </ul>
      <linkButton
        class="pickup__block__inner__link"
        :params="{
          color: '#16B3EE',
          text: 'すべて見る',
          router: {
            name: 'seasons'
          }
        }"
      />
    </div>
  </section>
</template>

<script>
import store from "@/store";
import { gsap, TimelineLite, Elastic, Back } from "gsap";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
export default {
  components: {
    linkButton,
    gLoading
  },
  data() {
    return { timeline: null };
  },
  computed: {
    seasons: () => store.state.seasons
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 120
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(1.7)
          }
        );
        // animation start
        this.timeline.play(0);
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  watch: {},
  created() {},
  mounted() {
    let timeAdjust = 0.7;
    this.timeline = new TimelineLite();
    this.timeline
      // アイキャッチタイトル部分
      .set(this.$refs.icon, { y: -160 })
      .set(this.$refs.title1, { y: -160 })
      .set(this.$refs.title2, { y: -160 })
      .set(this.$refs.title3, { y: -160 })
      .set(this.$refs.title4, { y: -160 })
      .set(this.$refs.title5, { y: -160 })
      .set(this.$refs.title6, { y: -160 })
      .set(this.$refs.seasons__title__1, { yPercent: 10 })
      .set(this.$refs.seasons__title__2, { yPercent: 10 })
      .set(this.$refs.seasons__title__blind1, { width: "100%", x: 0 })
      .set(this.$refs.seasons__title__blind2, { width: "100%", x: 0 })
      .to(
        this.$refs.icon,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust
      )
      .to(
        this.$refs.title1,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.1
      )
      .to(
        this.$refs.title2,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.2
      )
      .to(
        this.$refs.title3,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.3
      )
      .to(
        this.$refs.title4,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.4
      )
      .to(
        this.$refs.title5,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.5
      )
      .to(
        this.$refs.title6,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.6
      )
      // title
      .to(
        this.$refs.seasons__title__blind1,
        0.5,
        {
          width: 0
        },
        timeAdjust + 0.8
      )
      .to(
        this.$refs.seasons__title__1,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.9
      )
      .to(
        this.$refs.seasons__title__blind2,
        0.5,
        {
          width: 0
        },
        timeAdjust + 1
      )
      .to(
        this.$refs.seasons__title__2,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 1.1
      );
    this.timeline.pause(0.1);
  }
};
</script>

<style scoped lang="scss">
.seasons {
  padding: 6px 0 0 0;
  @media screen and (min-width: 800px) {
    padding: 6px 0 0 3px;
  }
}
.seasons__inner {
  position: relative;
  height: 100%;
  padding: 20px 20px 80px;
  border-radius: 8px;
  background: #ffec00;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
  @media screen and (min-width: 800px) {
    padding: 3vw 5vw 3vw 3vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 5vw 9vw 6vw 5vw;
  }
  @keyframes test {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -510px;
    }
  }
}
.is__observe .seasons__inner::before {
  animation: move 10s linear infinite;
}
.ios .seasons__inner::before {
  background-attachment: inherit;
}
.seasons__sub {
  position: relative;
  svg {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: 800px) {
      margin-top: -2vw;
    }
  }
  .cls-1 {
    fill: #3b3938;
  }
}
.seasons__title {
  font-size: 90%;
  line-height: 1.8;
  position: relative;
  transition: all 0.5s;
  text-align: center;
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
  span {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
  }
  strong {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  b {
    position: absolute;
    z-index: 2;
    top: 6.5%;
    right: 0;
    display: block;
    width: 100%;
    height: 85%;
    background: #333333;
  }
  span::after {
    position: absolute;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    content: "";
    border-radius: 8px;
    background: #ffffff;
  }
  span::before {
    position: absolute;
    top: -1.1em;
    left: 5px;
    content: attr(data-ruby);
  }
}
.seasons__link {
  position: relative;
  width: 50%;
  padding: 5px;
  &:nth-child(odd) {
    padding-left: 0;
  }
  &:nth-child(even) {
    padding-right: 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    position: relative;
    box-shadow: 3px 3px 0 #474645;
    overflow: hidden;
    height: 100%;
    span {
      transition: color 0.3s ease 0.2s;
      position: relative;
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: #222222;
      top: 100%;
      left: 0;
      transition: top 0.5s ease;
      z-index: 0;
    }
  }
  @media screen and (min-width: 800px) {
    width: 33%;
    &:nth-child(odd),
    &:nth-child(even) {
      padding: 5px;
    }
    &:nth-child(3n) {
      padding-right: 0;
    }
    a:hover span {
      color: #ffffff;
    }
    a:hover::after {
      top: 0%;
    }
  }
}
</style>
