<template>
  <section class="uses" v-observe-visibility="visibilityChanged">
    <div class="uses__inner">
      <div class="uses__sub">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 750 200">
          <g id="uses">
            <path
              ref="title3"
              class="cls-1"
              d="M532.41,87.38c1.68-2.13,3.36-4.37,3.36-4.37,3.69-4.71,11.09-4.26,14.56,1,1.45,2.35,3,5.6,4.25,8.06,2.36,5.94-1.45,12.32-7.72,12.32h-38v27.1c0,13.33-20.39,13.33-20.39,0V62.06c0-13.44,20.39-13.44,20.39,0V87.38Z"
            />
            <path
              ref="title2"
              class="cls-1"
              d="M437.88,66.77c8.06,0,14.78,7.17,14.9,16.57.11,6.84.11,10.08,0,13.22a40.6,40.6,0,0,1-2.92,13.89c-4.48,10.75-14,18.59-22.73,26.32-9.63,8.62-22.63-6.83-12.77-14.9,2.8-2.35,10.75-8,15.68-14.22a8.28,8.28,0,0,0,1.68-5V85.7a1.87,1.87,0,0,0-1.79-1.91H398.68A1.82,1.82,0,0,0,397,85.58V96.34c0,12.09-20.16,14.22-20.16-1.57V83.34c.45-9.4,6.72-16.8,19.71-16.57,4,.11,8.63,0,10.19,0V60.05c0-12.77,19.27-12.77,19.27,0v6.72Z"
            />
            <path
              ref="title1"
              class="cls-1"
              d="M345.59,118.06c0,14.56-9.74,19-20.27,19H285.56c-11.31,0-10.64-16.91-.34-16.91h39.32a1.77,1.77,0,0,0,1.79-1.79V106.3H292.39c-10.64,0-10.64-16.12,0-16.12h33.94V79.42a1.78,1.78,0,0,0-1.79-1.79H286.23c-11,0-11.53-16.91-.33-16.91h40.76c9.86,0,18.93,5.6,18.93,19.6Z"
            />
            <path
              ref="icon"
              class="cls-1"
              d="M252.89,132.11l-22.73-22.73A27,27,0,0,0,230,69.26V63.61A16.61,16.61,0,0,0,213.39,47H156.61A16.61,16.61,0,0,0,140,63.61v69.78A16.61,16.61,0,0,0,156.61,150h56.78A16.61,16.61,0,0,0,230,133.39v-6.73l14.17,14.17a4,4,0,0,0,5.66,0l3.06-3.06A4,4,0,0,0,252.89,132.11Zm-101-70.88a.94.94,0,0,1,1-.92h15.21a.94.94,0,0,1,.95.92v4.84a1,1,0,0,1-.95.93H152.84a1,1,0,0,1-1-.93Zm0,17a.94.94,0,0,1,1-.92h15.21a.94.94,0,0,1,.95.92v4.84a1,1,0,0,1-.95.93H152.84a1,1,0,0,1-1-.93Zm0,16a.94.94,0,0,1,1-.92h15.21a.94.94,0,0,1,.95.92v4.84a1,1,0,0,1-.95.93H152.84a1,1,0,0,1-1-.93Zm0,17a.94.94,0,0,1,1-.92h15.21a.94.94,0,0,1,.95.92v4.84a1,1,0,0,1-.95.93H152.84a1,1,0,0,1-1-.93ZM215,132.07c0,.51-1.57.93-3.51.93H155.4c-1.94,0-3.51-.42-3.51-.93v-4.84c0-.51,1.57-.92,3.51-.92h56.09c1.94,0,3.51.41,3.51.92Zm13.35-29.53a26.74,26.74,0,1,1-23.7-41c.36,0,.73,0,1.1,0a26.73,26.73,0,0,1,22.6,41ZM182.8,88.17a23.77,23.77,0,0,0,23.75,23.75c.63,0,1.26,0,1.88-.08a23.5,23.5,0,0,1,1.87-46.92c.42,0,.83,0,1.25,0A23.72,23.72,0,0,0,182.8,88.17Z"
            />
          </g>
        </svg>
      </div>
      <h3 class="uses__title">
        <span data-ruby="・・"><b ref="uses__title__blind1"></b><strong ref="uses__title__1">用途</strong></span
        >で<span data-ruby="・・・・・・"><b ref="uses__title__blind2"></b><strong ref="uses__title__2">テンプレート</strong></span
        >を探す
      </h3>
      <ul class="g__flex">
        <template v-if="Object.keys(uses).length <= 0">
          <gLoading :param="{ patern: 1 }" />
        </template>
        <template v-else>
          <template v-for="(use, index) in uses">
            <li :key="index" class="uses__link">
              <router-link :to="{ name: 'uses', params: { unker: use.slug } }" class="main_select__use"
                ><span>{{ use.name }}</span></router-link
              >
            </li>
          </template>
        </template>
      </ul>
      <linkButton
        class="pickup__block__inner__link"
        :params="{
          color: '#FFEC00',
          text: 'すべて見る',
          router: {
            name: 'uses'
          }
        }"
      />
    </div>
  </section>
</template>

<script>
import store from "@/store";
import { gsap, TimelineLite, Elastic, Back } from "gsap";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
export default {
  components: {
    linkButton,
    gLoading
  },
  data() {
    return { timeline: null };
  },
  computed: {
    uses: () => store.state.uses
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 120
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(1.7)
          }
        );
        // animation start
        this.timeline.play(0);
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  watch: {},
  created() {},
  mounted() {
    let timeAdjust = 0.7;
    this.timeline = new TimelineLite();
    this.timeline
      // アイキャッチタイトル部分
      .set(this.$refs.icon, { y: 155 })
      .set(this.$refs.title1, { y: 155 })
      .set(this.$refs.title2, { y: 155 })
      .set(this.$refs.title3, { y: 155 })
      .set(this.$refs.uses__title__1, { yPercent: 10 })
      .set(this.$refs.uses__title__2, { yPercent: 10 })
      .set(this.$refs.uses__title__blind1, { width: "100%", x: 0 })
      .set(this.$refs.uses__title__blind2, { width: "100%", x: 0 })
      .to(
        this.$refs.icon,
        0.7,
        {
          y: 0,
          ease: Back.easeOut.config(2)
        },
        timeAdjust
      )
      .to(
        this.$refs.title1,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.1
      )
      .to(
        this.$refs.title2,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.2
      )
      .to(
        this.$refs.title3,
        1.5,
        {
          y: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.3
      )
      // title
      .to(
        this.$refs.uses__title__blind1,
        0.5,
        {
          width: 0
        },
        timeAdjust + 0.5
      )
      .to(
        this.$refs.uses__title__1,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.6
      )
      .to(
        this.$refs.uses__title__blind2,
        0.5,
        {
          width: 0
        },
        timeAdjust + 0.7
      )
      .to(
        this.$refs.uses__title__2,
        1.5,
        {
          yPercent: 0,
          ease: Elastic.easeOut.config(1, 0.3)
        },
        timeAdjust + 0.8
      );

    this.timeline.pause(0.1);
  }
};
</script>

<style scoped lang="scss">
.uses {
  padding: 6px 0 0 0;
  @media screen and (min-width: 800px) {
    padding: 6px 3px 0 0;
  }
}
.uses__inner {
  position: relative;
  height: 100%;
  padding: 20px 20px 80px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #16b3ee;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.4;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
  @media screen and (min-width: 800px) {
    padding: 3vw 3vw 3vw 5vw;
  }
  @media screen and (min-width: 1300px) {
    padding: 5vw 6vw 5vw 9vw;
  }
  @keyframes test {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -510px;
    }
  }
}
.is__observe .uses__inner::before {
  animation: move 10s linear infinite;
}
.ios .uses__inner::before {
  background-attachment: inherit;
}
.uses__sub {
  position: relative;
  svg {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: 800px) {
      margin-top: -2vw;
    }
  }
  .cls-1 {
    fill: #ffffff;
  }
}
.uses__title {
  font-size: 90%;
  line-height: 1.8;
  position: relative;
  transition: all 0.5s;
  text-align: center;
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
  span {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
  }
  strong {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #ffffff;
  }
  b {
    position: absolute;
    z-index: 2;
    top: 6.5%;
    right: 0;
    display: block;
    width: 100%;
    height: 85%;
    background: #ffffff;
  }
  span::after {
    position: absolute;
    top: 6.5%;
    left: 0;
    display: block;
    width: 100%;
    height: 85%;
    content: "";
    border-radius: 8px;
    background: #1194c5;
  }
  span::before {
    position: absolute;
    top: -1.1em;
    left: 5px;
    content: attr(data-ruby);
  }
}
.uses__link {
  position: relative;
  width: 50%;
  padding: 5px;
  &:nth-child(odd) {
    padding-left: 0;
  }
  &:nth-child(even) {
    padding-right: 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    position: relative;
    box-shadow: 3px 3px 0 #474645;
    overflow: hidden;
    height: 100%;
    span {
      transition: color 0.3s ease 0.2s;
      position: relative;
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: #222222;
      top: 100%;
      left: 0;
      transition: top 0.5s ease;
      z-index: 0;
    }
  }
  @media screen and (min-width: 800px) {
    width: 33%;
    &:nth-child(odd),
    &:nth-child(even) {
      padding: 5px;
    }
    &:nth-child(3n) {
      padding-right: 0;
    }
    a:hover span {
      color: #ffffff;
    }
    a:hover::after {
      top: 0%;
    }
  }
}
</style>
