<template>
  <div class="terms" v-observe-visibility="visibilityChanged">
    <breadcrumb :param="{ here: '利用規約' }"></breadcrumb>
    <pageHead :param="{ img: require('@/images/title_terms.svg'), text: '利用規約' }" />
    <div class="g__inner">
      <readTerms />
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
import readTerms from "@/viewComponent/organisms/readTerms.vue";
export default {
  components: { breadcrumb, pageHead, readTerms },
  data() {
    return {};
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  mounted() {
    //loadin hide
    this.loadfin();
  }
};
</script>

<style scoped lang="scss">
.terms {
  position: relative;
  background-color: #edede6;
  padding: 30px 0 50px;
  @media screen and (min-width: 800px) {
    margin-top: 70px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe.terms::before {
  animation: move 10s linear infinite;
}
</style>
