<template>
  <div class="notfound">
    <div class="g__inner">
      <breadcrumb :param="{ here: '404ページ' }"></breadcrumb>
      <h1 class="notfound__tit">該当のページは存在しません。</h1>
      <h2 class="notfound__subtit">{{ path }}</h2>
      <p class="notfound__summary">aaaaaaaaaa</p>
    </div>
  </div>
</template>

<script>
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
export default {
  components: { breadcrumb },
  data() {
    return {
      path: window.location
    };
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  methods: {},
  created() {}
};
</script>

<style scoped lang="scss">
.notfound {
  position: relative;
  padding: 100px 0 40px;
  background-color: #edede6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    animation: move 10s linear infinite;
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.notfound__tit {
  position: relative;
  text-align: center;
  white-space: pre-wrap;
}
.notfound__subtit {
  position: relative;
  text-align: center;
  white-space: pre-wrap;
}
.notfound__summary {
  position: relative;
  text-align: center;
  white-space: pre-wrap;
}
</style>
