<template>
  <div class="templates">
    <breadcrumb
      :param="{
        here: typeof templateDetail !== 'undefined' ? templateDetail.title.rendered : ''
      }"
    ></breadcrumb>

    <div class="templates__main" v-observe-visibility="visibilityChanged">
      <template v-if="typeof templateDetail === 'undefined'">
        <gLoading :param="{ patern: 2 }" />
      </template>
      <template v-if="typeof templateDetail !== 'undefined'">
        <div class="templates__info">
          <!-- 動画 -->
          <movieColumn class="templates__info__movie" :data="templateDetail" :conf="{ title: false, navhide: true }" />
          <div class="templates__info__content">
            <h2 class="templates__info__content__title">{{ templateDetail.title.rendered }}</h2>
            <p class="templates__info__content__time">[再生時間 {{ templateDetail.acf.time }}]</p>
            <ul class="templates__tags">
              <!-- 用途タグ -->
              <template v-for="(item, index) in templateDetail.uses">
                <template v-for="(use, indexChild) in uses">
                  <template v-if="item === use.id">
                    <li :key="`uses-${index}${indexChild}`">{{ use.name }}</li>
                  </template>
                </template>
              </template>
              <!-- 季節タグ -->
              <template v-for="(item, index) in templateDetail.seasons">
                <template v-for="(season, indexChild) in seasons">
                  <template v-if="item === season.id">
                    <li :key="`seasons-${index}${indexChild}`">{{ season.name }}</li>
                  </template>
                </template>
              </template>
            </ul>
            <div class="templates__price">
              <p>
                価格:<span>{{ gMoneyjp(gMoneyTax(templateDetail.acf.price, "add")) }}</span
                >円<b>（税込み）</b>
              </p>
              <p class="templates__price__breakdown">
                本体価格{{ gMoneyjp(templateDetail.acf.price) }}円、消費税{{ gMoneyjp(gMoneyTax(templateDetail.acf.price, "remove")) }}円
              </p>
            </div>
            <!-- 入金後〇営業日後に納品-->
            <div>
              <p class="templates__day">
                ご入金後<span>{{ templateDetail.acf.deliverydate }}営業日後</span>に納品いたします<sup>※</sup>
              </p>
              <button class="templates__showcalendar" @click="showCalendar">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.8 98">
                  <path
                    d="M77.5,6.3h-0.3V4.8c0-2.7-2.2-4.8-4.8-4.8c-2.7,0-4.8,2.2-4.8,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8C56.2,0,54,2.2,54,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8c-2.7,0-4.8,2.2-4.8,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8c-2.7,0-4.8,2.2-4.8,4.8v1.4h-3.9V4.8c0-2.7-2.2-4.8-4.8-4.8s-4.8,2.2-4.8,4.8v1.4h0C5.9,6.3,0,12.2,0,19.5v67.4C0,93,5,98,11.1,98h68.5c6.1,0,11.1-5,11.1-11.1V19.5C90.8,12.2,84.8,6.3,77.5,6.3z M73.4,72.3c0,0.7-1.4,1.4-3.1,1.4H21.1c-1.7,0-3.1-0.6-3.1-1.4v-7.1c0-0.7,1.4-1.4,3.1-1.4h49.2c1.7,0,3.1,0.6,3.1,1.4V72.3z M73.4,51.2c0,0.7-1.4,1.4-3.1,1.4H21.1c-1.7,0-3.1-0.6-3.1-1.4v-7.1c0-0.7,1.4-1.4,3.1-1.4h49.2c1.7,0,3.1,0.6,3.1,1.4V51.2z M82.3,25.2H8.5v-5.7c0-2.6,2.1-4.7,4.7-4.7l0,0.6c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8v-0.6h3.9v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6h3.9v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6H54v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6h3.9v0.6c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8v-0.6h0.3c2.6,0,4.7,2.1,4.7,4.7V25.2z"
                  /></svg
                >営業日カレンダーを見る
              </button>
            </div>
            <div class="templates__summary" v-html="templateDetail.content.rendered"></div>
          </div>
        </div>
        <div class="templates__info__bottom">
          <!-- お申込みフォームはこちら -->
          <p class="g__caption">※申し込み後、自動返信メールが届きます。その後、翌営業日にご案内メールが届きます。</p>
          <p class="g__caption">※納期はご相談内容や、入金のタイミングによりずれる可能性がございます。正確な納期についてはご相談ください。</p>
          <linkButton class="templates__unker" :params="{ color: '#16B3EE', text: 'お見積り｜お申込みはこちら', link: '#application' }" />
        </div>
      </template>
    </div>

    <template v-if="typeof templateDetail === 'undefined'">
      <gLoading :param="{ patern: 2 }" />
    </template>
    <template v-if="typeof templateDetail !== 'undefined'">
      <div class="templates__constitution" v-observe-visibility="visibilityChanged">
        <div class="templates__constitution__title">
          <b>Constitution</b>
          <h3>構成</h3>
        </div>
        <div class="templates__constitution__content">
          <template v-if="templateDetail.acf.img1">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img1.url" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail1"></div>
            </div>
          </template>
          <template v-if="templateDetail.acf.img2">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img2.url" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail2"></div>
            </div>
          </template>
          <template v-if="templateDetail.acf.img3">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img3.url" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail3"></div>
            </div>
          </template>
          <template v-if="templateDetail.acf.img4.url">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img4" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail4"></div>
            </div>
          </template>
          <template v-if="templateDetail.acf.img5">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img5.url" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail5"></div>
            </div>
          </template>
          <template v-if="templateDetail.acf.img6">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img6.url" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail6"></div>
            </div>
          </template>
          <template v-if="templateDetail.acf.img7">
            <div class="templates__constitution__item">
              <p class="templates__constitution__item__img">
                <img :src="templateDetail.acf.img7.url" />
              </p>
              <div class="templates__constitution__item__detail" v-html="templateDetail.acf.detail7"></div>
            </div>
          </template>
          <!-- 
          <template v-for="(element, key) in templateDetail.acf.constitutions">
            <template v-if="element.img">
              <div class="templates__constitution__item" :key="key">
                <p class="templates__constitution__item__img">
                  <img :src="element.img" />
                </p>
                <div class="templates__constitution__item__detail" v-html="element.detail"></div>
              </div>
            </template>
          </template> -->

          <linkButton class="templates__unker" :params="{ color: '#16B3EE', text: 'お見積り｜お申込みはこちら', link: '#application' }" />
        </div>
      </div>

      <!-- お申込み -->
      <div id="application" class="templates__application" v-observe-visibility="visibilityChanged">
        <div class="templates__application__title">
          <b>Application</b>
          <h3>お申込み</h3>
        </div>
        <div class="templates__application__content">
          <div class="templates__constitution__form">
            <p class="templates__constitution__form__title">このテンプレートの<br />お見積り・お申込みはこちら</p>
            <ValidationObserver v-slot="{ invalid }" ref="form">
              <form @submit.prevent="onSubmit" name="form">
                <!-- <selectMusic ref="music" /> -->

                <p class="templates__constitution__form__attension">*は必須事項です。</p>

                <inputHidden
                  ref="movietitle"
                  :param="{
                    name: 'movietitle',
                    value: templateDetail.title.rendered
                  }"
                />
                <inputHidden
                  ref="movieslug"
                  :param="{
                    name: 'movieslug',
                    value: templateDetail.slug
                  }"
                />
                <inputHidden
                  ref="movienumber"
                  :param="{
                    name: 'movienumber',
                    value: 'TEN' + new Date().getTime()
                  }"
                />
                <inputHidden
                  ref="price"
                  :param="{
                    name: 'price',
                    value: sum(templateDetail.acf.price)
                  }"
                />

                <inputText
                  ref="myname"
                  :param="{
                    text: 'お名前',
                    name: 'myname',
                    rules: { required: true }
                  }"
                />
                <inputText
                  ref="furigana"
                  :param="{
                    text: 'ふりがな',
                    name: 'furigana',
                    rules: {
                      required: true,
                      regex: /^[ぁ-ん]+$/
                    }
                  }"
                />
                <inputText
                  ref="tel"
                  :param="{
                    text: '電話番号',
                    subtext: '（半角数字でご入力ください）',
                    name: 'tel',
                    rules: { required: true, regex: /^\d{10}$|^\d{11}$/ }
                  }"
                />
                <inputText
                  ref="email"
                  :param="{
                    text: 'メールアドレス',
                    name: 'email',
                    rules: { required: true, email: true }
                  }"
                />
                <selectManagement ref="management" @updated="updateManage" />
                <inputText
                  ref="company"
                  :param="{
                    text: '会社名',
                    name: 'company',
                    rules: manageflg ? { required: true } : {}
                  }"
                />
                <inputText
                  ref="department"
                  :param="{
                    text: '部署名／役職',
                    name: 'department',
                    rules: {}
                  }"
                />
                <inputText
                  ref="address"
                  :param="{
                    text: '会社住所',
                    name: 'address',
                    rules: manageflg ? { required: true } : {}
                  }"
                />

                <div v-observe-visibility="showFixPriceWin">
                  <h3 class="templates__constitution__form__option">動画について</h3>
                  <selectLang ref="lang" :price="gMoneyjp(gMoneyTax(optionLangPrice, 'add'))" @updated="updateEvtLang" />
                  <selectSize ref="size" :price="gMoneyjp(gMoneyTax(optionSizePrice, 'add'))" @updated="updateEvtSize" />
                  <selectMusic ref="music" />
                  <selectExt ref="ext" :price="gMoneyjp(gMoneyTax(optionExtPrice, 'add'))" @updated="updateEvtExt" />
                  <div class="templates__constitution__form__price">
                    <p>
                      合計価格:<span>{{ sum(gMoneyTax(templateDetail.acf.price, "add")) }}</span
                      >円<b>（税込み）</b>
                    </p>
                    <ul class="templates__constitution__form__price__breakdown">
                      <li>本体価格:{{ gMoneyjp(templateDetail.acf.price) }}円</li>
                      <li v-if="(optionLang - 1) * optionLangPrice > 0">
                        言語追加オプション価格:{{ gMoneyjp((optionLang - 1) * optionLangPrice) }}円
                      </li>
                      <li v-if="optionSize * optionSizePrice > 0">サイズ追加オプション価格:{{ gMoneyjp(optionSize * optionSizePrice) }}円</li>
                      <li v-if="(optionExt - 1) * optionExtPrice > 0">
                        動画種類追加オプション価格:{{ gMoneyjp((optionExt - 1) * optionExtPrice) }}円
                      </li>
                      <li>
                        消費税:{{
                          gMoneyjp(
                            gMoneyTax(templateDetail.acf.price, "remove") +
                              (optionLang - 1) * gMoneyTax(optionLangPrice, "remove") +
                              optionSize * gMoneyTax(optionSizePrice, "remove") +
                              (optionExt - 1) * gMoneyTax(optionExtPrice, "remove")
                          )
                        }}円
                      </li>
                    </ul>
                  </div>
                  <p class="g__caption templates__constitution__form__caption">※作成動画はネット経由で納品いたします。</p>
                  <inputMessage
                    ref="message"
                    :param="{
                      text: 'その他ご相談事項があればご入力ください',
                      placeholder:
                        '例）英中韓以外の言語の動画が欲しい\n    音楽を変更したい\n    掲載写真数を増やしたい\n    ベースカラーを変更したい\n    複数の納品形式で欲しい\n    DVD・BLUELAYで納品して欲しい',
                      name: 'message',
                      rules: {}
                    }"
                  />
                  <p class="g__caption templates__constitution__form__caption">
                    ※ご相談内容によってお見積り価格・納期などが変更になる可能性がございます。
                  </p>
                  <checkPolicy ref="policy" />
                  <input ref="ordernumber" type="hidden" name="ordernumber" value="" />
                  <div class="templates__submitflex">
                    <button class="templates__submit" :disabled="invalid" ref="sendButton" @click="$refs.ordernumber.value = 'お見積り依頼'">
                      <template v-if="invalid">
                        お見積り依頼
                        <span>※未入力項目があります</span>
                      </template>
                      <template v-else>お見積り依頼</template>
                    </button>
                    <button class="templates__submit" :disabled="invalid" ref="sendButton" @click="$refs.ordernumber.value = '制作お申込み'">
                      <template v-if="invalid">
                        制作お申込み
                        <span>※未入力項目があります</span>
                      </template>
                      <template v-else>制作お申込み</template>
                    </button>
                  </div>
                </div>
              </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
      <!-- 料金変動時の固定表示合計金額 -->
      <div class="templates__constitution__form__price bottom" ref="pricefixwin">
        <p>
          合計価格:<span>{{ sum(gMoneyTax(templateDetail.acf.price, "add")) }}</span
          >円<b>（税込み）</b>
        </p>
        <ul class="templates__constitution__form__price__breakdown">
          <li>本体価格:{{ gMoneyjp(templateDetail.acf.price) }}円</li>
          <li v-if="(optionLang - 1) * optionLangPrice > 0">言語追加オプション価格:{{ gMoneyjp((optionLang - 1) * optionLangPrice) }}円</li>
          <li v-if="optionSize * optionSizePrice > 0">サイズ追加オプション価格:{{ gMoneyjp(optionSize * optionSizePrice) }}円</li>
          <li v-if="(optionExt - 1) * optionExtPrice > 0">動画種類追加オプション価格:{{ gMoneyjp((optionExt - 1) * optionExtPrice) }}円</li>
          <li>
            消費税:{{
              gMoneyjp(
                gMoneyTax(templateDetail.acf.price, "remove") +
                  (optionLang - 1) * gMoneyTax(optionLangPrice, "remove") +
                  optionSize * gMoneyTax(optionSizePrice, "remove") +
                  (optionExt - 1) * gMoneyTax(optionExtPrice, "remove")
              )
            }}円
          </li>
        </ul>
      </div>
    </template>
    <div class="templates__mailLoading" ref="mailLoading">
      <gLoading :param="{ patern: 1, message: 'mail sending' }" />
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import store from "@/store";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
import selectLang from "@/viewComponent/molecules/selectLang.vue";
import selectSize from "@/viewComponent/molecules/selectSize.vue";
import selectMusic from "@/viewComponent/molecules/selectMusic.vue";
import selectExt from "@/viewComponent/molecules/selectExt.vue";
import inputHidden from "@/viewComponent/molecules/inputHidden.vue";
import inputText from "@/viewComponent/molecules/inputText.vue";
import inputMessage from "@/viewComponent/molecules/inputMessage.vue";
import selectManagement from "@/viewComponent/molecules/selectManagement.vue";
import checkPolicy from "@/viewComponent/molecules/checkPolicy.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
import axios from "axios";
import { ValidationObserver } from "vee-validate";
export default {
  components: {
    breadcrumb,
    movieColumn,
    linkButton,
    ValidationObserver,
    selectLang,
    selectSize,
    selectMusic,
    selectExt,
    inputHidden,
    inputText,
    inputMessage,
    selectManagement,
    checkPolicy,
    gLoading
  },
  data() {
    return {
      templateDetail: undefined,
      optionLang: 1,
      optionLangPrice: 13637, // 言語オプション追加 1言語追加あたりの料金 チェックボックス
      optionSize: 0, // フルハイビジョン以外が選択されたらカウント
      optionSizePrice: 30000, // サイズオプション追加 変更料金 ラジオボタン
      optionExt: 1,
      optionExtPrice: 13637, // 動画種類オプション追加 1動画追加あたりの料金 チェックボックス
      ca: document.getElementById("footer_calendar"), // footerカレンダー要素
      caov: document.getElementById("footer_calendar_overlay"), // footerカレンダーオーバーレイ要素
      manageflg: false
    };
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  computed: {
    seasons: () => store.state.seasons,
    uses: () => store.state.uses,
    templates: () => store.state.templates, // テンプレート情報
    templatesLoaded: () => store.state.templatesLoaded // テンプレート情報の取得完了フラグ
  },
  watch: {
    // テンプレートロード完了後処理
    templatesLoaded() {
      // templatesAPIがロード後の場合
      if (this.templatesLoaded) {
        this.getDetail();
      }
    }
  },
  methods: {
    // 詳細ページのアイテムをtemplatesから絞込み
    getDetail() {
      this.templates.forEach(item => {
        // route paramのslugと一致する情報をtemplateDetail(data)に格納
        if (String(item.slug) === String(this.$route.params.slug)) {
          this.templateDetail = item;
        }
      });
    },
    // フッター内のカレンダーをposition:fixedで中央表示 gFooter
    showCalendar() {
      this.ca.classList.add("is__show");
      this.caov.classList.add("is__show");
    },
    // オプション言語選択の子コンポーネントから$emitで受け取る数値
    updateEvtLang(num) {
      this.optionLang = num;
    },
    // オプションサイズ選択の子コンポーネントから$emitで受け取る数値
    updateEvtSize(num) {
      this.optionSize = num;
    },
    // オプション動画種類選択の子コンポーネントから$emitで受け取る数値
    updateEvtExt(num) {
      this.optionExt = num;
    },
    // 個人／法人ラジオボタンでmanageflgのture|falseを切り替え。※「会社名、部署名、会社住所」の条件必須用
    updateManage(value) {
      this.manageflg = value == "法人" ? true : false;
    },
    // オプション追加後の合計料金
    sum(price) {
      let sumprice = price;
      // 言語追加した場合
      if (this.optionLang > 1) {
        sumprice = Number(sumprice) + (this.optionLang - 1) * this.gMoneyTax(this.optionLangPrice, "add");
      }
      // フルハイビジョン以外（値が1）の場合
      if (this.optionSize == 1) {
        sumprice = Number(sumprice) + this.gMoneyTax(this.optionSizePrice, "add");
      }
      // 拡張子（動画数）追加した場合
      if (this.optionExt > 1) {
        sumprice = Number(sumprice) + (this.optionExt - 1) * this.gMoneyTax(this.optionExtPrice, "add");
      }
      return this.gMoneyjp(sumprice);
    },
    onSubmit() {
      this.$refs.form.validate().then(success => {
        if (!success) {
          alert("未入力項目があります");
          return;
        }
        // メール送信
        this.send();
        // 入力内容リセット
        // this.$nextTick(() => {
        //   this.$refs.form.reset();
        // });
      });
    },
    // メール送信
    send() {
      this.$refs.sendButton.disabled = true;
      const formData = new URLSearchParams();
      // ref名をキー値にしてformDataにvalue値格納
      Object.keys(this.$refs).forEach(key => {
        // 取得しないrefを^で除外
        if (!String(key).match(/^form|^sendButton|^pricefixwin|^mailLoading/)) {
          // 複数「checkboxやradioの場合」
          if (document.form[key].length) {
            if (document.form[key][0].type === "checkbox") {
              let val = [];
              document.form[key].forEach(element => {
                if (element.checked) {
                  val.push(element.value);
                }
              });
              formData.append(key, String(val));
            } else {
              // radioの場合
              formData.append(key, document.form[key].value);
            }
          } else {
            // checkbox、radio以外の場合
            formData.append(key, document.form[key].value);
          }
        }
      });
      //mail loading 開始
      gsap.to(this.$refs.mailLoading, 0.5, {
        alpha: 1,
        display: "flex"
      });
      // メール送信
      const API_URI = process.env.VUE_APP_SITEURL + "api/contact-form-7/v1/contact-forms/22/feedback/";
      axios
        .post(API_URI, formData)
        .then(() => {
          // 送信成功後
          // console.log(response);
          alert("送信されました。");
          // サンクスページへ遷移
          this.$router.push({
            name: "thanksTemplate",
            params: {
              name: document.form.myname.value,
              data: this.templateDetail
            }
          });
        })
        .catch(() => {
          // console.log(err);
          alert("通信エラーです。通信環境をご確認の上、再度送信ボタンを押してください。");
          // submitボタンクリック可
          this.$refs.sendButton.disabled = false;
          // mail loading解除
          gsap.to(this.$refs.mailLoading, 0.5, {
            alpha: 0,
            display: "none"
          });
        });
    },
    showFixPriceWin(isVisible) {
      if (isVisible) {
        this.$refs.pricefixwin.style.display = "block";
        gsap.to(this.$refs.pricefixwin, 0.5, {
          alpha: 1,
          display: "block"
        });
      } else {
        gsap.to(this.$refs.pricefixwin, 0.5, {
          alpha: 0,
          display: "none"
        });
      }
    },
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2),
            onComplete: () => {
              entry.target.style.transform = "none";
            }
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {
    // 他ページより遷移してきた場合
    if (this.templatesLoaded) {
      this.getDetail();
    }
  }
};
</script>

<style scoped lang="scss">
.templates {
  @media screen and (min-width: 800px) {
    margin-top: 70px;
  }
}
.templates__main {
  position: relative;
  padding: 20px 0 40px;
  background-color: #edede6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    animation: move 10s linear infinite;
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe.templates__main::before {
  animation: move 10s linear infinite;
}
.templates__info {
  position: relative;
  padding: 20px 20px 40px;
  @media screen and (min-width: 800px) {
    display: flex;
    padding: 40px 8vw;
  }
}
.templates__info__movie {
  line-height: 0;
  flex: 0.55;
  height: 100%;
  margin: 0 -20px 20px;
  padding: 0;
  border: 8px solid #333333;
  @media screen and (min-width: 800px) {
    max-width: 750px;
    margin: 10px 0 0;
  }
}
.templates__info__content {
  flex: 0.45;
  position: relative;
  @media screen and (min-width: 800px) {
    padding-left: 3vw;
  }
}
.templates__info__content__title {
  font-size: 170%;
  margin-bottom: 0;
  @media screen and (min-width: 800px) {
    font-size: 150%;
  }
  &::before {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    margin-right: 5px;
    content: "";
    vertical-align: text-bottom;
    background: url("~@/images/icon_video.svg") no-repeat;
    background-size: contain;
  }
}
.templates__info__content__time {
  font-size: 80%;
  display: table;
  margin: 0 0 -5px;
  padding: 5px;
}
.templates__tags {
  li {
    font-size: 75%;
    display: inline-block;
    min-width: 50px;
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
    background: #ffffff;
  }
}
.templates__info__bottom {
  position: relative;
  padding: 0 8vw;
}
.templates__summary {
  @media screen and (min-width: 800px) {
    font-size: 75%;
  }
}
.templates__price {
  font-size: 180%;
  padding-bottom: 20px;
  border: 1px solid #cccccc;
  background: #ffffff;
  padding: 10px 20px;
  position: relative;
  box-sizing: border-box;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 4px solid #efece9;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  @media screen and (min-width: 800px) {
    font-size: 160%;
  }
  @media screen and (min-width: 1300px) {
    font-size: 150%;
  }
  p {
    margin: 0;
  }
  span {
    color: #e37d0f;
    font-weight: bold;
  }
  b {
    font-size: 50%;
  }
  .templates__price__breakdown {
    font-size: 50%;
  }
}
.templates__day {
  margin-bottom: 0;
  font-size: 80%;
  span {
    font-size: 140%;
    color: #e37d0f;
    font-weight: bold;
    margin: 0 2px;
  }
}
.templates__showcalendar {
  font-size: 85%;
  border-radius: 10px;
  outline: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 15px;
  margin: 10px auto 20px;
  display: block;
  cursor: pointer;
  @media screen and (min-width: 800px) {
    margin: 10px auto 20px 0;
    font-size: 75%;
  }
  svg {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: 10px;
    path {
      fill: #474645;
    }
  }
}
.templates__unker {
  margin: 20px auto !important;
}
.templates__constitution {
  position: relative;
  display: flex;
  padding-top: 6px;
}

.templates__constitution__title {
  flex: 0.1;
  margin-right: 6px;
  text-align: center;
  border-radius: 8px;
  background: #ffec00;
  b {
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 400%;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 3vw;
    left: 50%;
    transform: translateX(-45%);
    margin: 0;
    text-align: left;
    color: #d4cb2a;
  }
  h3 {
    position: absolute;
    z-index: 1;
    top: 27vw;
    left: 50%;
    transform: translateX(-35%);
    display: block;
    text-align: left;
  }
  @media screen and (min-width: 800px) {
    position: relative;
    flex: 0.3;
    padding: 40px;
    b {
      left: 0;
      display: block;
      width: 100%;
      text-align: center;
      color: inherit;
      transform: none;
    }
    h3 {
      position: relative;
      transform: none;
      top: 0;
      left: 0;
      width: auto;
      margin-top: 80px;
      margin-top: calc(40px + 5vw);
      text-align: center;
    }
  }
}
.templates__constitution__content {
  position: relative;
  flex: 0.9;
  padding: 45% 20px 100px;
  border-radius: 8px;
  background-color: #edede6;
  @media screen and (min-width: 800px) {
    flex: 0.7;
    padding: 12vw 8vw 100px 40px;
  }
  @media screen and (min-width: 1400px) {
    padding: 9vw 8vw 100px 40px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe .templates__constitution__content::before {
  animation: move 10s linear infinite;
}
.templates__constitution__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media screen and (min-width: 800px) {
    margin-bottom: 30px;
  }
  &::before {
    position: absolute;
    z-index: 1;
    top: -40px;
    left: -50px;
    width: 90px;
    height: 90px;
    content: "";
    border-radius: 50%;
    background: url("~@/images/icon_no1.png") no-repeat center center;
    background-size: contain;
    @media screen and (min-width: 800px) {
      top: 5px;
      left: -160px;
      width: 140px;
      height: 140px;
    }
  }
  &:nth-child(2)::before {
    background-image: url("~@/images/icon_no2.png");
  }
  &:nth-child(3)::before {
    background-image: url("~@/images/icon_no3.png");
  }
  &:nth-child(4)::before {
    background-image: url("~@/images/icon_no4.png");
  }
}
.templates__constitution__item__img {
  line-height: 0;
  height: 100%;
  margin: 0 0 20px 0;
  border: 8px solid #ffffff;
  @media screen and (min-width: 800px) {
    width: 250px;
    margin: 0 20px 0 0;
  }
}
.templates__constitution__item__detail {
  font-size: 85%;
  flex: 1;
}

.templates__application {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 6px;
}
.templates__application__title {
  width: calc(9% - 6px);
  margin-left: 6px;
  text-align: center;
  border-radius: 8px;
  background: #16b3ee;
  b {
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 400%;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 3vw;
    left: 50%;
    transform: translateX(-55%);
    margin: 0;
    text-align: left;
    color: #16b3ee;
  }
  h3 {
    position: absolute;
    z-index: 1;
    top: 27vw;
    left: 50%;
    transform: translateX(-55%);
    display: block;
    text-align: left;
  }
  @media screen and (min-width: 800px) {
    position: relative;
    flex: 0.3;
    width: auto;
    padding: 40px;
    color: #ffffff;
    b {
      right: 0;
      left: inherit;
      display: block;
      width: 100%;
      text-align: center;
      color: inherit;
      transform: none;
    }
    h3 {
      position: relative;
      top: 0;
      right: 0;
      left: inherit;
      width: auto;
      margin-top: 80px;
      margin-top: calc(40px + 5vw);
      text-align: center;
      transform: none;
    }
  }
}
.templates__application__content {
  position: relative;
  width: 91%;
  padding: 45% 20px 100px;
  border-radius: 8px;
  background-color: #edede6;
  font-size: 115%;
  @media screen and (min-width: 800px) {
    flex: 0.7;
    width: auto;
    padding: 100px 20px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe .templates__application__content::before {
  animation: move 10s linear infinite;
}
.templates__constitution__form {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 70px 20px 50px;
  border: 2px solid #cccccc;
  background: #ffffff;
  font-size: 85%;
  @media screen and (min-width: 800px) {
    padding: 70px 50px 50px;
  }
}
.templates__constitution__form__title {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 90%;
  padding: 15px 20px;
  transform: translateX(-50%);
  text-align: center;
  line-height: 1.3;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #ffffff;
  background: #38beef;
  @media screen and (min-width: 800px) {
    top: -60px;
    width: 60%;
    font-size: 90%;
  }
  @media screen and (max-width: 320px) {
    width: 90%;
    font-size: 90%;
  }
  &::after {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: calc(50% - 10px);
    display: block;
    content: "";
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #38beef transparent transparent transparent;
  }
}
.templates__constitution__form__attension {
  color: red;
}
.templates__constitution__form__option {
  background: #efefef;
  text-align: center;
  font-size: 110%;
  padding: 5px 0;
  margin: 0;
  border: 1px solid #cccccc;
  border-bottom: none;
}

.templates__application__inquiry {
  // font-size: 90%;
  display: block;
  margin: 30px -10px;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #cccccc;
  border-radius: 10px;
  background: #efefef;
  b {
    font-size: 80%;
    display: block;
    padding: 10px;
    text-decoration: underline;
    color: #ffffff;
    border-radius: 10px;
    background: #474645;
  }
  span {
    line-height: 1.2;
    display: block;
    margin-top: 15px;
  }
}
.templates__constitution__form__price {
  font-size: 120%;
  margin: 30px 0 10px;
  padding: 0;
  span {
    font-size: 140%;
    font-weight: bold;
    color: #e37d0f;
  }
  b {
    font-size: 60%;
    font-weight: bold;
    vertical-align: text-bottom;
  }
  p {
    margin: 0;
  }
}
.templates__constitution__form__price.bottom {
  position: fixed;
  right: 0;
  top: 50%;
  background: #ffffff;
  z-index: 1;
  padding: 10px;
  border: 4px solid #cccccc;
  border-right: none;
  display: none;
  @media screen and (max-width: 800px) {
    display: none !important;
  }
}
.templates__constitution__form__price__breakdown {
  font-size: 60%;
  margin: 0;
  li {
    border-bottom: 1px dotted #ccc;
  }
}
.templates__constitution__form__caption {
  margin: 0 0 30px;
  color: red;
}
.templates__submitflex {
  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;
  }
}
.templates__submit {
  font-weight: 600;
  position: relative;
  display: block;
  width: 100%;
  min-width: 230px;
  margin: 20px 0;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #474645;
  box-shadow: 3px 3px 0px #38beef;
  @media screen and (min-width: 800px) {
    width: 48%;
  }
  span {
    font-size: 12px;
    display: block;
  }
  &[disabled] {
    opacity: 0.5;
  }
}
.templates__mailLoading {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
</style>
