<template>
  <div class="policy" v-observe-visibility="visibilityChanged">
    <breadcrumb :param="{ here: '個人情報保護方針' }"></breadcrumb>
    <pageHead :param="{ img: require('@/images/title_policy.svg'), text: '個人情報保護方針' }" />
    <div class="g__inner">
      <readPolicy />
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
import readPolicy from "@/viewComponent/organisms/readPolicy.vue";
export default {
  components: { breadcrumb, pageHead, readPolicy },
  data() {
    return {};
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  mounted() {
    //loadin hide
    this.loadfin();
  }
};
</script>

<style scoped lang="scss">
.policy {
  position: relative;
  padding: 100px 0 40px;
  background-color: #edede6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    animation: move 10s linear infinite;
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
</style>
