<template>
  <div class="seasons">
    <breadcrumb :param="{ here: '季節で選ぶ' }"></breadcrumb>
    <div class="seasons__main" v-observe-visibility="visibilityChanged">
      <pageHead :param="{ img: require('@/images/title_seasons.svg'), text: 'テンプレートを季節で選ぶ' }" />
      <template v-if="Object.keys(templatesSeasons).length <= 0">
        <gLoading :param="{ patern: 2 }" />
      </template>
      <template v-else>
        <div class="seasons__unkerlink">
          <template v-for="(item, index) in seasons">
            <button :key="index" v-scroll-to="{ el: '#' + item.slug, offset: -70 }">{{ item.name }}</button>
          </template>
        </div>
      </template>
    </div>
    <div class="seasons__template" v-observe-visibility="visibilityChanged">
      <template v-if="Object.keys(templatesSeasons).length <= 0">
        <gLoading :param="{ patern: 2 }" />
      </template>
      <template v-else>
        <template v-for="(item, index) in seasons">
          <div :id="item.slug" class="seasons__template__category" :key="index" v-observe-visibility="visibilityChanged">
            <div class="seasons__template__category__title">
              <p class="seasons__template__category__title__sub">{{ item.acf.seasons_en }}</p>
              <h2>{{ item.name }}</h2>
              <p class="seasons__template__category__title__summary">{{ item.description }}</p>
            </div>
            <div class="seasons__template__category__templates">
              <template v-for="(itemChild, key) in templatesSeasons">
                <div
                  v-if="item.slug === key"
                  class="seasons__template__category__templates__items"
                  :key="key"
                  :style="
                    'width:' +
                      (templatesSeasons[item.slug].length == 1
                        ? templatesSeasons[item.slug].length * columnWidth * 2
                        : templatesSeasons[item.slug].length * columnWidth) +
                      'px'
                  "
                >
                  <!-- 見出しと同じ季節・時期のテンプレートがある場合に表示 -->
                  <template v-if="templatesSeasons[item.slug].length">
                    <template v-for="(itemGrandChild, indexGrandChild) in itemChild">
                      <movieColumn
                        class="seasons__template__category__templates__items__item news"
                        :data="itemGrandChild"
                        :conf="{ title: true, navhide: true }"
                        :key="indexGrandChild"
                      />
                    </template>
                    <template v-if="itemChild.length == 1">
                      <div class="seasons__template__category__templates__items__sample">
                        <span>comming<br />soon</span>
                      </div>
                    </template>
                  </template>
                  <!-- 該当するテンプレートがまだない場合（カテゴリを作ってあるけどテンプレートがない） -->
                  <template v-else>準備中です。</template>
                </div>
              </template>
            </div>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import store from "@/store";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
export default {
  components: {
    breadcrumb,
    pageHead,
    movieColumn,
    gLoading
  },
  data() {
    return {
      width: window.innerWidth,
      columnWidth: this.width < 800 ? 300 : 400
    };
  },
  mounted() {
    //loadin hide
    this.loadfin();

    // route.paramにページ内スクロール情報があればスクロールアニメ
    // console.log(this.$route.params.unker);
    if (this.$route.params.unker) {
      setTimeout(() => {
        this.$scrollTo(document.getElementById(this.$route.params.unker), { offset: -70 });
      }, 900);
    }
    window.addEventListener("resize", this.handleResize);
  },
  computed: {
    seasons: () => store.state.seasons,
    templatesSeasons: () => store.getters.templatesSeasons
  },
  methods: {
    movie(e) {
      // console.log(e.currentTarget);
      let targetDom = e.currentTarget.parentNode.querySelector("iframe");
      // console.log(targetDom);
      targetDom.style.zIndex = 1;
      targetDom.setAttribute("src", targetDom.dataset.src + "&autoplay=1");
    },
    handleResize: function() {
      this.width = window.innerWidth;
      if (this.width < 800) {
        this.columnWidth = 300;
      } else {
        this.columnWidth = 400;
      }
    },
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  beforeDestroy: function() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>

<style scoped lang="scss">
.seasons {
  @media screen and (min-width: 800px) {
    margin-top: 70px;
  }
}
.seasons__main {
  position: relative;
  padding: 20px 0 40px;
  background-color: #edede6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    animation: move 10s linear infinite;
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.seasons__unkerlink {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 30px 20px;
  button {
    font-size: 90%;
    width: 90px;
    height: 90px;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    white-space: normal;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #3b3938;
    @media screen and (min-width: 800px) {
      width: 100px;
      height: 100px;
      padding: 5px;
    }
    @media screen and (max-width: 320px) {
      width: 90px;
      height: 85px;
      margin: 0 5px;
    }
  }
}

// template
.seasons__template__category {
  padding-top: 6px;
  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.seasons__template__category__title {
  font-size: 100%;
  flex: 0.3;
  margin-right: 6px;
  padding-top: 80px;
  text-align: center;
  border-radius: 8px;
  background: #edede6;
  .seasons__template__category__title__sub {
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 200%;
    line-height: 0.7;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #d4cb2a;
  }
  .seasons__template__category__title__summary {
    margin-right: 30px;
    padding: 30px 30px 30px 5vw;
    text-align: left;
    background: #ffffff;
  }
}
.seasons__template__category__templates {
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  flex: 0.7;
  padding: 40px 30px;
  border-radius: 8px;
  background: #ffec00;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    animation: move 10s linear infinite;
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe .seasons__template__category__templates::before {
  animation: move 10s linear infinite;
}
.seasons__template__category__templates__items {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}
.seasons__template__category__templates__items__item {
  display: table-cell;
  width: 280px;
  margin-right: 20px;
  @media screen and (min-width: 800px) {
    width: 370px;
  }
}
_:-ms-fullscreen,
:root .seasons__template__category__templates__items__item {
  display: block;
}
.seasons__template__category__templates__items__sample {
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    text-align: center;
    opacity: 0.5;
    background: #ffffff;
    box-shadow: 3px 3px 0 #3b3938;
    @media screen and (min-width: 800px) {
      width: 370px;
    }
  }
}
.seasons__template__category:nth-child(2n) {
  flex-direction: row-reverse;
  .seasons__template__category__title {
    margin: 0 0 0 6px;
    .seasons__template__category__title__summary {
      margin: 0 0 0 30px;
      padding: 30px 5vw 30px 30px;
    }
  }
  .seasons__template__category__templates {
    background: #16b3ee;
    &::before {
      opacity: 0.4;
    }
  }
}
</style>
