<template>
  <section class="howto">
    <breadcrumb :param="{ here: 'サイトの使い方' }"></breadcrumb>
    <div class="howto__main" v-observe-visibility="visibilityChanged">
      <pageHead :param="{ img: require('@/images/title_howto.svg'), text: 'サイトの使い方' }" />
      <div class="g__inner">
        <div class="howto__movie">
          <p class="howto__movie__title"><span>サクッとわかる</span> <br /><span>テンプレプラスの使い方</span></p>
          <iframe
            width="650"
            height="350"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0"
            allowfullscreen="1"
            src="https://www.youtube.com/embed/q_XbdFvEoyI?loop=1&controls=0&enablejsapi=1&iv_load_policy=3&disablekb=1&showinfo=0&rel=0&origin=https%3A%2F%2Fwww.ageha.tv&widgetid=1"
          ></iframe>
        </div>
      </div>
    </div>
    <div class="howto__no" v-observe-visibility="visibilityChanged">
      <div class="howto__no__boxfirst"></div>
      <div class="howto__no__box">
        <div class="howto__no__box__inner">
          <h3 class="howto__no__box__title">テンプレートを選択</h3>
          <div class="howto__no__box__flex">
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="~@/images/howto01.jpg" /></p>
              <p class="howto__no__box__item__text">
                各動画サムネイルをクリックするとサンプル動画が再生されます。お好みのテンプレートを探し、テンプレート詳細ページをご覧ください。
              </p>
            </div>
            <div class="howto__no__box__item">
              <linkButton
                :params="{
                  color: '#16B3EE',
                  text: '用途で選ぶ',
                  router: {
                    name: 'uses'
                  }
                }"
              />
              <linkButton
                :params="{
                  color: '#16B3EE',
                  text: '季節で選ぶ',
                  router: {
                    name: 'seasons'
                  }
                }"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="howto__no" v-observe-visibility="visibilityChanged">
      <div class="howto__no__boxfirst"></div>
      <div class="howto__no__box">
        <div class="howto__no__box__inner">
          <h3 class="howto__no__box__title">テンプレート詳細ページからお申込み</h3>
          <div class="howto__no__box__flex">
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="~@/images/howto02.jpg" /></p>
              <p class="howto__no__box__item__text">
                詳細ページで金額・日数目安・構成を参照し、その後お申込みフォームをご入力いただきます。
              </p>
            </div>
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="https://placehold.jp/750x410.png" /></p>
              <p class="howto__no__box__item__text">
                自動返信メールが届きます。もし届かない場合は、お手数ですが再度フォームよりお申込みください。その後担当者より2営業日以内に、ご入金のご案内と動画制作指示書、写真・動画素材データ納品等のご案内がメールで届きます。
              </p>
            </div>
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="https://placehold.jp/750x410.png" /></p>
              <p class="howto__no__box__item__text">
                ご案内にそって動画制作指示書と素材データをお送りください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="howto__no" v-observe-visibility="visibilityChanged">
      <div class="howto__no__boxfirst"></div>
      <div class="howto__no__box">
        <div class="howto__no__box__inner">
          <h3 class="howto__no__box__title">
            ご入金～動画の確認と修正
          </h3>
          <div class="howto__no__box__flex">
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="https://placehold.jp/750x410.png" /></p>
              <p class="howto__no__box__item__text">
                当社にて動画制作指示書と素材データを確認いたします。問題なければお支払方法のご案内メールが届きますので、案内にそってご入金ください。ご入金確認後、動画制作を開始いたします。
              </p>
            </div>
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="https://placehold.jp/750x410.png" /></p>
              <p class="howto__no__box__item__text">
                ご入金後5営業日以内に確認用動画のURLがメールにて届きます。修正は1回可能となりますが、修正内容によっては納品日が多少遅れる可能性がございます。メールにて修正内容をご連絡ください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="howto__no" v-observe-visibility="visibilityChanged">
      <div class="howto__no__boxfirst"></div>
      <div class="howto__no__box">
        <div class="howto__no__box__inner">
          <h3 class="howto__no__box__title">
            完成動画のお受取り
          </h3>
          <div class="howto__no__box__flex">
            <div class="howto__no__box__item">
              <p class="howto__no__box__item__img"><img src="https://placehold.jp/750x410.png" /></p>
              <p class="howto__no__box__item__text">
                動画の修正完了後、完成動画のダウンロードURLをメールにてご連絡いたします。URLをクリックするとダウンロード用の画面に遷移いたします。
              </p>
            </div>
            <div class="howto__no__box__item">
              <div class="howto__no__box__item__button">
                <p class="howto__no__box__item__text">オリジナル動画制作の<br />ご相談はこちらから</p>
                <linkButton
                  :params="{
                    color: '#16B3EE',
                    text: 'ご相談はこちら',
                    router: {
                      name: 'inquiryOrdering'
                    }
                  }"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { gsap, Back } from "gsap";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
export default {
  components: { breadcrumb, pageHead, linkButton },
  data() {
    return {};
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.howto {
  @media screen and (min-width: 800px) {
    margin-top: 70px;
  }
}
.howto__main {
  position: relative;
  padding: 20px 0 40px;
  background-color: #edede6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe.howto__main::before {
  animation: move 10s linear infinite;
}
.howto__movie {
  position: relative;
  text-align: center;
  iframe {
    position: relative;
    border: 4px solid #333333;
  }
}
.howto__movie__title {
  font-size: 120%;
  line-height: 2;
  position: absolute;
  z-index: 0;
  top: -20px;
  left: calc(50% - 580px);
  transform: rotateZ(-10deg);
  text-align: left;
  text-indent: -2em;

  writing-mode: tb;
  span {
    position: relative;
    padding: 5px;
    color: #ffffff;
    background: #16b3ee;
  }
  &::after {
    position: absolute;
    bottom: -130px;
    left: 82px;
    width: 150px;
    height: 300px;
    content: "";
    background: url("~@/images/kuma_raisehand_speak.png") no-repeat center center;
    background-size: contain;
  }
}

.howto__no {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 6px;
  &::before {
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 20%;
    width: 110px;
    height: 110px;
    content: "";
    border-radius: 50%;
    background: url("~@/images/icon_no1.png") no-repeat center center;
    background-size: contain;
    @media screen and (min-width: 800px) {
      width: 140px;
      height: 140px;
    }
    @media screen and (max-width: 1400px) {
      left: 8vw;
    }
    @media screen and (max-width: 1100px) {
      left: 0%;
    }
  }
  .howto__no__boxfirst {
    width: calc(9% - 6px);
    margin-right: 6px;
    border-radius: 8px;
    background: #edede6;
    @media screen and (min-width: 800px) {
      width: calc(23% - 6px);
    }
  }
  .howto__no__box {
    position: relative;
    overflow: hidden;
    width: 91%;
    border-radius: 8px;
    background: #fff100;
    @media screen and (min-width: 800px) {
      width: 77%;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      opacity: 1;
      background: url("~@/images/bg_patarn.png");
      background-attachment: fixed;
      background-position: 0 0;
    }
    .linkButton {
      margin: 30px 0 0 30px;
    }
    .howto__no__box__inner {
      max-width: 1000px;
      margin: 0;
      padding: 100px 30px 70px 30px;
      @media screen and (min-width: 800px) {
        margin: 0 auto 0 40px;
        padding: 3em 2em 3em;
        text-align: center;
      }
    }
    .howto__no__box__title {
      position: relative;
      @media screen and (min-width: 800px) {
        font-size: 130%;
      }
    }
    .howto__no__box__flex {
      display: block;
      @media screen and (min-width: 800px) {
        display: flex;
        justify-content: center;
      }
    }
    .howto__no__box__item {
      position: relative;
      z-index: 1;
      width: 100%;
      @media screen and (min-width: 800px) {
        width: calc(33% - 15px);
        margin-right: 15px;
      }
      .linkButton {
        margin: 0 0 20px;
        @media screen and (min-width: 800px) {
          margin: 20px 0 0 10px;
        }
      }
    }
    .howto__no__box__item__img {
      line-height: 0;
      border: 3px solid #3a3938;
    }
    .howto__no__box__item__text {
      font-size: 85%;
      text-align: left;
      span {
        background: rgba(0, 0, 0, 0.5);
      }
      @media screen and (min-width: 800px) {
        font-size: 75%;
      }
    }
    .howto__no__box__item__button .howto__no__box__item__text {
      font-weight: bold;
      text-align: center;
      margin: 0 0 10px;
      font-size: 100%;
      @media screen and (min-width: 800px) {
        margin: 0;
        font-size: 90%;
      }
    }
  }
}
.is__observe .howto__no__box::before {
  animation: move 10s linear infinite;
}
.howto__no:nth-child(4)::before {
  background-image: url("~@/images/icon_no2_blue.png");
}
.howto__no:nth-child(5)::before {
  background-image: url("~@/images/icon_no3.png");
}
.howto__no:nth-child(6)::before {
  background-image: url("~@/images/icon_no4_blue.png");
}
.howto__no:nth-child(2n) {
  flex-direction: row-reverse;
  .howto__no__boxfirst {
    margin: 0 0 0 6px;
  }
  .howto__no__box__inner {
    margin: 0 0 20px auto;
  }
  .howto__no__box {
    color: #ffffff;
    background: #16b3ee;
    &::before {
      opacity: 0.4;
    }
  }
  .howto__no__box__title {
    left: 0;
    @media screen and (min-width: 800px) {
      text-align: center;
    }
  }
}
.howto__no__box__item__button {
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  height: 260px;
  text-align: center;
  color: #3a3938;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 20px 20px 0px rgba(255, 255, 255, 0.4);
}
</style>
