<template>
  <div class="thanksOrdering" v-observe-visibility="visibilityChanged">
    <breadcrumb :param="{ here: 'オリジナル映像ご相談 完了' }"></breadcrumb>
    <pageHead :param="{ img: require('@/images/title_inquiryOrdering.svg'), text: 'オリジナル映像ご相談完了' }" />
    <div class="g__inner thanksOrdering__inner">
      <p class="thanksOrdering__text">
        <template v-if="$route.params.name">
          {{ $route.params.name }}さん
          <br />
        </template>
        お申込みありがとうございます。
      </p>
      <p class="thanksOrdering__cap">
        ※しばらくたっても<span>自動返信メールが届かない場合</span>は、<br />メールアドレスが間違っている可能性がございますので、<br />お手数ですが、再度お申し込みください。
      </p>
      <p class="thanksOrdering__text">担当者からのご連絡を<br class="g__pc__hide" />今しばらくお待ちください。</p>
      <introOrdering />
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
import introOrdering from "@/viewComponent/organisms/introOrdering.vue";
export default {
  components: { breadcrumb, pageHead, introOrdering },
  data() {
    return {};
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.thanksOrdering {
  position: relative;
  padding: 30px 0 40px;
  background-color: #edede6;
  @media screen and (min-width: 800px) {
    padding: 100px 0 40px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe.thanksOrdering::before {
  animation: move 10s linear infinite;
}
.thanksOrdering__inner {
  position: relative;
}
.thanksOrdering__cap {
  font-size: 80%;
  text-align: center;
  margin-bottom: 30px;
  span {
    color: red;
  }
}
.thanksOrdering__text {
  text-align: center;
  padding: 0 20px;
}
</style>
