<template>
  <div class="inquiry">
    <div v-observe-visibility="visibilityChanged">
      <breadcrumb :param="{ here: 'お問合せ' }"></breadcrumb>
      <div class="inquiry__main">
        <pageHead :param="{ img: require('@/images/title_inquiry.svg'), text: 'お問合せ' }" />
      </div>
      <div class="g__inner">
        <div class="inquiry__inputarea" v-observe-visibility="visibilityChanged">
          <ValidationObserver v-slot="{ invalid }" ref="form">
            <form @submit.prevent="onSubmit" name="form">
              <p class="inquiry__attension">*は必須事項です。</p>
              <inputText
                ref="myname"
                :param="{
                  text: 'お名前',
                  name: 'myname',
                  rules: { required: true }
                }"
              />
              <inputText
                ref="furigana"
                :param="{
                  text: 'ふりがな',
                  name: 'furigana',
                  rules: {
                    required: true,
                    regex: /^[ぁ-ん]+$/
                  }
                }"
              />
              <inputText
                ref="tel"
                :param="{
                  text: '電話番号',
                  name: 'tel',
                  rules: { required: true, regex: /^\d{10}$|^\d{11}$/ }
                }"
              />
              <inputText
                ref="email"
                :param="{
                  text: 'メールアドレス',
                  name: 'email',
                  rules: { required: true, email: true }
                }"
              />
              <selectManagement ref="management" @updated="updateManage" />
              <inputText
                ref="company"
                :param="{
                  text: '会社名',
                  name: 'company',
                  rules: manageflg ? { required: true } : {}
                }"
              />
              <inputMessage
                ref="message"
                :param="{
                  text: 'お問合せ内容をご入力ください',
                  name: 'message',
                  rules: {}
                }"
              />
              <checkPolicy ref="policy" />
              <button class="inquiry__submit" :disabled="invalid" ref="sendButton">
                <template v-if="invalid">
                  送信
                  <span>※未入力項目があります</span>
                </template>
                <template v-else>送信</template>
              </button>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>
    <div class="inquiry__mailLoading" ref="mailLoading">
      <gLoading :param="{ patern: 1, message: 'mail sending' }" />
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
import inputText from "@/viewComponent/molecules/inputText.vue";
import inputMessage from "@/viewComponent/molecules/inputMessage.vue";
import selectManagement from "@/viewComponent/molecules/selectManagement.vue";
import checkPolicy from "@/viewComponent/molecules/checkPolicy.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
import axios from "axios";
import { ValidationObserver } from "vee-validate";

export default {
  components: {
    breadcrumb,
    pageHead,
    ValidationObserver,
    inputText,
    inputMessage,
    selectManagement,
    checkPolicy,
    gLoading
  },
  data() {
    return { manageflg: false };
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate().then(success => {
        if (!success) {
          alert("未入力項目があります");
          return;
        }
        // メール送信
        this.send();
        // 入力内容リセット
        // this.$nextTick(() => {
        //   this.$refs.form.reset();
        // });
      });
    },
    focus: dom => {
      dom.classList.add("js-focus");
    },
    blur: (dom, inputdom) => {
      if (!inputdom.value) {
        dom.classList.remove("js-focus");
      }
    },
    // 個人／法人ラジオボタンでmanageflgのture|falseを切り替え。※「会社名、部署名、会社住所」の条件必須用
    updateManage(value) {
      this.manageflg = value == "法人" ? true : false;
    },
    // メール送信
    send() {
      this.$refs.sendButton.disabled = true;
      const formData = new URLSearchParams();
      // ref名をキー値にしてformDataにvalue値格納
      Object.keys(this.$refs).forEach(key => {
        if (!String(key).match(/^form|^sendButton|^mailLoading/)) {
          formData.append(key, document.form[key].value);
        }
      });
      //mail loading 開始
      gsap.to(this.$refs.mailLoading, 0.5, {
        alpha: 1,
        display: "flex"
      });
      // メール送信
      const API_URI = process.env.VUE_APP_SITEURL + "api/contact-form-7/v1/contact-forms/5/feedback/";
      axios
        .post(API_URI, formData)
        .then(() => {
          // console.log(response);
          alert("送信されました。");
          // サンクスページへ遷移
          this.$router.push({
            name: "thanksInquiry",
            params: { name: document.form.myname.value }
          });
        })
        .catch(() => {
          // console.log(err);
          alert("通信エラーです。通信環境をご確認の上、再度送信ボタンを押してください。");
          // submitボタンクリック可
          this.$refs.sendButton.disabled = false;
          // mail loading解除
          gsap.to(this.$refs.mailLoading, 0.5, {
            alpha: 0,
            display: "none"
          });
        });
    },
    visibilityChanged(isVisible, entry) {
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.inquiry {
  position: relative;
  background-color: #edede6;
  padding: 30px 0 50px;
  @media screen and (min-width: 800px) {
    margin-top: 70px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe.inquiry::before {
  animation: move 10s linear infinite;
}
.inquiry__inputarea {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 20px 10px;
  border: 2px solid #cccccc;
  background: #ffffff;
}
.inquiry__submit {
  font-weight: 600;
  position: relative;
  display: block;
  width: 100%;
  min-width: 230px;
  margin: 20px 0;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #474645;
  box-shadow: 3px 3px 0px #38beef;
  span {
    font-size: 12px;
    display: block;
  }
  &[disabled] {
    opacity: 0.5;
  }
}
.inquiry__attension {
  color: red;
}
.inquiry__mailLoading {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
</style>
