<template>
  <section class="translation">
    <breadcrumb :param="{ here: '翻訳参考例' }"></breadcrumb>
    <div class="translation__main" v-observe-visibility="visibilityChanged">
      <pageHead :param="{ img: require('@/images/title_translation.svg'), text: '翻訳参考例' }" />
      <template v-if="Object.keys(templatesPickup).length <= 0">
        <gLoading :param="{ patern: 1 }" />
      </template>
      <template v-else>
        <div class="translation__movie">
          <div class="translation__movie__title">
            <b>Recomended!</b>
            <div class="translation__movie__title__inner">
              <h3 class="translation__movie__title__inner__title">{{ templatesPickup[0].title.rendered }}</h3>
              <div class="translation__movie__title__inner__text" v-html="templatesPickup[0].content.rendered"></div>
              <linkButton
                class="translation__movie__title__inner__button"
                :params="{
                  color: '#16B3EE',
                  text: '詳細はこちら',
                  router: {
                    name: 'templates',
                    params: {
                      slug: templatesPickup[0].slug
                    }
                  }
                }"
              />
            </div>
          </div>
          <div class="translation__movie__area">
            <template v-if="Object.keys(templatesPickup).length <= 0"> </template>
            <template v-else>
              <div class="g__flex">
                <movieColumn
                  class="translation__movie__area__movie"
                  :data="templatesPickup[0]"
                  :conf="{ title: false, navhide: false, select: 'ja' }"
                  showclass="multi direct"
                />
                <movieColumn
                  class="translation__movie__area__movie"
                  :data="templatesPickup[0]"
                  :conf="{ title: false, navhide: false, select: 'en' }"
                  showclass="multi direct"
                />
                <movieColumn
                  class="translation__movie__area__movie"
                  :data="templatesPickup[0]"
                  :conf="{ title: false, navhide: false, select: 'zh' }"
                  showclass="multi direct"
                />
                <movieColumn
                  class="translation__movie__area__movie"
                  :data="templatesPickup[0]"
                  :conf="{ title: false, navhide: false, select: 'ko' }"
                  showclass="multi direct"
                />
              </div>
              <linkButton
                class="translation__movie__area__button"
                :params="{
                  color: '#16B3EE',
                  text: '詳細はこちら',
                  router: {
                    name: 'templates',
                    params: {
                      slug: templatesPickup[0].slug
                    }
                  }
                }"
              />
            </template>
          </div>
        </div>
      </template>
    </div>
    <div class="translation__explane" v-observe-visibility="visibilityChanged">
      <div class="translation__explane__inner">
        <h3 class="translation__explane__title">select the words</h3>
        <p class="translation__explane__title__sub">細かなニュアンスを<br class="g__pc__hide" />適切に翻訳いたします。</p>
        <p class="translation__explane__title__sub2">
          一つの文章でも、<br class="g__pc__hide" /><span>伝わりやすい表現</span>が変わります。<br />「テンプレプラス」は、<br
            class="g__pc__hide"
          /><span>文章の状況に応じて適切な表現</span>で<br class="g__pc__hide" />翻訳させていただきます。
        </p>
        <div class="translation__explane__exsample">
          <p class="translation__explane__exsample__img">
            <img src="~@/images/serif_hobbies.png" alt="「あなたの趣味は何ですか？」を英語にどう翻訳しよう？" />
          </p>
          <div>
            <ul>
              <li>① What do you like to do in your free time?</li>
              <li>② Do you have any hobbies?</li>
            </ul>
            <p>凝った趣味やハマっている趣味を問いたい場合</p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 99 53">
            <path
              fill-rule="evenodd"
              fill="rgb(59, 57, 56)"
              d="M98.837,28.563 C98.837,30.376 54.405,52.592 49.418,52.592 C44.431,52.592 -0.001,30.830 -0.001,28.563 C-0.001,28.015 5.773,27.627 14.518,27.378 C14.514,27.321 14.501,27.267 14.501,27.210 L14.501,2.267 C14.501,1.015 15.516,-0.000 16.768,-0.000 L81.603,-0.000 C82.856,-0.000 83.870,1.015 83.870,2.267 L83.870,27.210 C83.870,27.306 83.854,27.399 83.842,27.492 C92.854,27.754 98.837,28.117 98.837,28.563 Z"
            />
          </svg>
        </div>
        <p class="translation__explane__exsample__imgAnswer"><img src="~@/images/serif_hobbies_answer.png" alt="②で翻訳する" /></p>
      </div>
    </div>
    <div class="translation__other">
      <div class="g__flex translation__other__flex">
        <template v-for="(item, index) in templates">
          <template v-if="item.acf.movie_ja.length && item.acf.movie_en.length && item.id !== templatesPickup[0].id">
            <div class="translation__other__item" :key="index">
              <movieColumn class="translation__other__item__movie" :data="item" :conf="{ title: false, navhide: false }" showclass="multi color" />
              <linkButton
                class="translation__other__item__link"
                :params="{
                  color: '#16B3EE',
                  text: '詳細はこちら',
                  router: {
                    name: 'templates',
                    params: {
                      slug: item.slug
                    }
                  }
                }"
              />
            </div>
          </template>
        </template>
      </div>
    </div>
    <!-- <div class="translation__inbound">
      <div class="translation__explane__inner">
        AAAA
      </div>
    </div> -->
  </section>
</template>

<script>
import store from "@/store";
import { gsap, Back } from "gsap";
import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
import linkButton from "@/viewComponent/molecules/linkButton.vue";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import pageHead from "@/viewComponent/organisms/pageHead.vue";
import gLoading from "@/viewComponent/molecules/gLoading.vue";
export default {
  components: {
    breadcrumb,
    pageHead,
    linkButton,
    movieColumn,
    gLoading
  },
  data() {
    return {};
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  computed: {
    templates: () => store.state.templates,
    templatesPickup: () => store.getters.templatesPickup
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.translation {
  @media screen and (min-width: 800px) {
    margin-top: 70px;
  }
}
.translation__main {
  position: relative;
  padding: 20px 0 40px;
  background-color: #edede6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    animation: move 10s linear infinite;
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.translation__movie {
  position: relative;
  @media screen and (min-width: 800px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  b {
    font-size: 200%;
    display: block;
    padding: 0 20px 10px 0;
    text-align: right;
    color: #38beef;
  }
}
.translation__movie__title {
  position: relative;
  flex: 0.32;
  margin: 60px 0 0 -10px;
  @media screen and (min-width: 800px) {
    margin: 0 0 0 -7%;
  }
  b {
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 300%;
    position: relative;
    z-index: 1;
  }
  &::after {
    position: absolute;
    top: -35px;
    left: 2em;
    width: 80px;
    height: 150px;
    content: "";
    transform: rotateZ(-10deg);
    background: url("~@/images/kuma_clapperboard.png") no-repeat center center;
    background-size: contain;
    @media screen and (min-width: 800px) {
      top: -58px;
      left: inherit;
      right: 16em;
      width: 100px;
      height: 200px;
    }
  }
}
.translation__movie__title__inner {
  position: relative;
  z-index: 1;
  margin-right: 20px;
  // width: 43%;
  padding: 20px 20px 20px 35px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: -4px -4px 0 #16b3ee;
  @media screen and (min-width: 800px) {
    margin-right: 0;
    padding: 20px 30px 40px 9vw;
  }
  .translation__movie__title__inner__title {
    font-size: 120%;
    &::before {
      display: inline-block;
      width: 1.8em;
      height: 1.8em;
      margin-right: 5px;
      content: "";
      vertical-align: text-bottom;
      background: url("~@/images/icon_video.svg") no-repeat;
      background-size: contain;
    }
  }
  .translation__movie__title__inner__text {
    font-size: 80%;
  }
  .translation__movie__title__inner__button {
    display: none;
    margin-left: 0;
    @media screen and (min-width: 800px) {
      display: block;
    }
  }
}
.translation__movie__area {
  flex: 0.55;
  margin-top: 20px;
  padding: 0 0 0 5px;
  @media screen and (min-width: 800px) {
    margin-top: 0;
    padding: 0 2vw 0 4vw;
  }
}
.translation__movie__area__movie {
  width: calc(50% - 5px);
  margin: 0 5px 10px 0;

  @media screen and (min-width: 800px) {
    width: calc(50% - 20px);
    margin: 10px;
  }
}
.translation__movie__area__button {
  margin-top: 20px;
  @media screen and (min-width: 800px) {
    display: none;
  }
}

// explane
.translation__explane {
  padding-top: 6px;
  .translation__explane__inner {
    position: relative;
    padding: 30px 20px 40px;
    background-color: #ffec00;
    @media screen and (min-width: 800px) {
      padding: 50px 8vw 40px;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      animation: move 10s linear infinite;
      opacity: 1;
      background: url("~@/images/bg_patarn.png");
      background-attachment: fixed;
      background-position: 0 0;
    }
  }
}
.translation__explane__title {
  position: relative;
  text-align: center;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 300%;
  margin: 0;
}
.translation__explane__title__sub {
  position: relative;
  margin: 0;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}
.translation__explane__title__sub2 {
  position: relative;
  margin: 30px 0 0;
  text-align: center;
  span {
    font-weight: bold;
    color: red;
  }
}
.translation__explane__exsample {
  position: relative;
  font-weight: bold;
  padding-bottom: 2vw;
  margin-bottom: 1vw;
  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    background: #ffffff;
    padding: 0 5px;
    display: table;
    margin-bottom: 10px;
    font-size: 130%;
  }
  svg {
    width: 20%;
    margin: 0 auto;
    display: block;
    @media screen and (min-width: 800px) {
      transform: translateX(-50%);
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 7vw;
      height: 5vw;
    }
  }
}
.translation__explane__exsample__img {
  position: relative;
  width: 80%;
  margin: 30px auto;
  @media screen and (min-width: 800px) {
    margin: 20px 2vw 0 0;
    width: 22vw;
    min-width: 250px;
  }
}
.translation__explane__exsample__imgAnswer {
  width: 80%;
  position: relative;
  margin: 0 auto -48px;
  @media screen and (min-width: 800px) {
    width: 22vw;
    min-width: 250px;
  }
}

// other
.translation__other {
  padding-top: 6px;
}
.translation__other__flex {
  margin-bottom: -6px;
  @media screen and (min-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
    background-color: none;
  }
}
.translation__other__item {
  padding: 30px 20px;
  border-radius: 8px;
  background-color: #edede6;
  @media screen and (min-width: 800px) {
    flex: 0.3;
    margin: 0 3px 6px;
    padding: 3vw;
  }
}
.translation__other__item__link {
  margin-top: 20px;
}

// explane
.translation__inbound {
  padding-top: 6px;
  .translation__explane__inner {
    position: relative;
    padding: 20px 0 40px;
    background-color: #16b3ee;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      animation: move 10s linear infinite;
      opacity: 0.4;
      background: url("~@/images/bg_patarn.png");
      background-attachment: fixed;
      background-position: 0 0;
    }
  }
}
</style>
