<template>
  <div class="thanksTemplate" v-observe-visibility="visibilityChanged">
    <breadcrumb :param="{ here: 'お申込み完了' }"></breadcrumb>
    <div class="g__inner thanksTemplate__inner">
      <p class="thanksTemplate__text">
        <template v-if="$route.params.name">
          {{ $route.params.name }}さん
          <br />
        </template>
        お申込みありがとうございます。
      </p>
      <p class="thanksTemplate__cap">
        ※しばらくたっても<span>自動返信メールが届かない場合</span>は、<br />メールアドレスが間違っている可能性がございますので、<br />お手数ですが、再度お申し込みください。
      </p>
      <p class="thanksTemplate__text">
        下記の動画制作を受け付けました。<br />担当者からのご連絡を<br class="g__pc__hide" />今しばらくお待ちください。
      </p>
      <template v-if="$route.params.data">
        <div class="thanksTemplate__movie">
          <movieColumn
            :key="index"
            class="newsTemplate__block__inner__movie news"
            :data="$route.params.data"
            :conf="{ title: false, navhide: true }"
          />
        </div>
      </template>
      <introOrdering />
    </div>
  </div>
</template>

<script>
import { gsap, Back } from "gsap";
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
import introOrdering from "@/viewComponent/organisms/introOrdering.vue";
import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
export default {
  components: { breadcrumb, introOrdering, movieColumn },
  data() {
    return {};
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  methods: {
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        entry.target.classList.add("is__observe");
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 100
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(2)
          }
        );
        // this.titleanime();
      } else {
        entry.target.classList.remove("is__observe");
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.thanksTemplate {
  position: relative;
  padding: 30px 0 40px;
  background-color: #edede6;
  @media screen and (min-width: 800px) {
    padding: 100px 0 40px;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: url("~@/images/bg_patarn.png");
    background-attachment: fixed;
    background-position: 0 0;
  }
}
.is__observe.thanksTemplate::before {
  animation: move 10s linear infinite;
}
.thanksTemplate__inner {
  position: relative;
}
.thanksTemplate__cap {
  font-size: 80%;
  text-align: center;
  margin-bottom: 30px;
  span {
    color: red;
  }
}
.thanksTemplate__text {
  text-align: center;
  padding: 0 20px;
}
.thanksTemplate__movie {
  padding: 20px;
  @media screen and (min-width: 800px) {
    padding: 20px 20vw;
  }
}
</style>
