<template>
  <div class="home">
    <div class="main">
      <mainVisual />
      <div class="g__flex" style="position:relative;">
        <appeal />
        <create />
      </div>
      <pickup />
      <div class="g__flex">
        <uses class="g__flex__50" />
        <seasons class="g__flex__50" />
      </div>
      <newsTemplate />
    </div>
  </div>
</template>

<script>
import store from "@/store";
import mainVisual from "@/viewComponent/organisms/mainVisual.vue";
import appeal from "@/viewComponent/organisms/appeal.vue";
import create from "@/viewComponent/organisms/create.vue";
import pickup from "@/viewComponent/organisms/pickup.vue";
import uses from "@/viewComponent/organisms/uses.vue";
import seasons from "@/viewComponent/organisms/seasons.vue";
import newsTemplate from "@/viewComponent/organisms/newsTemplate.vue";
// import movieColumn from "@/viewComponent/organisms/movieColumn.vue";
import { gsap, Back } from "gsap";
// import formtemp from "@/viewComponent/organisms/formtemp.vue";

export default {
  components: {
    mainVisual,
    appeal,
    create,
    pickup,
    uses,
    seasons,
    newsTemplate
    // movieColumn
    // formtemp
  },
  computed: {
    templatesUses: () => store.getters.templatesUses,
    // templatesPickup: () => store.getters.templatesPickup,
    templates: () => store.state.templates,
    uses: () => store.state.uses,
    seasons: () => store.state.seasons
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  data() {
    return {
      show: true,
      pickup: []
    };
  },
  watch: {
    // pickupの初期表示をjaにセット
    // templatesPickup(val) {
    //   for (let i = 0; i < val.length; i++) {
    //     this.setPickup(i, "ja");
    //   }
    // }
  },
  methods: {
    setPickup(index, lang) {
      this.$set(this.pickup, index, lang);
    },
    visibilityChanged(isVisible, entry) {
      // console.log(entry.target);
      if (isVisible) {
        gsap.fromTo(
          entry.target,
          1,
          {
            opacity: 0,
            y: 80
          },
          {
            opacity: 1,
            y: 0,
            ease: Back.easeOut.config(1.7)
          }
        );
      } else {
        gsap.to(entry.target, 1, {
          opacity: 0
        });
      }
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.main__create {
  padding: 6px 0 0 3px;
  @media screen and (max-width: 500px) {
    padding: 6px 0 0 0;
  }
  .main__create__inner {
    height: 100%;
    padding: 30px;
    color: #ffffff;
    background: #16b3ee;
    @media screen and (max-width: 500px) {
      padding: 20px;
    }
  }
}
.main__pickup {
  margin-top: 6px;
  padding: 30px 0;
  background: #edede6;
}
.main_select {
  padding: 30px 0;
  background: #ededed;
  .main_select__use,
  .main_select__season {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #cccccc;
    background: #333333;
  }
}
.main_news {
  padding: 30px 0;
  background: #edede6;
}
</style>
