<template>
  <div class="howto">
    <div class="g__inner">
      <breadcrumb :param="{ here: 'サイトの使い方' }"></breadcrumb>
      <h1 class="howto__tit">サイトの使い方</h1>
      <h2 class="howto__subtit">サブタイトル</h2>
      <p class="howto__summary">テキストはいる。</p>
    </div>
  </div>
</template>

<script>
import breadcrumb from "@/viewComponent/molecules/breadcrumb.vue";
export default {
  components: { breadcrumb },
  data() {
    return {};
  },
  mounted() {
    //loadin hide
    this.loadfin();
  },
  methods: {},
  created() {}
};
</script>

<style scoped lang="scss">
.howto {
  .inner {
    padding: 0 20px;
  }
}
.howto__tit {
  text-align: center;
  white-space: pre-wrap;
}
.howto__subtit {
  text-align: center;
  white-space: pre-wrap;
}
.howto__summary {
  white-space: pre-wrap;
}
</style>
