<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv=" X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="<%= webpackConfig.output.publicPath %>assets/images/favicon.ico" />
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width">
  <title>テンプレプラス｜簡単多言語動画作成サービス｜カンタンにタゲンゴのムービーを作成できるテンプレ＋</title>
  <meta name="description" content="テンプレプラスは多言語翻訳対応の動画作成サービスです。用途や季節に合わせて、低価格帯の動画を簡単に作成でき、短期間でご納品が可能です。" />
  <meta name="keywords" content="テラスラインワイドメディカル,導光板,株式会社トライテラス,LED,照明,TRi TERASU,製造,開発,調光器" />
  <meta property=og:url content="https://tenpureplus.com" />
  <meta property=og:type content=website>
  <meta property=og:title content="テンプレプラス｜簡単多言語動画作成サービス｜カンタンにタゲンゴのムービーを作成できるテンプレ＋">
  <meta property=og:description content="テンプレプラスは多言語翻訳対応の動画作成サービスです。用途や季節に合わせて、低価格帯の動画を簡単に作成でき、短期間でご納品が可能です。">
  <meta property=og:site_name content="テンプレプラス">
  <meta property=og:image content="https://tenpureplus.com/assets/images/ogp.jpg">
  <meta name=twitter:card content="summary_large_image">
  <!-- <meta name=twitter:site content="@"> -->
  <style>
    body{
      overflow-y: scroll;
    }
    .loading {
      font-weight: 700;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      -webkit-transition: opacity 2s;
      transition: opacity 2s;
      color: #ffffff;
      background: #16b3ee;

      -webkit-display: flex;
    }

    .loading__text {
      font-size: 14px;
      margin-top: 150px;
    }

    .loading.is__fin {
      opacity: 0;
    }

    @-webkit-keyframes ball-scale-multiple {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
      }

      5% {
        opacity: 1;
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
      }
    }

    @keyframes ball-scale-multiple {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
      }

      5% {
        opacity: 0.8;
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
      }
    }

    .ball-scale-multiple {
      position: absolute;
      left: 50%;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    .ball-scale-multiple>div:nth-child(2) {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }

    .ball-scale-multiple>div:nth-child(3) {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }

    .ball-scale-multiple>div {
      position: absolute;
      top: 0;
      left: -45px;
      width: 90px;
      height: 90px;
      margin: 0;
      -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
      animation: ball-scale-multiple 1s 0s linear infinite;
      opacity: 0;
    }

    .ball-beat>div,
    .ball-scale-multiple>div {
      border-radius: 100%;
      background-color: #ffffff;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>申し訳ありません。本サービスはJavaScriptなしでは正常に動作しません。
      サービスの利用にはJavascriptを有効にしてください。</strong>
  </noscript>
  <div id="loading" class="loading">
    <div class="ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="loading__text">loading</p>
  </div>
  <div id="tenpureplus"></div>

  <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Concert+One|ZCOOL+QingKe+HuangYou|Bad+Script&display=swap" rel="stylesheet">
</body>

</html>