<template>
  <div>
    <template v-for="item in rtxt">
      <!-- twitter埋め込みの場合 -->
      <template v-if="item.match(/<Tweet.*?>/s)">
        <Tweet :id="item.match(/[0-9]+/)[0]" :key="item" />
      </template>
      <!-- iframe埋め込みの場合 -->
      <template v-else-if="item.match(/<iframe src=(.https:\/\/www.google.com\/map.*?)<\/iframe>/s)">
        <div v-html="item" :key="item"></div>
      </template>
      <!-- 上記以外はそのまま返す -->
      <template v-else>{{ item }}</template>
    </template>
  </div>
</template>

<script>
import { Tweet, Moment, Timeline } from "vue-tweet-embed";
export default {
  components: {
    Tweet,
    Moment,
    Timeline
  },
  data: function() {
    return {
      rtxt: ""
    };
  },
  props: ["txt"],
  created() {
    // console.log(this.txt);
    let reg = new RegExp(/(<Tweet.*?>|<.*?>.*?<\/.*?>)/g);
    this.rtxt = this.txt
      .split(reg)
      .join(",")
      .split(",");
  }
};
</script>

<style scoped lang="scss"></style>
