<template>
  <div class="breadcrumb">
    <!-- <div class="g__inner breadcrumb__inner">
      <router-link to="/">ホーム</router-link>
      <template v-if="param.parent">
        <template v-for="(item, index) in param.parent">
          >
          <router-link :to="item.slug" :key="index">
            {{ item.name.substring(0, 12) }}
            <template v-if="item.name.length >= 12">...</template>
          </router-link>
        </template>
      </template>
      > {{ param.here.substring(0, 8) }}
      <template v-if="param.here.length >= 8">...</template>
    </div> -->
  </div>
</template>

<script>
export default {
  props: ["param"]
};
</script>

<style scoped lang="scss">
.breadcrumb {
  font-size: 11px;
  line-height: 1.2;
  z-index: 1;
  margin-top: 45px;
  position: relative;

  @media screen and (min-width: 800px) {
    margin-top: 0;
    position: absolute;
    top: 80px;
    left: 7vw;
  }
}
.breadcrumb__inner {
  padding: 10px 20px;
  border-radius: 8px;
  background: #ffffff;
  @media screen and (min-width: 800px) {
    margin: 0;
    padding-top: 10px;
  }
}
</style>
