<template>
  <div ref="btnPageTop" class="btnPageTop">
    <button v-scroll-to="'body'">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 102 55">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 255, 255)"
          d="M52.647,54.283 C51.975,54.972 50.691,54.665 50.162,54.283 C28.030,31.782 1.077,5.198 1.077,5.198 C0.555,4.046 0.889,3.085 1.352,2.307 C1.536,1.648 1.832,1.073 2.320,0.849 C3.757,0.189 4.883,0.266 5.427,0.849 C5.970,1.431 7.426,2.846 8.533,3.955 C11.017,6.444 13.503,8.925 15.989,11.411 C16.179,11.629 16.370,11.846 16.560,12.064 C20.640,16.202 25.423,21.068 30.107,25.836 C33.271,28.898 36.436,31.960 39.599,35.022 C43.327,38.956 47.056,42.892 50.783,46.827 C51.196,46.827 51.609,46.827 52.022,46.827 C52.024,46.824 52.032,46.816 52.036,46.812 C52.823,45.456 53.957,44.688 55.052,43.743 C58.254,40.501 63.646,35.057 69.557,29.085 C73.654,24.850 77.752,20.616 81.850,16.382 C82.589,15.724 83.329,15.067 84.069,14.409 C90.260,8.139 95.437,2.879 97.383,0.849 C98.418,0.849 99.454,0.849 100.489,0.849 C101.510,2.773 101.669,1.964 101.732,5.198 C101.772,5.200 54.585,52.297 52.647,54.283 Z"
        /></svg
      ><span>ページトップへ戻る</span>
    </button>
  </div>
</template>

<script>
// import breadcrumb from "@/components/molecules/breadcrumb.vue";
export default {
  components: {
    // breadcrumb
  },
  data() {
    return {};
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },
  created() {},
  methods: {
    handleScroll() {
      if (window.scrollY > 600) {
        this.$refs.btnPageTop.classList.add("is__scroll");
        this.$refs.btnPageTop.style.visibility = "visible";
      } else {
        this.$refs.btnPageTop.classList.remove("is__scroll");
        this.$refs.btnPageTop.style.visibility = "hidden";
        // setTimeout(() => {
        // }, 500);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.btnPageTop {
  display: none;
  @media screen and (min-width: 900px) {
    display: block;
    button {
      position: fixed;
      right: 20px;
      bottom: 20px;
      overflow: hidden;
      width: 45px;
      height: 45px;
      padding: 0;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s;
      opacity: 0;
      color: #ffffff;
      border: none;
      outline: none;
      background: #323232;
      z-index: 20;
      svg path {
        transition: all 0.5s;
      }
      &:hover {
        background: #ffffff;
        svg path {
          fill: #16b3ee;
        }
      }
    }
  }
  span {
    visibility: hidden;
  }
  svg {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto 0;
    transform: rotateZ(180deg);
  }
  &.is__scroll button {
    opacity: 1;
  }
}
</style>
