<template>
  <div class="btnShare">
    <btnShareUrl></btnShareUrl>
    <btnShareTwitter :params="{ tit: encode(param.tit), link: encode(param.link) }"></btnShareTwitter>
    <btnShareFacebook :params="{ tit: encode(param.tit), link: encode(param.link) }"></btnShareFacebook>
    <btnShareLine :params="{ tit: encode(param.tit), link: encode(param.link) }"></btnShareLine>
    <btnShareFbMessenger :params="{ tit: encode(param.tit), link: encode(param.link) }"></btnShareFbMessenger>
  </div>
</template>

<script>
import btnShareUrl from "@/viewComponent/atoms/btnShareUrl.vue";
import btnShareTwitter from "@/viewComponent/atoms/btnShareTwitter.vue";
import btnShareFacebook from "@/viewComponent/atoms/btnShareFacebook.vue";
import btnShareFbMessenger from "@/viewComponent/atoms/btnShareFbMessenger.vue";
import btnShareLine from "@/viewComponent/atoms/btnShareLine.vue";
import btnShareWhatsapp from "@/viewComponent/atoms/btnShareWhatsapp.vue";
import btnShareKakao from "@/viewComponent/atoms/btnShareKakao.vue";
import btnShareWeChat from "@/viewComponent/atoms/btnShareWeChat.vue";
import btnShareWeibo from "@/viewComponent/atoms/btnShareWeibo.vue";
export default {
  props: ["param"],
  methods: {
    encode: t => encodeURIComponent(t)
  },
  components: {
    btnShareUrl,
    btnShareTwitter,
    btnShareFacebook,
    btnShareFbMessenger,
    btnShareLine,
    btnShareWhatsapp,
    btnShareKakao,
    btnShareWeChat,
    btnShareWeibo
  }
};
</script>

<style scoped lang="scss">
.btnShare {
  margin-bottom: 20px;
}
.btn {
  font-size: 65%;
  margin-right: 5px;
}
</style>
