<template>
  <div class="checkPolicy" ref="checkPolicy">
    <ValidationProvider :rules="{ required: { allowFalse: false } }" v-slot="{ errors }" class="checkPolicy__block" name="個人情報保護に同意">
      <div class="checkPolicy__read">
        <readPolicy />
      </div>
      <input id="policy" name="policy" v-model="data" type="checkbox" value="個人情報保護に同意する" />
      <label for="policy">
        個人情報保護に同意する
        <b class="checkPolicy__block__require">*</b>
      </label>
      <span>{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
import readPolicy from "@/viewComponent/organisms/readPolicy.vue";
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    readPolicy,
    ValidationProvider
  },
  data: () => ({
    data: ""
  }),
  methods: {}
};
</script>

<style scoped lang="scss">
input {
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  border: 1px solid #333;
}
label {
  margin-right: 10px;
}
.checkPolicy__read {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
  height: 170px;
  overflow-y: scroll;
  margin-bottom: 20px;
  background: #ededed;
  -webkit-overflow-scrolling: touch;
}
.checkPolicy__block {
  font-size: 90%;
  position: relative;
  display: block;
  padding: 10px 0 40px;
  text-align: center;
  label {
    position: absolute;
    transition: all 0.3s;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
  }
  span {
    font-size: 75%;
    position: absolute;
    bottom: 2.2em;
    left: 0;
    color: red;
  }
}
.checkPolicy__block__title {
  text-align: left;
}
.checkPolicy__block__require {
  color: red;
  display: inline;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .checkPolicy__block::before {
    width: 100%;
  }
}
</style>
