<template>
  <div id="gLoading" class="gLoading" :class="'patern' + param.patern">
    <div class="ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="gLoading__text">
      <template v-if="param.message.length">
        {{ param.message }}
      </template>
      <template v-else>
        loading
      </template>
    </p>
  </div>
</template>

<script>
export default {
  props: ["param"],
  components: {},
  computed: {},
  data() {
    return {};
  },
  methods: {},
  watch: {},
  created() {}
};
</script>

<style scoped lang="scss">
.gLoading {
  font-weight: 700;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 2s;
}
.gLoading__text {
  font-size: 14px;
  margin-top: 150px;
}
.gLoading.is__fin {
  opacity: 0;
}
@keyframes ball-scale-multiple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.ball-scale-multiple {
  position: absolute;
  left: 50%;
  transform: translateY(-30px);
}
.ball-scale-multiple > div:nth-child(2) {
  animation-delay: -0.4s;
}
.ball-scale-multiple > div:nth-child(3) {
  animation-delay: -0.2s;
}
.ball-scale-multiple > div {
  position: absolute;
  top: 0;
  left: -45px;
  width: 90px;
  height: 90px;
  margin: 0;
  animation: ball-scale-multiple 1s 0s linear infinite;
  opacity: 0;
}
/**
 * color patern
 */
.patern1.gLoading {
  color: #ffffff;
}
.patern1 .ball-beat > div,
.patern1 .ball-scale-multiple > div {
  border-radius: 100%;
  background-color: #ffffff;
}
.patern2.gLoading {
  color: #333333;
}
.patern2 .ball-beat > div,
.patern2 .ball-scale-multiple > div {
  border-radius: 100%;
  background-color: #333333;
}
</style>
