<template>
  <div class="inputText" ref="inputText">
    <!-- rulesはpropで引き継いだルール -->
    <ValidationProvider :rules="param.rules" v-slot="{ errors }" tag="div" class="inputText__block" :name="param.text">
      <label :for="param.name">
        {{ param.text }}
        <!-- 必須項目の場合*表示 -->
        <template v-if="param.rules.required">
          <b class="inputText__block__require">*</b>
        </template>
        <template v-if="param.subtext">
          <i>{{ param.subtext }}</i>
        </template>
      </label>
      <!-- 必須項目の場合inputにhtml5用のrequiredを追加 -->
      <template v-if="param.rules.required">
        <input required :id="param.name" :name="param.name" v-model="data" type="text" @focus="focus" @blur="blur" />
      </template>
      <!-- 必須項目でない場合はrequiredを入れない -->
      <template v-else>
        <input :id="param.name" :name="param.name" v-model="data" type="text" @focus="focus" @blur="blur" />
      </template>
      <!-- エラー文言表示 -->
      <span>{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required, email, regex } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
extend("email", email);
extend("regex", regex);
localize("ja", ja);

export default {
  props: ["param"],
  components: {
    ValidationProvider
  },
  data: () => ({
    data: ""
  }),
  methods: {
    focus() {
      this.$refs.inputText.classList.add("js-focus");
    },
    blur(e) {
      if (!e.currentTarget.value) {
        this.$refs.inputText.classList.remove("js-focus");
      }
    }
  }
};
</script>

<style scoped lang="scss">
input {
  width: 100%;
  padding: 5px 10px 0.5vw 0;
  border: none;
  border-bottom: 2px solid #cccccc;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
.inputText__block {
  font-size: 90%;
  position: relative;
  display: block;
  padding: 10px 0 4.5vw;
  margin-bottom: 10px;
  @media screen and (min-width: 800px) {
    padding: 10px 0 2vw;
  }
  @media screen and (min-width: 1200px) {
    padding: 10px 0 1.5vw;
  }
  label {
    position: absolute;
    top: 0.8em;
    left: 0;
    transition: all 0.3s;
  }
  span {
    font-size: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
  }
  i {
    text-decoration: none;
    font-size: 80%;
  }
  // &::before {
  //   position: absolute;
  //   top: 2.5em;
  //   width: 0%;
  //   content: "";
  //   border-top: 2px solid #4d9ebb;
  // }
}
.inputText__block__require {
  display: inline;
  color: red;
}
/**
フォーカス時の処理
 */
.js-focus {
  input {
    border-bottom: 2px solid #4d9ebb;
  }
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .inputText__block::before {
    width: 100%;
  }
}
</style>
