<template>
  <div class="inputHidden" ref="inputHidden">
    <input :id="param.name" :name="param.name" :value="param.value" type="hidden" />
  </div>
</template>
<script>
export default {
  props: ["param"],
  components: {},
  data: () => ({
    data: ""
  }),
  methods: {}
};
</script>

<style scoped lang="scss">
input {
  width: 100%;
  padding: 5px 10px 5px 0;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
</style>
