<template>
  <div class="inputMessage" ref="inputMessage">
    <!-- rulesはpropで引き継いだルール -->
    <ValidationProvider :rules="param.rules" v-slot="{ errors }" tag="div" class="inputMessage__block" :name="param.text">
      <label :for="param.name">
        {{ param.text }}
        <!-- 必須項目の場合*表示 -->
        <template v-if="param.rules.required">
          <b class="inputMessage__block__require">*</b>
        </template>
      </label>
      <!-- 必須項目の場合inputにhtml5用のrequiredを追加 -->
      <template v-if="param.rules.required">
        <textarea
          required
          rows="5"
          id="message"
          :name="param.name"
          v-model="data"
          @focus="focus"
          @blur="blur"
          :placeholder="param.placeholder"
        ></textarea>
      </template>
      <!-- 必須項目でない場合はrequiredを入れない -->
      <template v-else>
        <textarea rows="5" id="message" :name="param.name" v-model="data" @focus="focus" @blur="blur" :placeholder="param.placeholder"></textarea>
      </template>
      <!-- エラー文言表示 -->
      <span>{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required, email, regex } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
extend("email", email);
extend("regex", regex);
localize("ja", ja);

export default {
  props: ["param"],
  components: {
    ValidationProvider
  },
  data: () => ({
    data: ""
  }),
  methods: {
    focus() {
      this.$refs.inputMessage.classList.add("js-focus");
    },
    blur(e) {
      if (!e.currentTarget.value) {
        this.$refs.inputMessage.classList.remove("js-focus");
      }
    }
  }
};
</script>

<style scoped lang="scss">
textarea {
  width: 100%;
  height: 200px;
  padding: 2em 10px 5px;
  border: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  font-weight: normal;
}
textarea::placeholder {
  color: #cccccc;
  font-size: 90%;
  padding-top: 1.3em;
}
_:-ms-fullscreen,
:root textarea::placeholder {
  padding-top: 3.3em;
  font-weight: normal;
}
.inputMessage__block {
  font-size: 3vw;
  position: relative;
  display: block;
  padding: 10px 0 0;
  @media screen and (min-width: 800px) {
    font-size: 90%;
  }
  label {
    position: absolute;
    top: 1.5em;
    left: 15px;
    transition: all 0.3s;
  }
  span {
    font-size: 75%;
    position: absolute;
    bottom: 2.2em;
    left: 0;
    color: red;
  }
}
.inputMessage__block__require {
  color: red;
  display: inline;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    top: 1.5em;
    color: #4d9ebb;
    @media screen and (min-width: 800px) {
      font-size: 12px;
    }
  }
  .inputMessage__block {
    textarea {
      border: 2px solid #4d9ebb;
    }
  }
}
</style>
