<template>
  <button class="linkButton" :class="params.link ? 'unker' : ''" :style="styles" @click="mylink">
    {{ this.params.text
    }}<span>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 82.64 80.34">
        <path
          class="st0"
          d="M82.64,40.17c0-0.09-0.01-0.17-0.01-0.26c0-0.15-0.01-0.3-0.02-0.44c-0.01-0.13-0.03-0.25-0.05-0.38
		c-0.02-0.13-0.04-0.27-0.06-0.4c-0.02-0.13-0.06-0.26-0.09-0.39c-0.03-0.12-0.06-0.25-0.09-0.37c-0.04-0.13-0.08-0.26-0.13-0.39
		c-0.04-0.12-0.08-0.24-0.13-0.35c-0.05-0.13-0.1-0.25-0.16-0.37c-0.05-0.12-0.11-0.23-0.17-0.35c-0.06-0.12-0.13-0.24-0.2-0.35
		c-0.06-0.11-0.13-0.22-0.2-0.32c-0.08-0.12-0.16-0.23-0.24-0.35c-0.07-0.1-0.14-0.19-0.21-0.29c-0.1-0.12-0.2-0.24-0.31-0.36
		c-0.05-0.06-0.1-0.12-0.16-0.18L49.93,2.77c-3.06-3.21-8.15-3.33-11.36-0.26l0,0c-3.21,3.06-3.33,8.15-0.26,11.36l17.48,18.27H8.03
		C3.6,32.14,0,35.73,0,40.17v0c0,4.44,3.6,8.03,8.03,8.03h48.03L38.31,66.76c-3.06,3.21-2.95,8.29,0.26,11.36l0,0
		c3.21,3.06,8.29,2.95,11.36-0.26l30.48-31.85c1.5-1.57,2.23-3.59,2.22-5.6c0-0.03,0-0.06,0-0.09c0-0.02,0-0.04,0-0.07
		C82.63,40.22,82.64,40.2,82.64,40.17L82.64,40.17z"
        />
      </svg>
    </span>
  </button>
</template>

<script>
export default {
  props: ["params"],
  data: function() {
    return {};
  },
  methods: {
    mylink() {
      if (this.params.router) {
        this.$router.push({
          name: this.params.router.name,
          params: this.params.router.params
        });
      } else {
        this.$scrollTo(this.params.link, 300);
      }
    }
  },
  watch: {},
  computed: {
    // バインドするスタイルを生成
    styles() {
      return {
        "--color": this.params.color
      };
    }
  },
  created() {}
};
</script>

<style scoped lang="scss">
.linkButton {
  --color: #333333;
  font-weight: 600;
  display: block;
  min-width: 230px;
  margin: 0 auto;
  padding: 17px 3.3em 17px 20px;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #474645;
  box-shadow: 3px 3px 0px var(--color);
  white-space: pre;
  span {
    margin-left: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    position: absolute;
    top: calc(50% - 15px);
    right: 15px;
    z-index: 1;
  }
  @media screen and (min-width: 800px) {
    min-width: 260px;
  }
}
.linkButton svg {
  height: 20px;
  top: 5px;
  position: relative;
  .st0 {
    fill: #37bef0;
  }
}
.linkButton.unker svg {
  transform: rotateZ(90deg);
}
.linkButton:hover span {
  animation: bound 1s ease infinite;
}
</style>
