<template>
  <div class="selectExt" ref="selectExt">
    <ValidationProvider :rules="{ required: {} }" v-slot="{ errors }" class="selectExt__block" name="動画種類">
      <h3 class="selectExt__block__title">納品形式</h3>
      <div class="selectExt__block__area">
        <label for="ext1"><input id="ext1" v-model="data" value="mp4" type="checkbox" name="ext" checked /> mp4</label>
        <label for="ext2"><input id="ext2" v-model="data" value="mov" type="checkbox" name="ext" /> mov</label>
        <label for="ext3"><input id="ext3" v-model="data" value="wmv" type="checkbox" name="ext" /> wmv</label>
        <label for="ext4"><input id="ext4" v-model="data" value="avi" type="checkbox" name="ext" /> avi</label>
        <span>{{ errors[0] }}</span>
      </div>
      <p class="selectExt__block__point">
        複数形式での納品は<br class="g__pc__hide" />1言語追加につき<br class="g__pc__hide" />+<b>{{ price }}</b
        >円<i>(税込み)</i>
      </p>
      <p class="g__cap">
        ※<strong>上記以外の形式</strong>をご希望の場合はフォーム下部の<strong>「その他ご相談事項」</strong>にてご相談ください。
      </p>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    ValidationProvider
  },
  props: ["price", "tax"],
  data: () => ({
    data: ["mp4"]
  }),
  watch: {
    data() {
      this.$emit("updated", this.data.length);
    }
  }
};
</script>

<style scoped lang="scss">
input {
  border: none;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  border: 1px solid #333;
}
label {
  margin: 0 10px 10px 0;
  display: inline-block;
}
.selectExt__block {
  font-size: 90%;
  line-height: 2;
  position: relative;
  display: block;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px 20px 20px;
  line-height: 1.5;
  label {
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
    transition: all 0.3s;
    b {
      font-weight: normal;
      font-size: 80%;
    }
  }
  span {
    font-size: 80%;
    left: 0;
    color: red;
    text-align: center;
    display: block;
  }
}
.selectExt__block__title {
  text-align: center;
}
.selectExt__block__point {
  text-align: center;
  font-weight: bold;
  b {
    color: #e37d0f;
    font-weight: bold;
    font-style: normal;
    font-size: 130%;
  }
  i {
    font-size: 80%;
    font-style: normal;
  }
}
.selectExt__block__area {
  font-size: 90%;
  background: #f5f5f5;
  padding: 20px 10px 12px;
  text-align: left;
  @media screen and (min-width: 800px) {
    text-align: center;
  }
}
.g__cap {
  text-align: left;
  text-indent: -1em;
  padding-left: 1em;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .selectExt__block::before {
    width: 100%;
  }
}
</style>
