<template>
  <div class="selectMusic" ref="selectMusic">
    <ValidationProvider :rules="{ required: {} }" v-slot="{ errors }" class="selectMusic__block" name="サイズ">
      <h3 class="selectMusic__block__title">音声</h3>
      <div class="selectMusic__block__area">
        <label for="music1"><input id="music1" v-model="data" value="デフォルト音源" type="radio" name="music" checked /> デフォルト音源</label>
        <label for="music2"><input id="music2" v-model="data" value="無音" type="radio" name="music" /> 無音</label>
        <span>{{ errors[0] }}</span>
      </div>
      <p class="g__cap">
        ※<strong>音源の変更</strong>をご希望の場合はフォーム下部の<strong>「その他ご相談事項」</strong>にてご相談ください。
      </p>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    ValidationProvider
  },
  props: ["price", "tax"],
  data: () => ({
    data: "デフォルト音源"
  }),
  watch: {
    data(value) {
      if (value == "フルハイビジョン") {
        this.$emit("updated", 0);
      } else {
        this.$emit("updated", 1);
      }
    }
  }
};
</script>

<style scoped lang="scss">
input {
  border: none;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  border: 1px solid #333;
  border-top: none;
}
label {
  margin: 0 10px 10px 0;
  display: inline-block;
}
.selectMusic__block {
  font-size: 90%;
  line-height: 2;
  position: relative;
  display: block;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px 20px 20px;
  line-height: 1.5;
  label {
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
    transition: all 0.3s;
    b {
      font-weight: normal;
      font-size: 80%;
    }
  }
  span {
    font-size: 80%;
    left: 0;
    color: red;
    text-align: center;
    display: block;
  }
}
.selectMusic__block__title {
  text-align: center;
}
.selectMusic__block__area {
  font-size: 90%;
  background: #f5f5f5;
  padding: 20px 10px 12px;
  text-align: left;
  @media screen and (min-width: 800px) {
    text-align: center;
  }
}
.g__cap {
  text-align: left;
  text-indent: -1em;
  padding-left: 1em;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .selectMusic__block::before {
    width: 100%;
  }
}
</style>
