<template>
  <div class="selectLang" ref="selectLang">
    <ValidationProvider :rules="{ required: {} }" v-slot="{ errors }" class="selectLang__block" name="言語">
      <h3 class="selectLang__block__title">言語</h3>
      <div class="selectLang__block__area">
        <label for="lang1"><input id="lang1" v-model="data" value="日本語" type="checkbox" name="lang" disabled checked /> 【基本料金】日本語</label>
        <label for="lang2"><input id="lang2" v-model="data" value="英語" type="checkbox" name="lang" /> 英語</label><br />
        <label for="lang3"><input id="lang3" v-model="data" value="中国語簡体字" type="checkbox" name="lang" /> 中国語<b>(簡体字)</b></label>
        <label for="lang4"><input id="lang4" v-model="data" value="中国語繁体字" type="checkbox" name="lang" /> 中国語<b>(繁体字)</b></label>
        <label for="lang5"><input id="lang5" v-model="data" value="韓国語" type="checkbox" name="lang" /> 韓国語</label>
        <span>{{ errors[0] }}</span>
      </div>
      <p class="selectLang__block__point">
        1言語追加につき<br class="g__pc__hide" />+<b>{{ price }}</b
        >円<i>(税込み)</i>
      </p>
      <p class="g__cap">
        ※<strong>日本語動画の制作は必須</strong>となります。
      </p>
      <p class="g__cap">
        ※<strong>上記以外の言語</strong>も制作可能です。フォーム下部の<strong>「その他ご相談事項」</strong>にてお問合せください。
      </p>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    ValidationProvider
  },
  props: ["price", "tax"],
  data: () => ({
    data: ["日本語"]
  }),
  watch: {
    data() {
      this.$emit("updated", this.data.length);
    }
  }
};
</script>

<style scoped lang="scss">
input {
  border: none;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  border: 1px solid #333;
}
label {
  margin: 0 10px 10px 0;
  display: inline-block;
}
.selectLang__block {
  font-size: 90%;
  line-height: 2;
  position: relative;
  display: block;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px 20px 20px;
  line-height: 1.5;
  label {
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
    transition: all 0.3s;
    b {
      font-weight: normal;
      font-size: 80%;
    }
  }
  span {
    font-size: 80%;
    left: 0;
    color: red;
    text-align: center;
    display: block;
  }
}
.selectLang__block__title {
  text-align: center;
  font-size: 100%;
}
.selectLang__block__point {
  text-align: center;
  font-weight: bold;
  b {
    color: #e37d0f;
    font-weight: bold;
    font-style: normal;
    font-size: 130%;
  }
  i {
    font-size: 80%;
    font-style: normal;
  }
}
.selectLang__block__area {
  font-size: 90%;
  background: #f5f5f5;
  padding: 20px 10px 12px;
  text-align: left;
  @media screen and (min-width: 800px) {
    text-align: center;
  }
}
.g__cap {
  text-align: left;
  text-indent: -1em;
  padding-left: 1em;
  margin: 0;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .selectLang__block::before {
    width: 100%;
  }
}
</style>
