<template>
  <div class="selectManagement" ref="selectManagement">
    <ValidationProvider :rules="{ required: { allowFalse: false } }" v-slot="{ errors }" class="selectManagement__block" name="個人／法人">
      <p class="selectManagement__block__title">
        個人／法人
        <b class="selectManagement__block__require">*</b>
      </p>
      <label for="management"><input id="management" v-model="data" value="個人" type="radio" name="management" /> 個人</label>
      <label for="management2"><input id="management2" v-model="data" value="法人" type="radio" name="management" /> 法人</label>
      <span>{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    ValidationProvider
  },
  data: () => ({
    data: ""
  }),
  watch: {
    data() {
      this.$emit("updated", this.data);
    }
  },
  methods: {}
};
</script>

<style scoped lang="scss">
input {
  border: none;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border: 1px solid #333;
}
label {
  margin-right: 10px;
}
.selectManagement__block {
  font-size: 90%;
  position: relative;
  display: block;
  padding: 10px 0 40px;
  text-align: center;
  label {
    position: absolute;
    transition: all 0.3s;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
  }
  span {
    font-size: 75%;
    position: absolute;
    bottom: 2.2em;
    left: 0;
    color: red;
  }
}
.selectManagement__block__title {
  text-align: left;
}
.selectManagement__block__require {
  color: red;
  display: inline;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .selectManagement__block::before {
    width: 100%;
  }
}
</style>
