<template>
  <div class="selectSize" ref="selectSize">
    <ValidationProvider :rules="{ required: {} }" v-slot="{ errors }" class="selectSize__block" name="サイズ">
      <h3 class="selectSize__block__title">動画サイズ</h3>
      <div class="selectSize__block__area">
        <label for="size1"
          ><input id="size1" v-model="data" value="フルハイビジョン" type="radio" name="size" checked /> 【基本料金】フルハイビジョン<b
            >(1920×1080)</b
          ></label
        ><br />
        <label for="size2"><input id="size2" v-model="data" value="正方形(1080×1080)" type="radio" name="size" /> 正方形<b>(1080×1080)</b></label>
        <label for="size3"><input id="size3" v-model="data" value="縦型(1080×1920)" type="radio" name="size" /> 縦型<b>(1080×1920)</b></label>
        <span>{{ errors[0] }}</span>
      </div>
      <p class="selectSize__block__point">
        リサイズは+<b>{{ price }}</b
        >円<i>(税込み)</i>
      </p>
      <p class="g__cap">
        ※<strong>上記以外のサイズ</strong>も作成可能です。フォーム下部の<strong>「その他ご相談事項」</strong>にてお問合せください。
      </p>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    ValidationProvider
  },
  props: ["price"],
  data: () => ({
    data: "フルハイビジョン"
  }),
  watch: {
    data(value) {
      if (value == "フルハイビジョン") {
        this.$emit("updated", 0);
      } else {
        this.$emit("updated", 1);
      }
    }
  }
};
</script>

<style scoped lang="scss">
input {
  border: none;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  border: 1px solid #333;
  border-top: none;
}
label {
  margin: 0 10px 10px 0;
  display: inline-block;
}
.selectSize__block {
  font-size: 90%;
  line-height: 2;
  position: relative;
  display: block;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px 20px 20px;
  line-height: 1.5;
  label {
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
    transition: all 0.3s;
    b {
      font-weight: normal;
      font-size: 80%;
    }
  }
  span {
    font-size: 80%;
    left: 0;
    color: red;
    text-align: center;
    display: block;
  }
}
.selectSize__block__title {
  text-align: center;
}
.selectSize__block__point {
  text-align: center;
  font-weight: bold;
  b {
    color: #e37d0f;
    font-weight: bold;
    font-style: normal;
    font-size: 130%;
  }
  i {
    font-size: 80%;
    font-style: normal;
  }
}
.selectSize__block__area {
  font-size: 90%;
  background: #f5f5f5;
  padding: 20px 10px 12px;
  text-align: left;
  @media screen and (min-width: 800px) {
    text-align: center;
  }
}
.g__cap {
  text-align: left;
  text-indent: -1em;
  padding-left: 1em;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .selectSize__block::before {
    width: 100%;
  }
}
</style>
