<template>
  <div class="selectManagement" ref="selectManagement">
    <!-- rulesはpropで引き継いだルール -->
    <ValidationProvider rules="required" v-slot="{ errors }" :class="'inquiry__block'" name="都道府県">
      <p style="text-align:left;">都道府県 *</p>
      <select v-model="prefectures" required id="prefectures" @focus="focus" @blur="blur">
        <option value>選択してください</option>
        <option v-for="val in pref" :value="val" :key="val">{{ val }}</option>
      </select>
      <span>{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider, extend, localize } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import ja from "vee-validate/dist/locale/ja.json";
extend("required", required);
localize("ja", ja);

export default {
  components: {
    ValidationProvider
  },
  data: () => ({
    data: "",
    pref: [
      "海外",
      "北海道",
      "青森県",
      "岩手県",
      "宮城県",
      "秋田県",
      "山形県",
      "福島県",
      "茨城県",
      "栃木県",
      "群馬県",
      "埼玉県",
      "東京都",
      "千葉県",
      "神奈川県",
      "新潟県",
      "長野県",
      "山梨県",
      "富山県",
      "石川県",
      "福井県",
      "岐阜県",
      "静岡県",
      "愛知県",
      "滋賀県",
      "京都府",
      "大阪府",
      "奈良県",
      "兵庫県",
      "和歌山県",
      "三重県",
      "鳥取県",
      "島根県",
      "岡山県",
      "広島県",
      "山口県",
      "徳島県",
      "香川県",
      "愛媛県",
      "高知県",
      "福岡県",
      "佐賀県",
      "長崎県",
      "熊本県",
      "大分県",
      "宮崎県",
      "鹿児島県",
      "沖縄県"
    ]
  }),
  methods: {}
};
</script>

<style scoped lang="scss">
input {
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 3px;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
label {
  margin-right: 10px;
}
.selectManagement__block {
  font-size: 90%;
  position: relative;
  display: block;
  padding: 10px 0 40px;
  text-align: center;
  label {
    position: absolute;
    transition: all 0.3s;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
  }
  span {
    font-size: 75%;
    position: absolute;
    bottom: 2.2em;
    left: 0;
    color: red;
  }
}
.selectManagement__block__title {
  text-align: left;
}
.selectManagement__block__require {
  color: red;
  display: inline;
}
/**
フォーカス時の処理
 */
.js-focus {
  label {
    font-size: 12px;
    top: -5px;
    color: #4d9ebb;
  }
  .selectManagement__block::before {
    width: 100%;
  }
}
</style>
